#customcontent2_top {}
#index.instant_search #customcontent2_top {display: none;}

#customcontent2_top ul {}
#customcontent2_top ul li {margin-top: 30px;}
#customcontent2_top ul li a {}
#customcontent2_top ul li div {height: 54px;padding: 0 10px 0 20px;background: #f88c2a;}
#customcontent2_top ul li h3 {margin: 0;padding: 0;font: bold 21px/54px 'Trebuchet MS';color: #fff;text-transform: uppercase;}
#customcontent2_top ul li h3 i {display: inline-block;margin: 3px 0 0 0;font-size: 40px;color: #fff;float: right;}

/*
#customcontent2_top ul li.item-2 div {background: #ff3815;}
#customcontent2_top ul li.item-3 div {background: #f8af00;}
#customcontent2_top ul li.item-4 div {background: #84cc06;}
#customcontent2_top ul li.item-5 div {background: #025eaa;}
#customcontent2_top ul li.item-6 div {background: #8406cc;}
*/

#customcontent2_top ul li div {
-webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
}
#customcontent2_top ul li:hover div {background: #0088cc;
-webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}



@media only screen and (min-width: 950px) and (max-width: 1199px) {

#customcontent2_top ul li {margin-top: 20px;}
#customcontent2_top ul li div {height: 40px;}
#customcontent2_top ul li h3 {font: bold 16px/40px 'Trebuchet MS';}
#customcontent2_top ul li h3 i {font-size: 20px;line-height: 35px;}

}



@media only screen and (min-width: 768px) and (max-width: 979px) {

#customcontent2_top ul li {margin-top: 20px;}
#customcontent2_top ul li div {height: 40px;}
#customcontent2_top ul li h3 {font: bold 14px/40px 'Trebuchet MS';}
#customcontent2_top ul li h3 i {font-size: 20px;line-height: 35px;}

}



@media only screen and (max-width: 767px) {

#customcontent2_top ul {padding: 10px 0 0 0;}
#customcontent2_top ul li {width: 100%;float: none;margin: 10px 0 0 0;padding: 0;border: 1px solid #d4d4d4;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
#customcontent2_top ul li a {display: block;text-align: center;}
#customcontent2_top ul li div {height: 40px;}
#customcontent2_top ul li h3 {font: bold 14px/40px 'Trebuchet MS';text-align: left;}
#customcontent2_top ul li h3 i {font-size: 20px;line-height: 35px;}

}



/*Backend Styles*/
.customcontent_fieldset.deleteItem {
  background: #F2DEDE;
  border-color: #EED3D7;
}
.customcontent_fieldset {
  margin-bottom: 20px;
}
.customcontent_fieldset label {
  width: 120px;
}
.customcontent_fieldset .left-col {
  float: left;
  margin-right: 20px;
  width: 510px;
}
.customcontent_fieldset .field {
  margin-bottom: 6px;
}
.customcontent_fieldset .html {
  position: relative;
}
.customcontent_fieldset .html .displayed_flag {
  float: right;
}
.customcontent_fieldset .html .language_flags {
  position: absolute;
  top: 0;
  right: 20px;
}
.customcontent_fieldset .deleteItem {
  overflow: hidden;
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}
.customcontent_fieldset .deleteItem input {
  float: left;
  margin-right: 6px;
}
.customcontent_fieldset .deleteItem label {
  width: auto;
  float: none;
  display: inline;
}
.submit-wrapper {
  margin: 20px 0;
}
