<div class="row-fluid">
	<div class="col-xs-12 col-sm-5">
		<div class="text-right" style="padding: 3em 0 2em 0;">
		<h1 style="font-size: 2.2em; font-family: 'Fjalla One';">WELCOME TO THE</h1>
		<h1 style="font-size: 2.2em; font-family: 'Fjalla One';"><span style="color: #00a161;">TRANSFORMER</span> DEMO STORE</h1>
	</div>
	</div>
	<div class="col-xs-12 col-sm-7">
		<div style="padding: 3em 0 2em 0;">
			<p>Transformer theme is an elegant, powerful and fully responsive prestashop theme with modern design. Suitable for every type of store.</p>
			<a class="btn btn-default" title="Buy this theme" href="http://themeforest.net/item/transformer-responsive-prestashop-theme/5095795?ref=tantan199">Buy this theme</a>
		</div>
	</div>
</div>