<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="pad_tb1 color_444">
			<div class="clearfix">
				<em class="icon-leaf icon-1x pull-left mar_r4">&nbsp;</em>
				<h4 class="pull-left">Fast Delivery Around The Globe</h4>
			</div>
			<div class="color_999">Transformer theme is an elegant, powerful and fully responsive prestashop theme with modern design. Suitable for every type of store.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="pad_tb1 color_444">
			<div class="clearfix">
				<em class="icon-trophy icon-1x pull-left mar_r4">&nbsp;</em>
				<h4 class="pull-left">Convenient Customer Service</h4>
			</div>
			<div class="color_999">Transformer theme is an elegant, powerful and fully responsive prestashop theme with modern design. Suitable for every type of store.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="pad_tb1 color_444">
			<div class="clearfix">
				<em class="icon-fast-food icon-1x pull-left mar_r4">&nbsp;</em>
				<h4 class="pull-left">Easy & Safe Online Shopping</h4>
			</div>
			<div class="color_999">Transformer theme is an elegant, powerful and fully responsive prestashop theme with modern design. Suitable for every type of store.</div>
		</div>
	</div>
</div>