<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="text-center pad_tb1">
			<a href="#" class="text-center wrap_font_icon_2">
				<em class="icon-tint icon-4x mar_b10">&nbsp;</em>
				<span class="mar_b4" style="font-family: 'Arvo';">Powerful theme editor</span>
			</a>
			<p class="color_999">Premium Prestashop Theme</p>
			<div class="color_666">Theme editor is great and powerly module to customize your theme. You can change unlimited colour item, colour text, colour background, and almost item in your theme.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="text-center pad_tb1">
			<a href="#" class="text-center wrap_font_icon_2">
				<em class="icon-fire icon-4x mar_b10">&nbsp;</em>
				<span class="mar_b4" style="font-family: 'Arvo';">Blog / News module</span>
			</a>
			<p class="color_999">Premium Prestashop Theme</p>
			<div class="color_666">Blog module allows you to manage the articles, categories of your blog, but also to link products with your posts in order to create a relationship between your blog and your catalog.</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="text-center pad_tb1">
			<a href="#" class="text-center wrap_font_icon_2">
				<em class="icon-umbrella icon-4x mar_b10">&nbsp;</em>
				<span class="mar_b4" style="font-family: 'Arvo';">RTL Language Supported</span>
			</a>
			<p class="color_999">Premium Prestashop Theme</p>
			<div class="color_666">Full support for Right-To-Left langauges(Arabic, Persian, Urdu and Hebrew). Just in case you didn&rsquo; t know &ndash; over 700 Million people around the world write from right to left&hellip;!</div>
		</div>
	</div>
</div>