<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="wrap_font_icon_1 clearfix pad_tb1">
			<div class="font_icon_1 pull-left color_444"><em class="icon-truck icon-1x">&nbsp;</em></div>
			<div style="margin-left: 72px;">
				<h4 class="color_444">Fast Delivery Around The Globe</h4>
				<div class="color_999">Transformer theme is an elegant, powerful and fully responsive prestashop theme with modern design. Suitable for every type of store.</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="wrap_font_icon_1 clearfix pad_tb1">
			<div class="font_icon_1 pull-left color_444"><em class="icon-phone icon-1x">&nbsp;</em></div>
			<div style="margin-left: 72px;">
				<h4 class="color_444">Convenient Customer Service</h4>
				<div class="color_999">Transformer theme is an elegant, powerful and fully responsive prestashop theme with modern design. Suitable for every type of store.</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4">
		<div class="wrap_font_icon_1 clearfix pad_tb1">
			<div class="font_icon_1 pull-left color_444"><em class="icon-location icon-1x">&nbsp;</em></div>
			<div style="margin-left: 72px;">
				<h4 class="color_444">Easy & Safe Online Shopping</h4>
				<div class="color_999">Transformer theme is an elegant, powerful and fully responsive prestashop theme with modern design. Suitable for every type of store.</div>
			</div>
		</div>
	</div>
</div>