/* ————— product-list.tpl ————— */
.des-mob,.product_desc.mob,.product_desc.mob2{ display:none;}
#product_list {position:relative;}
#product_list .product_flags {margin:0px 0 8px 0;}
#product_list .product_flags span {display:inline-block;float:left;margin:0 20px 0px 0;}
#product_list .product_flags span.new { color:#000;}
#product_list .product_flags span.online_only { margin-right:0;}
#product_list .right_block span.on_sale,#product_list .right_block span.discount {display:block;margin:-1px 0 17px 0; color:#f00;}

.list {padding:0px 0px 0 0; margin:0;}
.list li.last_item { padding-bottom:0;margin-bottom:0px;}
.list li.first_item { border:none!important;}
.list li {padding:15px;margin:30px 0 0px 0;border-bottom:0;border: 1px solid #d4d4d4; width:100%;
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;
}

.list li a.product_img_link {width:150px;float:left;}

.list li .center_block {width:450px;float:left;padding:0px 0 0 20px;}
.list li .center_block h5 {margin: 0;padding: 15px 0 0 0;}
.list li .center_block .product_desc {margin:0;padding: 13px 0 0 0;}

.list li .right_block {width:170px;float:right;padding:0px 0 0 20px;height:230px; border-left: 1px solid #d4d4d4; }
.list li .right_block span.price {display: inline-block;margin: 0 0 0 0;font: bold 18px/25px 'Trebuchet MS';}
.list li .right_block .compare {margin:0;padding:18px 0 0 0;}
.list li .right_block .compare input { margin:4px 10px 0 0}
.list li .right_block .exclusive {margin:18px 10px 0 0;}
.list li .right_block .button {margin:18px 0 0 0;}



.grid li {padding:20px; margin-top:30px;border: 1px solid #d4d4d4;
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;
}

.grid li.alpha { clear:left;}

.grid li a.product_img_link {display:block;text-align:center;}

.grid li h5 { min-height:46px; padding:18px 0 0 0}

.grid li .center_block .product_desc,
#product_list.grid .right_block span.on_sale,
#product_list.grid .right_block span.discount,
#product_list.grid .product_flags {display:none;}

.grid li span.price {display: inline-block;margin: 15px 0 0 0;font: bold 18px/25px 'Trebuchet MS';}
.grid li .compare {margin:0;padding:18px 0 0 0;}
.grid li .compare label { display:inline;}
.grid li .compare input { margin-right:7px;}

.grid li .exclusive {margin:18px 16px 0px 0;}
.grid li .button {margin:18px 0 0 0;}



@media only screen and (min-width: 950px) and (max-width: 1199px) {

	.grid li{ padding:15px; margin-top:20px;}
	.list li .center_block {width: 280px;}	

}



@media only screen and (min-width: 768px) and (max-width: 979px) {

	.grid li { padding:15px; margin-top:20px; }
	.grid li.product_list-3 {width:178px;}

	.grid li .product_img_link img,
	.list li .product_img_link  img {width:177px;}

	.grid li a.product_img_link { margin-left:0px;}	
	.list li a.product_img_link { width:25%;}
	.list li .center_block {padding:0px 0px 18px 0px;width:71%;float:right;}
	.list li .center_block .product_desc {display:none;}
	.list li .center_block .product_desc.mob2 {display:block;}
	.list li .right_block { border:none;float:right;width:71%; height:auto; padding:0;}
	#product_list .right_block span.discount { float:right; margin:0;}
	.list li .right_block span.price { float:left;}
	.list li .right_block .compare {padding:16px 0 16px;width:100%;overflow:hidden;}
	.list li.last_item { margin-bottom:10px;}
	.list li .right_block .exclusive { margin:0 10px 0 0;}

}



@media only screen and (max-width: 767px) {

	#product_list {padding: 0;}
	#product_list li {width:100%;margin: 20px 0 0 0;padding:15px;overflow:hidden;}
	#product_list li a.product_img_link {float:left;width:33%;}
	#product_list li .center_block { width:64%;padding: 0;float:right;}
	#product_list li .right_block {width:64%;height: auto;border-width:0px;padding:0;float:right; }

	#product_list li .product_flags {display: block;}
	#product_list li .center_block h5 {min-height: 1px;}
	#product_list li .center_block .product_desc {display: none;padding: 10px 0 0 0;}

	#product_list li .mob,
	#product_list li .compare,
	.product_compare {display:none !important;}

	#product_list li .right_block span.on_sale,
	#product_list li .right_block span.discount {display: block;float: right;}

	#product_list li .right_block span.price {margin: 15px 0 0 0;}
	#product_list li .right_block .exclusive {}
	#product_list li .right_block .button {}

}



@media only screen and (min-width: 480px) and (max-width: 767px) {

	#product_list li .center_block .product_desc.mob {margin: 0;padding: 10px 0 0 0;display: block !important;}

	#product_list li a.product_img_link { width:29%;}
	#product_list li .center_block{width:68%;}
	#product_list li .right_block{width:68%;}

}