/* ************************************************************************************************
SITEMAP PAGE
************************************************************************************************ */
div.sitemap_block ul {padding-top:7px;}
div.sitemap_block ul li {padding:5px 0 0 0px;}
div.sitemap_block ul li a{}
div.sitemap_block ul li a:hover{background-position:0px -928px}
div.tree_top {margin:10px 0 0px 0;padding:3px 0 0 28px;background:url(../img/sitemap_top.gif) -1px -1px no-repeat;}
div.tree_top a {font-weight:bold;text-transform:uppercase;}
div.tree_top a:hover{color:#9d9c9c;}
div#center_column ul.tree li {border-left:solid 1px #a1a1a1;background:url(../img/sitemap_horizontal.gif) 0 12px no-repeat;margin:0 0 0 11px;padding:5px 0 0 16px;}
div#center_column ul.tree li ul {padding:2px 0 4px 0;}
div#center_column ul.tree li ul li {margin:0;}
div#center_column ul.tree a {padding-left:0;}
div#center_column ul.tree a.selected {font-weight:bold;color:#9d9c9c;}
div#center_column ul.tree li.last {background:url(../img/sitemap_last.gif) 0 0 no-repeat;border:none;padding:5px 0 0 17px;}

@media only screen and (max-width: 767px) { 
	div.sitemap_block {margin: 0px 0 20px 0;}
	div.sitemap_block ul li a{font-size:14px;}
}
