#stores #center_column label {
	padding:0 10px 5px 0;
	display:block;
}
input#addressInput {
	width:290px;
}
select#radiusSelect {
	margin: 0 5px 0 0;
	width:50px;
}
#stores_loader {
	display: none;
	margin-left: 5px
}
#locationSelect {
	visibility: hidden;
}
#map {
	margin:15px auto;
	width:100%;
	height:320px;
}
.center_column .locationselect {
	float:left;
	margin:0;
}
.center_column .locationbutton {
	float:left;
	margin:0 20px 0 0;
}
#stores-table{ display:none;}
#stores-table b {
	color:#333;
	margin-bottom:5px;
	display:inline-block;
}
.table_map td {
	border:1px solid #f9f9f9;
	padding:3px;
	margin-top:10px;
}
@media only screen and (max-width: 480px) {
	/*stores page table*/
	#stores-table td img {display:none;}
	#stores-table th {font-size:11px; padding-left:5px; padding-right:5px;}
	#stores-table td { padding-left:5px; padding-right:5px;}
	
}