.product_list.list .ajax_add_to_cart_button, .product_list.list .view_button,#buy_block #add_to_cart .btn_primary,#create-account_form .submit .btn_primary, #login_form .submit .btn_primary, .camera_caption_box .btn_primary, .iosSlider_text .btn_primary{font-family: "Fjalla One", Tahoma, sans-serif, Arial;}.btn-default.btn_primary, .btn-medium.btn_primary, .btn-large.btn_primary{text-transform: uppercase;}.style_wide .ma_level_1{font-family: "Fjalla One"}.block .title_block, .block a.title_block, .block .title_block a, .idTabs a,.product_accordion_title,.heading,.page-heading,.page-subheading,#pc_slider_tabs a, #home-page-tabs li a, #home-page-tabs li span{font-weight: bold;text-transform: uppercase;font-family: "Fjalla One";}#st_mega_menu .ma_level_0{font-weight: normal;text-transform: uppercase;font-family: "Fjalla One";font-family: "Fjalla One";}#stmobilemenu .ma_level_0{font-weight: normal;text-transform: uppercase;font-family: "Fjalla One";font-family: "Fjalla One";}.style_wide .ma_level_1{text-transform: uppercase;}a:active,a:hover,
            #layered_block_left ul li a:hover,
            #product_comments_block_extra a:hover,
            .breadcrumb a:hover,
            a.color_666:hover,
            #pc_slider_tabs a.selected,
            #footer_info a:hover,
            .blog_info a:hover,
            .block .title_block a:hover,
            .show_all_products,
            .content_sortPagiBar .display li.selected a, .content_sortPagiBar .display_m li.selected a,
            .content_sortPagiBar .display li a:hover, .content_sortPagiBar .display_m li a:hover,
            #home-page-tabs > li.active a, #home-page-tabs li a:hover,
            .fancybox-skin .fancybox-close:hover{color: #0076c3;}.price, #our_price_display, .sale_percentage{color: #0076c3;}a.icon_wrap, .icon_wrap,#shopping_cart .ajax_cart_right{color: #0076c3;}a.icon_wrap.active,.icon_wrap.active,a.icon_wrap:hover,.icon_wrap:hover,#searchbox_inner.active #submit_searchbox.icon_wrap,.logo_center #searchbox_inner:hover #submit_searchbox.icon_wrap,#shopping_cart:hover .icon_wrap,#shopping_cart.active .icon_wrap,.myaccount-link-list a:hover .icon_wrap{color: #0076c3;}a.icon_wrap.active,.icon_wrap.active,a.icon_wrap:hover,.icon_wrap:hover,#searchbox_inner.active #submit_searchbox.icon_wrap,.logo_center #searchbox_inner:hover #submit_searchbox.icon_wrap,#shopping_cart:hover .icon_wrap,#shopping_cart.active .icon_wrap,.myaccount-link-list a:hover .icon_wrap{background-color: #0096f8;}#submit_searchbox:hover,#searchbox_inner.active #search_query_top,#searchbox_inner.active #submit_searchbox.icon_wrap,.logo_center #searchbox_inner:hover #submit_searchbox.icon_wrap,#shopping_cart.active .icon_wrap,#shopping_cart:hover .icon_wrap{border-color:#0096f8;}#rightbar{top:auto; bottom:40%;}.btn-default, .btn-medium, .btn-large,
                input.button_mini,
                input.button_small,
                input.button,
                input.button_large,
                input.button_mini_disabled,
                input.button_small_disabled,
                input.button_disabled,
                input.button_large_disabled,
                input.exclusive_mini,
                input.exclusive_small,
                input.exclusive,
                input.exclusive_large,
                input.exclusive_mini_disabled,
                input.exclusive_small_disabled,
                input.exclusive_disabled,
                input.exclusive_large_disabled,
                a.button_mini,
                a.button_small,
                a.button,
                a.button_large,
                a.exclusive_mini,
                a.exclusive_small,
                a.exclusive,
                a.exclusive_large,
                span.button_mini,
                span.button_small,
                span.button,
                span.button_large,
                span.exclusive_mini,
                span.exclusive_small,
                span.exclusive,
                span.exclusive_large,
                span.exclusive_large_disabled{background-color: #0076c3;border-color:#0076c3;}.btn-default:hover, .btn-default.active, 
                .btn-medium:hover, .btn-medium.active, 
                .btn-large:hover, .btn-large.active,
                input.button_mini:hover,
                input.button_small:hover,
                input.button:hover,
                input.button_large:hover,
                input.exclusive_mini:hover,
                input.exclusive_small:hover,
                input.exclusive:hover,
                input.exclusive_large:hover,
                a.button_mini:hover,
                a.button_small:hover,
                a.button:hover,
                a.button_large:hover,
                a.exclusive_mini:hover,
                a.exclusive_small:hover,
                a.exclusive:hover,
                a.exclusive_large:hover,
                input.button_mini:active,
                input.button_small:active,
                input.button:active,
                input.button_large:active,
                input.exclusive_mini:active,
                input.exclusive_small:active,
                input.exclusive:active,
                input.exclusive_large:active,
                a.button_mini:active,
                a.button_small:active,
                a.button:active,
                a.button_large:active,
                a.exclusive_mini:active,
                a.exclusive_small:active,
                a.exclusive:active,
                a.exclusive_large:active{background-color: #0076c3;border-color:#0076c3;}#top_bar{color:#ffffff;}#top_bar a{color:#ffffff;}.dropdown_tri_inner b{border-color: #ffffff transparent transparent;}#top_bar a:hover,#top_bar .open .dropdown_tri_inner{color:#47B0BA;}.open .dropdown_tri_inner b{border-color: #47B0BA transparent transparent;}#top_bar a:hover,#top_bar .open .dropdown_tri_inner{background-color:#DEF2F3;}#top_bar .dropdown_list li a:hover{color:#47B0BA;}#top_bar .dropdown_list li a:hover{background-color:#DEF2F3;}#top_bar{background-color:#0076c3;}#top_bar #header_user_info a, #top_bar #header_user_info span, #stsocial_list_topbar li a, #contact-link a, .shop-phone, .dropdown_tri_inner{border-color:#026db2;}.sttlevel0.current .ma_level_0, .sttlevel0.active .ma_level_0{background-color:#0076c3;}.ma_level_1:hover,.stmenu_sub.style_classic .show .ma_level_1{color:#0076c3;}.ma_level_2:hover{color:#0076c3;}#stmobilemenu_tri:hover,#stmobilemenu_tri.active{color:#0076c3;}#footer-primary .container{border-color:#fafafa;}.footer-container #footer_info,.footer-container #footer_info a{color:#000000;}#page_header{background-color:#ffffff;}#footer-top{background-color:#ffffff;}#footer-primary{background-color:#fafafa;}#footer-secondary{background-color:#ffffff;}.footer-container #footer_info{background-image: url(../../patterns/6.png);}span.new{color: #1BD4E6;border-color:#1BD4E6;border-left-color:transparent;}span.new{top:25px;}span.new{right:0px;}span.on_sale{color: #F64C65;border-color: #F64C65;border-right-color:transparent;}span.on_sale{top:25px;}span.on_sale{left:0px;}span.sale_percentage_sticker{bottom: 50px;}span.sale_percentage_sticker{right: 10px;}#st_mega_menu{text-align: right;}.sttlevel0{float:none;display:inline-block;vertical-align:middle;}#logo_wrapper {
width: 20%;
}

.header_user_info{
font-size: 10px;
height: 20px;
}