#camera_caption_1 h1,#camera_caption_1 h2,#camera_caption_1 h3{font-family:'Delius Unicase';}#camera_caption_1 p{color:#ffffff;}#camera_caption_2 h1,#camera_caption_2 h2,#camera_caption_2 h3{font-family:'Archivo Black';color:#ffffff;}#camera_caption_2 p{color:#ffffff;}