<li class="favoriteproducts">
	<a href="{$link->getModuleLink('sociallogin', 'account')|escape:'htmlall':'UTF-8'}" title="{l s='Social Account Linking' mod='sociallogin'}">
        {if !$in_footer}<span class="icon_wrap"><i class="icon-users icon-1x"></i></span>{/if}{l s='Social Account Linking' mod='sociallogin'}
	</a>
</li>
