
@font-face {
  font-family: 'fire-light';
  src: url('http://www.iwantsteadyreturns.com/sites/default/files/fontyourface/local_fonts/FiraSansOTLight-normal-normal/FiraSansOT-Light.ttf');
}
h2{
	margin:0 !important;
}
.header-container-wrapper{
	padding-top: 0px !important;
}
.top-header{
	background-image: linear-gradient(#006e3a,#006937);
}
.top-header .container{
	margin: auto;
	max-width: 1180px;
	width: 90%;
}
.top-header span{
	background: url(http://www.iwantsteadyreturns.com/sites/all/themes/snowman/assets/images/icon-phone.png) no-repeat right;
	padding: 7px 25px;
	font-size: .8em;
	line-height: 1.1;
	color: #fff;
	font-family: 'fire-light';
	font-style: normal;
	font-weight: normal;
}
.header-container{
	margin: auto;
	max-width: 1180px;
	width: 90%;
}
.header-container-wrapper{
	background-image: -webkit-linear-gradient(top,#fff 40%,#ececec 70%);
	padding-bottom: 0px !important;
}
.footer-container-wrapper, .footer, .footer-container{
	background: #fff !important;
}
.menu{
	list-style-type: none;
	padding-bottom: 20px;
}
.menu li{
	float: left;
	border-width: 0 1px 0 0;
	border-right: 1px solid #999;
}
.menu li:last-child{
	border-right: none;
}
.menu li a{
	font-size: 14px;
	color: #333 !important;
	text-decoration: none;
	padding: 12px;
}
a{
	color: #333 !important;
}
.menu li a:hover{
	color: #333;
	text-decoration:underline;
}
.top-nav .hs-menu-item{
	background: transparent !important;
}
.hs-menu-wrapper li{
position: relative !important;
}
.hs-menu-wrapper li:hover{
	background: transparent !important;
}
.hs-menu-wrapper li a:hover{
	background: transparent !important;
}
.hs-menu-wrapper li:after {
content: "";
width: 1px;
top: 0;
bottom: 0;
right: 0;
display:inline-block;
height: 50px;
background-image: -webkit-linear-gradient(top,rgba(202,202,202,0)10%,#cacaca 50%,rgba(125,185,232,0)90%);
}
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li a{
	border-bottom: none !important;
	text-overflow: initial !important;
	max-width: none !important;
}
.email-us{
	margin: auto;
	display:block;
	padding-top: 20px;
	padding: 5px;
	text-align: center;
	font-size: 14px;
	color: #46b047 !important;
	text-decoration: none !important;
}
.phone{
	text-align: center;
	font-size: 21px !important;
	color: #333 !important;
	padding: 5px;
}