@import "compass";
@import "theme_variables";

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
	.content_scene_cat_bg {
		padding: 18px 10px 10px 42px;
		background-color: #464646 !important;
	}
	span.category-name {
		font: 600 42px/51px $font-custom;
		color: $light-text-color;	
		margin-bottom: 12px;
	}
	p {
		margin-bottom: 4px;
	}
	.content_scene {
		color: $base-body-color;
		.cat_desc {
			padding-top: 20px;
			a {
				color: $link-color;
				&:hover {
					color: $link-hover-color;	
				}
			}
		}
	}
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */

#subcategories {
	margin-bottom: 1em;
	img{
		height: auto;
		max-width: 100%;
	}
	p.subcategory-heading {
		font-weight: bold;
		color: $base-text-color;
		margin: 0 0 15px 0;
	}
	.subcate_list_view li{
		display: block;
		padding: 6px 0;
		.img{
			float: left;
			margin-right: 1em;
		}
		.cat_desc{
			display: block;
		}
	}
	.inline_list  li a.img {
		border:1px solid #e5e5e5;
	    display:block;
	    margin-bottom: 6px;
	    background-color: #fff;
	}
	.subcate_grid_view li{
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		.subcategory-name{
			display: block;
		}
		.cat_desc{
			display: none;
		}
	}
}