@import "compass";
@import "theme_variables";

/********************************************************
			Right to Left Styles
********************************************************/
*, body {
    direction: rtl;
}

#page, #body_wrapper, .block .title_block, .sttlevel0, #new_comment_form {
    text-align: right !important;
}

.flexslider, .flex-viewport, .flexslider .slides, .camera_wrap, .cameraSlide, #thumbs_list ul#thumbs_list_frame, .pb-right-column #image-block #view_full_size, div.zoomdiv, .bx-viewport, #layered_price_slider {
    direction: ltr;
}

.iosSlider {
    direction: ltr;
    .slider {
        direction: ltr;
    }
}

table#cart_summary .cart_discount_price .price, .cart_total_voucher .price, #reduction_percent, #reduction_amount, .itemlist_right .price_container span, #cart_block table#vouchers td.price {
    direction: ltr;
}

.sale_percentage {
    direction: ltr;
    display: inline-block;
}

.itemlist_right .price_container span i, .sale_percentage i {
    float: right;
}

table#cart_summary .cart_discount_price .price {
    display: inline-block;
}

.camera_wrap {
    float: none;
}

#more_info_tabs li, .pb-center-column, .pb-left-column,, .sttlevel0, #logo_wrapper, #header_right, #header_left, #homepage-slider,
 #home-page-tabs.li_fl li, .shop-phone{
    float: right !important;
}


#htmlcontent_top{
	float: left !important;
	margin-right: 4px;
	margin-left: auto !important;
}

#cart_block .cart-prices-item {
    .fl, span {
        float: right !important;
    }
}

#attributes .attribute_list #color_to_pick_list li {
    float: right !important;
}

#product_comments_block_extra {
	.comments_advices.pull-left, .comments_note span, .star_content {
        float: right !important;
    }
}

#new_comment_form {
    #criterions_list {
        label, .star_content {
            float: right !important;
        }
    }
    float: right !important;
    .product img {
        float: right !important;
    }
}

.wrapper_block label, .featured_categories_list li, .pro_itemlist li, .subcate_grid_view li, .subcate_list_view li .img, .product_list.grid .ajax_block_product, .blog_list_grid .block_blog {
    float: right !important;
}

#buy_block {
    .our_price_display, #old_price {
        float: right !important;
    }
}

.product_list.list .pro_first_box, #listpage_content div.categTree {
    float: right !important;
}

label {
    &[for=id_address_delivery], &[for=id_address_invoice] {
        float: right !important;
    }
}

.addressesAreEquals input, #module-blockwishlist-mywishlist .wishlistLinkTop li {
    float: right !important;
}

ul.wlp_bought_list li {
    .product_image, .product_infos {
        float: right !important;
    }
}

#avatar_left, .comment_node_left, #opc_account_choice .col-md-4, #opc_account_choice .col-md-8, .favoriteproduct a.product_img_link, #cart_block #cart-buttons .fl, #new_comment_form_footer .fl{
    float: right !important;
}
#new_comment_form_footer .closefb{
	display: inline-block;
}
.favoriteproduct {
    a.product_img_link {
        margin-right: 0 !important;
        margin-left: 14px;
    }
    .remove {
        right: auto !important;
        left: 10px;
    }
}

.comment_node_right {
    margin-left: 0 !important;
    margin-right: 66px;
}

.adresses_bloc .item {
    margin-right: 0 !important;
    margin-left: 60px;
}

#new_account_form p.checkbox input {
    margin-left: 0 !important;
    margin-right: 260px;
}

#contact {
    #center_column p.desc_contact {
        margin-left: 0 !important;
        margin-right: 186px;
    }
    p.select select {
        margin-right: 0 !important;
        margin-left: 10px;
    }
}

#avatar_right {
    margin-left: 0 !important;
    margin-right: 148px;
}

.alert ul, .alert ol {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 27px;
    padding-right: 10px;
}

.addressesAreEquals label {
    margin-left: 0 !important;
    margin-right: 5px;
}

#address_delivery {
    margin-right: 0 !important;
    margin-left: 35px;
}

ul.wlp_bought_list li {
    margin-left: 20px !important;
    margin-right: 0 !important;
    .product_infos {
        margin-left: 0 !important;
        margin-right: 10px;
    }
}

#address p.inline-infos {
    margin-right: 265px !important;
    margin-left: 0 !important;
}

#add_address span {
    &.form_info, &.inline-infos {
        margin-right: 265px !important;
        margin-left: 0 !important;
    }
}


#cart_block {
    #cart_block_shipping_cost, #cart_block_total, #cart-buttons .pull-right{
        float: left !important;
    }
}

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist, #new_comment_form_footer .fr, #submitReorder .pull-right,
#contact-link {
    float: left !important;
}

#buy_block {
    .our_price_display.pull-left, #old_price.pull-left, #reduction_percent.pull-left, #reduction_amount.pull-left, #pretaxe_price.pull-left {
        margin: 0 0 0 10px !important;
        float: right !important;
    }
}

.subcate_list_view li .img {
    margin-right: 0 !important;
    margin-left: 1em;
}

#top_bar {
    .dropdown_wrap.pull-left{
        float: right !important;
    }
    #header_user_info {
        a, span {
            float: right;
        }
    }
}

#stsocial_list_topbar li a, #footer_info .fl, #ordermsg p.txt, .payment_module img, .product-count, .content_sortPagiBar .display, .content_sortPagiBar .display_m, #blog_link_nav a.fl, div#cart_voucher, .star, #cart_block .quantity-formated .quantity, .dialog_action .pull-left, .cart_navigation .pull-left{
    float: right !important;
}

#ordermsg p.txt {
    margin-right: 0;
    margin-left: 25px;
}

.payment_module img {
    margin-right: 0;
    margin-left: 10px;
}

#top_bar {
    .dropdown_wrap.pull-right, #header_user_info {
        float: left !important;
    }
}

#footer_info .pull-right{
    float: left !important;
}

.top-pagination-content div.pagination, .bottom-pagination-content div.pagination, .bottom-blog-pagination div.pagination, .bottom-blog-mycomments-pagination div.pagination{
	float: left;
}
.top-pagination-content ul.pagination, .bottom-pagination-content ul.pagination, .bottom-blog-pagination ul.pagination, .bottom-blog-mycomments-pagination ul.pagination, div.pagination .showall{
	float: right!important;
}
.pagination ul.li_fl > li {
	float: right;
}
div.pagination .showall .show_all_products{
	border-left: 1px solid $base-border-color;
}

.content_sortPagiBar{
	.sortPagiBar {
	    #productsSortForm, .productsSortForm, .nbrItemPage {
	        float: left;
	    }
	}
}

#blog_link_nav a.pull-right, table#cart_summary_total, .dialog_action .fr, 
.cart_navigation .pull-right {
    float: left !important;
}

.sortPagiBar .nbrItemPage {
    margin-right: 0;
    margin-left: 10px !important;
}
.aui_close, .aui_loading {
    text-indent: 999em;
}

.aui_close {
    right: auto;
    left: -16px;
}

.dropdown_list {
    left: auto;
    right: 0;
    &.dropdown_right {
        left: 0;
        right: auto;
    }
}

#header #cart_block {
    right: auto !important;
    left: 0;
}

#search_query_top {
    border-right-width: 1px !important;
    border-right-style: solid !important;
    border-left-style: none !important;
}

#brands_slider-column .title_block, #featured-products_block_center .title_block, #featured_products_sldier_block_center .title_block, #featured_products_sldier_block_center_column .title_block, #new-products_block_center .title_block, #new-products_block_center_column .title_block, #related-products_block_center .title_block, #related-products_block_center_column .title_block, #special-products_block_center .title_block, #special-products_block_center_column .title_block, #brands_slider .title_block, #best-sellers_block_center .title_block, .product_categories_slider_block .title_block, .product_categories_slider_block_column .title_block, #productscategory-products_block_center .title_block, #crossselling-products_block_center .title_block, #blog_related_products .title_block, #accessories_block .title_block, #pc_slider_tabs {
    padding-left: 62px;
    padding-right: 0;
}

.nav_top_right .flex-direction-nav {
    right: auto;
    left: 0px;
    padding-right: 6px;
    padding-left: 0;
}

.section .title_block {
    span, a {
        padding-left: 8px;
        padding-right: 0;
    }
}

.opener, .grower {
    right: auto;
    left: 0;
}
#footer .opener, #footer .grower{
    right: auto !important;
    left: 15px;
}

.categories_tree_block li {
    a {
        padding: 10px 5px 10px 35px;
    }
    ul li a {
        padding: 6px 5px 6px 27px;
    }
}

#layered_block_left .layered_close {
    float: left !important;
    padding-right: 0 !important;
    padding-left: 5px;
}

.product_list.list .pro_second_box {
    margin-left: 0 !important;
    margin-right: 270px;
    .s_title_block, .price_container, .rating_box, .product_stock_info, .product_online_only {
        text-align: right !important;
    }
}

.cancel, .star {
    text-indent: 999em;
}

#new_comment_form .product {
    .product_name, .product_desc {
        margin-right: 130px;
        margin-left: 0 !important;
    }
}

#my-account ul.myaccount-link-list li .icon_wrap {
    margin-right: 0 !important;
    margin-left: 6px;
}
.addresses-lists .col-sm-6{
	float: right;
}

#languages-block-top {
    .dropdown_tri img.mar_r4, .dropdown_list img.mar_r4 {
        margin-right: 0;
        margin-left: 4px;
    }
}

.pro_column_left, .small_list_left, #comment_content {
    float: right;
}

.pro_column_right {
    margin-left: 0;
    margin-right: 66px;
}

.small_list_right {
    margin-left: 0;
    margin-right: 110px;
}

.dialog_pro_img {
    float: right;
}

.dialog_pro_info {
    float: left;
}

.aui_content {
    text-align: right;
}

#sitemap_content div.sitemap_block li a {
    padding: 2px 10px 2px 0 !important;
    background-position: right 6px !important;
}

#footer {
    .row {
        .span3 .opener, .span6 .opener, .span9 .opener, .span12 .opener {
            right: auto;
            left: 10px;
        }
    }
    .block {
        float: right;
    }
}

.quantity_input_wrap {
    padding-right: 0 !important;
    padding-left: 13px;
}

.cart_quantity {
    .cart_quantity_input, .cart_quantity_button {
        float: right;
    }
}

.cart_navigation {
    .exclusive, .exclusive_large {
        float: left;
    }
}

ul.step li {
    float: right;
}
ul.step li a, ul.step li span{border-right-width:1px;border-left-width: 0;}
ul.step li:last-child a, ul.step li:last-child span{border-left-width:1px;}


table {
    &.table-data-sheet th, &.table-data-sheet td, &.table_block th, &.std td, &.table_block td {
        text-align: right;
    }
}

.table {
    th, td {
        text-align: right;
    }
}

#account-creation_form p.checkbox input {
    margin-right: 260px;
    margin-left: 0 !important;
}

#identity .std {
    #security_informations {
        padding-right: 264px !important;
        padding-left: 0 !important;
    }
}

.breadcrumb li, .breadcrumb li span, .breadcrumb li a {
    display: inline-block;
}

table#product_comparison {
    border-right: 0px !important;
    border-left: 1px solid #e5e5e5;
}

ul.square {
    margin-left: 0 !important;
    margin-right: 1.5em;
}

#short_description_content {
    ul, ol, dl {
        margin-left: 0 !important;
        margin-right: 1.5em;
    }
}

#more_info_sheets {
    ul, ol, dl {
        margin-left: 0 !important;
        margin-right: 1.5em;
    }
}

.menu_custom_content {
    ul, ol, dl {
        margin-left: 0 !important;
        margin-right: 1.5em;
    }
}

.blog_content {
    ul, ol, dl {
        margin-left: 0 !important;
        margin-right: 1.5em;
    }
}

#tinymce {
    ul, ol, dl {
        margin-left: 0 !important;
        margin-right: 1.5em;
    }
}

#new_account_form {
    span {
        &.form_info, &.inline-infos {
            margin-right: 270px !important;
            margin-left: 0 !important;
        }
    }
    p.inline-infos {
        margin-right: 270px !important;
        margin-left: 0 !important;
    }
}

#order-opc #new_account_form p.submit {
    margin-right: 0;
    margin-left: 120px;
    text-align: left;
}

#contact p.submit input {
    margin-left: 0 !important;
    margin-right: 185px;
}

#order-history-total {
    td {
        text-align: left;
    }
    span {
        float: none;
        display: inline-block;
    }
    td span:last-child {
        margin-right: 6px;
    }
}

/*block cart*/

#cart_block {
    .remove_link, .deleteCustomizableProduct, .price {
        float: left !important;
    }
    .cart_block_product_image {
        float: right !important;
        margin-right: 0 !important;
        margin-left: 10px;
    }
}

#header #cart_block {
    text-align: right !important;
}

#cart_block .quantity-formated {
    padding-right: 0 !important;
    padding-left: 2px;
}

/*block currency*/

#customer_privacy {
    float: right !important;
}

/*block layered*/

#enabled_filters li a {
    right: auto !important;
    left: 6px;
}

.fancybox-close{
	right: auto !important;
	left: -18px;
}
#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form{
	#uniform-newsletter, #uniform-optin, #uniform-invoice_address{
		 margin-left: 5px !important;
		 margin-right: 264px !important;
	}
	.submit, .submit2{
		padding-left: 0 !important;
		padding-right: 264px !important;
	}
	span.form_info, p.inline-infos, span.inline-infos{
	    margin-right: 265px !important;
	    margin-left: 0 !important;
	}
}
.radio-inline .checker, .checkbox .checker{
	float: right !important;
	margin-right: 0!important;
	margin-left: 5px;
}
#layered_form div.checker{
	margin-right: 0!important;
	margin-left: 5px;
}
.addresses .col-md-6, #HOOK_PAYMENT .col-md-6, .bloc_adresses .col-sm-6{
	float: right;
}
.stmenu_sub .style_wide .mllevel1,.nav-tabs > li{
	float: right;
}
div.uploader span.action, div.uploader span.filename{
	float: right;
}
#mycomments_list span a{
	display: inline-block;
}
.store-content{
	.address-input{
		float: right !important;
    	margin-right: auto !important;
    	margin-left: 19px;
	}
	.radius-input{
		float: right !important;
    	margin-right: auto !important;
    	margin-left: 20px;
	}
}
#st_blog_featured_article_first .row .col-md-6 {
	float: right;
}
#header_right{
    text-align: left;
}
.st_blog_comment_reply{
    #comment_input .col-xs-4, #comment_textarea .col-xs-8{
        float: right;
    }
}