<table style="text-align:left; width:470px; background:#FFF; padding:5px; border:none; font-family:sans-serif, Helvetica; font-size:12px; color:#333"><tr>
 <td  style="width:200px; vertical-align:top;">
     <img src="http://bebouncehouses.com/mailingPub/2014/sergiobbh14.jpg"/>
    </td>
    <td style="vertical-align:top">
        <div style="margin-top: 13px; margin-left: 6px; color:#e66624; font-size:14px"><strong>President<span style="color: #4C2568">&nbsp;&nbsp;|&nbsp; Be Bounce Houses</span></strong></div>
         <hr style="margin:7px 4px 4px 6px; height:2px; background:#AAA; border:none; width: 222px;"/>
         <p style="margin-left: 6px; margin-top: 7px; margin-bottom: 8px; color: #545454; line-height: 17px;">
         <strong><span style="color: #e66624">E-mail:</span><a href="mailto:sgaldo@bebouncehouses.com" target="_blank" style="text-decoration:none; color: #545454">
         <span>sgaldo@bebouncehouses.com</span>
         </a></strong><br/>
         <strong><span style="color: #e66624">Phone:</span>&nbsp; (407) 476 2138</strong><br/>
         <strong><span style="color: #e66624">Skype ID:</span>&nbsp; galdosaurio</strong><br/>
         <strong><a href="http://www.bebouncehouses.com" target="_blank" style="text-decoration:none">
         <span style="color: #4C2568">www.bebounce</span><span style="color: #e66624">houses.com</span>
         </a>
         </strong>
         <br />
         <strong style="font-size: 14px; line-height: 20px;"><span style="color: #e66624">Toll free: </span> 1 855 586 5391</strong><br/>
         </p>
    <table id="Table_01" width="173" height="23" border="0" cellpadding="0" cellspacing="0" style="margin-left:4px;">
	<tr>
		<td>
        	<a href="https://plus.google.com/u/0/+Bebouncehouses/posts" target="_blank">
				<img src="http://www.inflatabledepot.com/mailingPub/2014/redes/redes_01.jpg" width="23" height="23" border="0" alt="BeBounceHouses@Google"></a></td>
		<td>
			<a href="https://www.facebook.com/BEbouncehouses" target="_blank">
				<img src="http://www.inflatabledepot.com/mailingPub/2014/redes/redes_02.jpg" width="22" height="23" border="0" alt="BeBounceHouses@Facebook"></a></td>
		<td>
			<a href="http://www.youtube.com/BEBouncehouses" target="_blank">
				<img src="http://www.inflatabledepot.com/mailingPub/2014/redes/redes_03.jpg" width="22" height="23" border="0" alt="BeBounceHouses@YouTube"></a></td>
		<td>
			<a href="https://twitter.com/BEBounceHouses" target="_blank">
				<img src="http://www.inflatabledepot.com/mailingPub/2014/redes/redes_04.jpg" width="22" height="23" border="0" alt="BeBounceHouses@Twiter"></a></td>
		<td>
			<img src="http://www.inflatabledepot.com/mailingPub/2014/redes/redes_05_bbh.jpg" width="116" height="23" alt=""></td>
	</tr>
</table>
    </td>
    
</tr></table>
