/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
#maintenance {
  margin: 50px 0 0 0; }
  #maintenance .logo {
    margin: 0 0 31px 0; }
  #maintenance h1 {
    font: 600 28px/34px "Open Sans", sans-serif;
    color: #333333;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 14px 0;
    margin: 0 0 19px 0; }
  #maintenance #message {
    font: 600 16px/31px "Open Sans", sans-serif;
    padding: 0 0 0 18px;
    color: #555454;
    text-transform: uppercase; }
