@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #footer #newsletter_block_left .newsletter-input {
    width: 150px !important; }

  ul.product_list.grid > li.first-in-line {
    clear: left; }
  ul.product_list.grid > li.first-line {
    border-top: none; }

  .subcate_grid_view > li.first-item-of-line, .featured_categories_list > li.first-item-of-line, #featured_itemlist > li.first-item-of-line {
    clear: left; } }
@media (max-width: 1199px) {
  #homepage-slider .homeslider-description {
    padding: 20px;
    font-size: 0.8em; } }
