#enabled_filters {
  margin: 1em 0; }

#enabled_filters ul li {
  padding: 2px 0; }

#enabled_filters li a {
  cursor: pointer;
  display: inline-block;
  height: 16px;
  position: absolute;
  right: 0;
  top: 4px;
  width: 16px;
  background: url(../../../img/icons.png) no-repeat center -156px transparent; }

#layered_block_left .layered_close {
  float: right; }

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  text-indent: -5000px;
  background: url(../../../img/icons.png) no-repeat center -36px transparent; }

#layered_block_left span.closed a {
  background-position: center -116px; }

#layered_block_left .layered_subtitle {
  color: #333333;
  display: inline-block;
  font-size: 1.083em; }

#layered_block_left ul {
  clear: both;
  padding: 6px 0;
  margin-bottom: 0; }

#layered_block_left ul li {
  padding: 2px 0; }

#layered_block_left ul li label {
  cursor: pointer; }

#layered_block_left ul {
  padding-left: 0; }

#layered_block_left ul li {
  list-style-type: none; }

#layered_block_left div > form > div > div {
  margin-top: 10px; }

#layered_block_left #enabled_filters ul li {
  border-bottom: 1px solid #F5F5F5;
  padding: 4px 0;
  position: relative; }

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }

#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .color-option {
  border: 1px solid #ccc;
  height: 16px;
  margin-left: 0;
  padding: 0;
  width: 16px; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
  display: inline;
  color: #666666; }

#layered_form .select {
  width: 165px; }

#layered_form .color-option {
  margin-left: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid #666; }

#layered_form .color-option.on {
  border: 1px solid red; }

#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }

.layered_price_range {
  margin-left: 7px; }

.layered_price_range_unit {
  margin-right: 7px; }

.layered_slider_container {
  margin: 6px 0 6px 10px;
  width: 91%; }

.layered_slider {
  margin-top: 5px; }

.layered_input_range_min {
  width: 30px; }

.layered_input_range_max {
  width: 40px; }

.layered_list_selected {
  font-weight: bold; }

.layered_list {
  display: block;
  cursor: pointer; }

.layered_list:hover {
  font-weight: bold; }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; }

.hide-action:hover {
  font-weight: bold; }

#layered_form div div ul {
  max-height: 200px;
  overflow-x: auto; }

.layered_filter label {
  font-weight: normal; }
.layered_filter .layered_subtitle {
  font-size: 1.2 em; }

#layered_ajax_loader_inner {
  position: absolute;
  z-index: 200;
  top: 50px;
  left: 50%;
  text-align: center; }
  #layered_ajax_loader_inner p {
    position: relative;
    left: -50%;
    background: #FAFAFA;
    padding: 10px 16px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4); }
    #layered_ajax_loader_inner p i {
      font-size: 2.6em;
      height: 50px;
      line-height: 47px;
      width: 50px; }
