
#quote #request-options input[type="checkbox"] {
    display: none;
}
#quote input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    height: 41px;
    padding: 0;
    width: 150px;
}
#quote input[type="checkbox"]:checked + label {
    cursor: pointer;
    display: inline-block;
    height: 41px;
    padding: 0;
    width: 150px;
}
#quote #request-booklet + label {
    background: url("../img/request/request-booklet-off.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#quote #request-booklet:checked + label {
    background: url("../img/request/request-booklet-on.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#quote #request-quote + label {
    background: url("../img/request/request-quote-off.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#quote #request-quote:checked + label {
    background: url("../img/request/request-quote-on.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#quote #request-phone + label {
    background: url("../img/request/request-phone-off.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#quote #request-phone:checked + label {
    background: url("../img/request/request-phone-on.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#quote #form-wrapper {
    overflow: auto;
    vertical-align: top;
}
#quote #form-wrapper #form-left {
    display: inline-block;
    float: left;
    margin-top: 8px;
    width: 410px;
}
#quote #form-wrapper #form-right {
    display: inline-block;
    float: right;
    text-align: left;
    width: 300px;
}
