/* CSS Document */

/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Form Typography === */
.contact_form { font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #6b6b6b; }
.contact_form h2, .contact_form label {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.form_hint, .required_notification {font-size: 11px;}

/* === List Styles === */
.contact_form ul { width:410px; list-style-type:none; list-style-position:outside; margin:0px; padding:0px; }
.contact_form li{ padding:12px; border-bottom:1px solid #eee; position:relative; }
.contact_form li#add_phone_li{ padding:3px 12px 3px 12px; }

/* === Form Header === */
.contact_form h2 { margin:0; display: inline; }
.required_notification { color:#d45252; margin:5px 0 0 0; display:inline; float:right; }

/* === Form Elements === */
#form-right td { padding-top:22px; }
#form-right .prodqty { width:20px; height:20px; padding:5px 8px; text-align:center; }

.contact_form label { width:105px; margin-top: 3px; display:inline-block; float:left; padding:3px; text-align:left; }
.contact_form input { height:20px; width:175px; padding:5px 8px;}

.contact_form .phone_type { width:85px; padding:5px 8px; }
.contact_form .phone { width:110px; padding:5px 8px; }
.contact_form select, #form-right .product { width:215px; padding:5px 8px; }
.contact_form textarea { width:200px; padding:8px; }
.contact_form button { margin-left:156px; }

/* form element visual styles */
.contact_form input { 
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	padding-right:30px;
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s;
	transition: padding .25s;
}
.contact_form select, .contact_form textarea, #form-right .product, #form-right .prodqty { 
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
	-moz-transition: width .25s; 
	-webkit-transition: width .25s; 
	-o-transition: width .25s;
	transition: width .25s;
}
.contact_form input:focus { background:#fff; border:1px solid #555; box-shadow:0 0 3px #aaa; padding-right:70px; }
.contact_form textarea:focus { background:#fff; border:1px solid #555; box-shadow:0 0 3px #aaa; width:240px; }
.contact_form select:focus { background:#fff; border:1px solid #555; box-shadow:0 0 3px #aaa; /*width:240px;*/ }
.contact_form select.phone_type:focus { /*width:105px;*/ }
.contact_form input.phone:focus { padding-right:40px; }
#form-right .product:focus { background:#fff; border:1px solid #555; box-shadow:0 0 3px #aaa; /*width:230px;*/ }
#form-right .prodqty:focus { background:#fff; border:1px solid #555; box-shadow:0 0 3px #aaa; width:30px; }

/* === HTML5 validation styles === */	
.contact_form input:required, .contact_form textarea:required {
	background: #fff url(../img/request/red_asterisk.png) no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url(../img/request/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff url(../img/request/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}
.contact_form select:required:valid {
	background: #fff;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.contact_form select:focus:invalid {
	background: #fff;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before { content: "\25C0"; color:#d45252; position: absolute; top:1px; left:-6px; }
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;}
.contact_form input:required:valid + .form_hint::before {color:#28921f;}
	
/* === Button Style === */
button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}
button.submit:hover { opacity:.85; cursor: pointer; }
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;	
}