.error {
	border-color: #FF0000;
	border-width: 2px;
	border-style: solid;
	background-color: #FFDEDE;
	width: 95%;
}
.notice {
	border-color: #2bd334;
	border-width: 2px;
	border-style: solid;
	background-color: #e3f9e4;
	width: 95%;
}
.error TD {
color: #FF0000;
FONT-SIZE: 10px; 
font-family:verdana, sans-serif;
}
.notice TD {
color: #2bd334;
FONT-SIZE: 10px; 
font-family:verdana, sans-serif;
}
.error .title {
background-color: #FF9393;
}
.notice .title {
background-color: #a6edaa;
}
.error .title TD {
color: #FFFFFF;
font-weight: bold;
FONT-SIZE: 12px; 
font-family:verdana, sans-serif;
}
.notice .title TD {
color: #FFFFFF;
font-weight: bold;
FONT-SIZE: 12px; 
font-family:verdana, sans-serif;
}
.btn {
	border: 1px outset;
	cursor: pointer;
	font-size:9px;
	font-weight: normal;
	margin: 0px 0px 0px 1px;
	padding: 1px 1px 1px 1px;
	
	background-repeat: repeat-x;
	width:50px;
}