/********************************************************
			Right to Left Styles
********************************************************/
@media only screen and (max-width: 767px) {
  #thumbs_list li {
    float: right !important; }

  #footer .title_block {
    padding: 10px 10px 20px 35px !important; }

  .product_list.list .pro_first_box {
    float: none !important; }
  .product_list.list .pro_second_box {
    margin-right: 0 !important; }

  .product_accordion .opener {
    right: auto !important;
    left: 10px !important; }

  table#cart_summary td .mobile_table_title, table#order-list td .mobile_table_title {
    float: right !important; }

  #shipping-detail-content table td .mobile_table_title, #order-detail-content table td .mobile_table_title {
    float: right !important; }

  table#pending_friends_list td .mobile_table_title, table#friends_i_sponsord_list td .mobile_table_title, table#sponsor_my_friends_list td .mobile_table_title, table#my_vouchers_list td .mobile_table_title {
    float: right !important; }
  table#cart_summary td .mobile_table_content, table#order-list td .mobile_table_content {
    margin-left: 0 !important;
    text-align: right !important;
    margin-right: 130px; }

  #shipping-detail-content table td .mobile_table_content, #order-detail-content table td .mobile_table_content {
    margin-left: 0 !important;
    text-align: right !important;
    margin-right: 130px; }

  table#pending_friends_list td .mobile_table_content, table#friends_i_sponsord_list td .mobile_table_content, table#sponsor_my_friends_list td .mobile_table_content, table#my_vouchers_list td .mobile_table_content {
    margin-left: 0 !important;
    text-align: right !important;
    margin-right: 130px; }

  #new_comment_form .product .product_name, #new_comment_form .product .product_desc {
    margin-right: 0 !important; }

  ul.step li a, ul.step li span {
    border-left-width: 1px !important; }

  body.is_rtl #account-creation_form .form-group > label, body.is_rtl #account-creation_form .form-stru > label,
  body.is_rtl #opc_account_form .form-group > label, body.is_rtl #opc_account_form .form-stru > label,
  body.is_rtl #new_account_form .form-group > label, body.is_rtl #new_account_form .form-stru > label,
  body.is_rtl #address .form-group > label, body.is_rtl #address .form-stru > label {
    text-align: right !important; }
  body.is_rtl #address #uniform-newsletter, body.is_rtl #address #uniform-optin, body.is_rtl #address #uniform-invoice_address, body.is_rtl #address .submit, body.is_rtl #address .submit2, body.is_rtl #address span.form_info, body.is_rtl #address p.inline-infos, body.is_rtl #address span.inline-infos,
  body.is_rtl #account-creation_form #uniform-newsletter,
  body.is_rtl #account-creation_form #uniform-optin,
  body.is_rtl #account-creation_form #uniform-invoice_address,
  body.is_rtl #account-creation_form .submit,
  body.is_rtl #account-creation_form .submit2,
  body.is_rtl #account-creation_form span.form_info,
  body.is_rtl #account-creation_form p.inline-infos,
  body.is_rtl #account-creation_form span.inline-infos,
  body.is_rtl #new_account_form #uniform-newsletter,
  body.is_rtl #new_account_form #uniform-optin,
  body.is_rtl #new_account_form #uniform-invoice_address,
  body.is_rtl #new_account_form .submit,
  body.is_rtl #new_account_form .submit2,
  body.is_rtl #new_account_form span.form_info,
  body.is_rtl #new_account_form p.inline-infos,
  body.is_rtl #new_account_form span.inline-infos,
  body.is_rtl #opc_account_form #uniform-newsletter,
  body.is_rtl #opc_account_form #uniform-optin,
  body.is_rtl #opc_account_form #uniform-invoice_address,
  body.is_rtl #opc_account_form .submit,
  body.is_rtl #opc_account_form .submit2,
  body.is_rtl #opc_account_form span.form_info,
  body.is_rtl #opc_account_form p.inline-infos,
  body.is_rtl #opc_account_form span.inline-infos {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important; }

  body#authentication.is_rtl .form-group > label, body#authentication.is_rtl .form-stru > label, body#identity.is_rtl .form-group > label, body#identity.is_rtl .form-stru > label {
    text-align: right !important; }

  body#identity.is_rtl #uniform-newsletter, body#identity.is_rtl #uniform-optin, body#identity.is_rtl #uniform-invoice_address, body#identity.is_rtl .submit, body#identity.is_rtl .submit2, body#identity.is_rtl span.form_info, body#identity.is_rtl p.inline-infos, body#identity.is_rtl span.inline-infos {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important; }

  #header_right {
    text-align: center !important; }

  ul.product_list.list .pro_second_box {
    margin-right: 0!important; } }
