/* ————— homefeatured.tpl ————— */
.addhomefeatured {
}
.addhomefeatured h4 {margin: 0;padding: 20px 0 3px 0;border-bottom: 6px solid #d4d4d4;font: bold 27px 'Trebuchet MS';color: #262626;}

.addhomefeatured ul {list-style: none;}

.addhomefeatured ul li {margin-top: 30px;padding: 3px;border: 1px solid #d4d4d4;position: relative;
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;
}

.addhomefeatured ul li.item-first {clear: left;}

.addhomefeatured ul li:hover > div {outline:3px solid #d4d4d4;}
.addhomefeatured ul li .feat_content {padding: 20px 18px 17px 18px;}

.addhomefeatured ul li a.product_image {width: 100%;display: block;position: relative;}
.addhomefeatured ul li a.product_image img {}
.addhomefeatured ul li a.product_image img.main-img {display: block;}
.addhomefeatured ul li a.product_image img.next-img {width: 270px;position: absolute;top: 0;left: 0;z-index: 9;}

.addhomefeatured ul li h5 {padding: 15px 0 0 0;}

.addhomefeatured ul li p.product_desc {margin: 0;padding: 9px 0 11px 0;font: normal 15px/20px 'Trebuchet MS';color: #7f7e7e;}

.addhomefeatured ul li span.price-drop {margin: 4px 0 0 0;padding: 0 10px;display: inline-block;float: left;background: #61d9dc;font: bold 22px/37px 'Trebuchet MS';color: #fff;text-decoration: line-through;}
.addhomefeatured ul li span.price {margin: 4px 0 0 0;padding: 0 10px;font: bold 22px/37px 'Trebuchet MS';}

.addhomefeatured ul li .feat_add2cart {height: 41px;display: inline-block;margin: 4px 0 0 0;padding: 0 13px;background: #84cc06;font: bold 17px/41px 'Trebuchet MS';color: #fff;}
.addhomefeatured ul li .feat_add2cart:hover {background: #025eaa;}



@media only screen and (min-width: 950px) and (max-width: 1199px) {

.addhomefeatured ul li {margin-top: 20px;}
.addhomefeatured ul li > div .feat_content {padding: 0 10px 10px 10px;}




}



@media only screen and (min-width: 768px) and (max-width: 979px) {

.addhomefeatured ul li {margin-top: 20px;}
.addhomefeatured ul li .feat_content {padding: 0 10px 10px 10px;}
.addhomefeatured ul li p.product_desc {display: none;}

}



@media only screen and (max-width: 767px) {

.addhomefeatured h4 {padding: 10px 0;}

.addhomefeatured ul li {margin: 10px 0 0 0;padding: 10px;}
.addhomefeatured ul li > div {outline:none !important;}
.addhomefeatured ul li .feat_content {padding: 0;}

.addhomefeatured ul li .product_image_wrapper {width: 120px;min-height: 180px;float: left;margin: 0 10px 0 0;}
.addhomefeatured ul li a.product_image {width: 120px;}
.addhomefeatured ul li a.product_image img {width: 120px;}

.addhomefeatured ul li h5 {padding: 0px 0 7px 0;}

.addhomefeatured ul li p.product_desc {display: none;}

.addhomefeatured ul li .feat_add2cart {clear: left;}

}



@media only screen and (min-width: 480px) and (max-width: 767px) {

.addhomefeatured ul li p.product_desc {display: block;}
		
}



@media only screen and (max-width: 480px) { 



}