#submit_searchbox {
  margin: 0;
  display: inline-block;
  text-align: center;
  border: 1px solid #e5e5e5;
  vertical-align: middle; }

#search_block_top {
  display: inline-block;
  margin-right: 4px; }
  #search_block_top #searchbox_inner {
    position: relative; }
  #search_block_top .active #search_query_top {
    background: #ffffff; }
  #search_block_top .btn.button-search {
    background: #333333;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
    padding: 6px;
    width: 264px;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    background: #fbfbfb;
    border: 1px solid #e5e5e5;
    border-right-width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.ac_results {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  padding: 0;
  z-index: 70; }
  .ac_results li {
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    padding: 4px 5px; }
    .ac_results li.ac_odd, .ac_results li.ac_even {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb;
      color: #333; }
    .ac_results li:last-child {
      border: 0; }
    .ac_results li img {
      display: inline-block;
      border: 1px solid #f5f5f5;
      color: #666666; }

.ac_product_name {
  color: #666666;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 230px; }

#ac_search_more {
  padding: 5px 0;
  text-align: center; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
