/*******************************************************************
					Cart Block Styles
********************************************************************/
#blockcart_top_wrap {
  display: inline-block;
  position: relative; }

#header .shopping_cart {
  display: inline-block; }

.shopping_cart {
  display: inline-block;
  vertical-align: middle; }
  .shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    content: "\f0d7";
    font-family: "fontello";
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #686666;
    padding: 6px 0 0 0; }
  .shopping_cart .block_cart_collapse:after {
    content: "\f0d8";
    padding: 4px 0px 2px 0px; }
  .shopping_cart .icon_wrap .amount_circle {
    left: auto;
    right: -8px;
    top: -8px; }
  .shopping_cart .ajax_cart_left {
    float: left;
    min-width: 42px;
    position: relative;
    border: 1px solid #e5e5e5; }
  .shopping_cart .ajax_cart_right {
    float: right;
    display: block;
    border: 1px solid #e5e5e5;
    border-left: none;
    padding-right: 4px;
    padding-left: 4px;
    font-weight: bold; }

.cart_block {
  text-align: left; }
  .cart_block dl.products {
    margin-bottom: 0; }
  .cart_block .cart_block_list .remove_link {
    display: inline-block;
    float: right;
    height: 12px;
    margin: 0 0 0 4px;
    width: 12px; }
  .cart_block .cart_block_list .remove_link a,
  .cart_block .cart_block_list .ajax_cart_block_remove_link {
    display: inline-block;
    height: 12px;
    width: 12px; }
  .cart_block .cart-images {
    border: 1px solid #f5f5f5;
    display: block;
    float: left;
    margin-right: 10px; }
  .cart_block .quantity-formated {
    display: inline-block;
    min-width: 18px;
    margin-right: 2px; }
  .cart_block dd {
    position: relative; }
    .cart_block dd .cart_block_customizations {
      border-top: 1px dashed #333333; }
      .cart_block dd .cart_block_customizations li {
        padding: 10px 20px; }
        .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
          position: absolute;
          right: 10px; }
  .cart_block .cart_block_no_products {
    margin: 0;
    padding: 10px 20px; }
  .cart_block .cart-prices {
    border-top: 1px solid #f5f5f5;
    color: #666666;
    padding: 10px 0; }
    .cart_block .cart-prices .cart-prices-line {
      overflow: hidden;
      border-bottom: 1px solid #f5f5f5;
      margin-bottom: 4px;
      padding-bottom: 4px; }
      .cart_block .cart-prices .cart-prices-line.last-line {
        border: none; }
  .cart_block .cart-buttons a {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px; }
    .cart_block .cart-buttons a#button_order_cart {
      margin-right: 0;
      border: none;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  position: absolute;
  top: 42px;
  right: 0;
  z-index: 100;
  display: none;
  height: auto;
  background: #fff;
  width: 300px;
  border: 1px solid #E5E5E5; }
  #header .cart_block dt {
    border-top: 1px solid #E5E5E5;
    padding-top: 6px;
    padding-bottom: 6px; }
    #header .cart_block dt.first_item, #header .cart_block dt:first-child {
      border-top: none;
      padding-top: none; }
    #header .cart_block dt .price {
      float: right; }
  #header .cart_block .product-atributes {
    padding-bottom: 6px; }
    #header .cart_block .product-atributes a {
      color: #9c9b9b; }
#header .block_content {
  margin-bottom: 0;
  padding: 8px; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 100%;
  padding: 6px 0;
  border-top: 1px solid #f5f5f5;
  display: block; }
  .cart_block table.vouchers tr td {
    padding: 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
#layer_cart .layer_product .layer_product_info > div {
  padding-bottom: 6px; }
#layer_cart .layer_product .layer_product_info #layer_cart_product_quantity_wrap, #layer_cart .layer_product .layer_product_info #layer_cart_product_price_wrap {
  display: none; }
#layer_cart .layer_details .layer_cart_sum,
#layer_cart .layer_details .layer_cart_row {
  padding: 0 10px;
  margin-bottom: 4px; }
#layer_cart p {
  padding: 0px; }

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #e5e5e5;
  padding: 26px 30px 40px 30px;
  position: relative; }
#layer_cart .crossseling h2 {
  font: 400 23px/26px Arial, Helvetica, sans-serif;
  color: #333333;
  margin-bottom: 25px; }
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      width: 178px;
      margin: 0 0px 0 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        border: 1px solid #e5e5e5;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          font-size: 15px;
          line-height: 20px; }
  #layer_cart .crossseling #blockcart_list a.bx-prev,
  #layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "fontello";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #333333;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after,
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      display: block;
      text-indent: 0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
    #layer_cart .crossseling #blockcart_list a.bx-next:hover {
      color: #c0c0c0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
    #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
      display: none; }
  #layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after {
      content: "\f137"; }
  #layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      content: "\f138"; }
  #layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden; }
