#main_content_area .iosslider_wide_container.wide_container{padding:0;}
.iosSlider.fullwidth_default,
.iosSlider.fullwidth_default_boxed{width:100%;height:200px;min-height:200px;overflow:hidden;position:relative;}
.fullwidth_default .slider > .iosSlideritem,
.fullwidth_default_boxed .slider > .iosSlideritem,
.center_background .slider > .iosSlideritem,
.fullwidth_image .slider > .iosSlideritem{float:left;width:100%;height:100%;}
.fullwidth_default .iosSliderBanner_image,
.center_background .iosSliderBanner_image{position: absolute; top:0;left:0;right:0;bottom:0;background-repeat: no-repeat;background-position: center center; background-size: cover;z-index: 1;}
.fullwidth_default_boxed .container{background-repeat: no-repeat;background-position: center center; background-size: cover;z-index: 1;}
.iosSliderBanner_image_overlay{position:absolute;z-index:5;background:#fff;opacity: 0.7; filter:alpha(opacity=70);top:0;left:0;right:0;bottom:0;}
.current .iosSliderBanner_image_overlay{display:none;}
.fullwidth_default .container,
.fullwidth_default .container_flex,
.fullwidth_default_boxed .container{position:relative;height:100%;z-index: 2;}
.iosSlider_text{position:absolute;z-index: 4;width: 80%;display:none;}
.iosSlideritem.current .iosSlider_text{display:block;}

.iosSlider_left_center{left:10%;right:auto;bottom: 50%;top:auto;}
.iosSlider_left_bottom{left:10%;right:auto;bottom: 10%;top:auto;}
.iosSlider_left_top{left:10%;right:auto;bottom: auto;top:10%;}
.iosSlider_right_center{left:auto;right:10%;bottom: 50%;top:auto;}
.iosSlider_right_bottom{left:auto;right:10%;bottom: 10%;top:auto;}
.iosSlider_right_top{left:auto;right:10%;bottom: auto;top:10%;}
.iosSlider_center_center{left:10%;right:10%;bottom: 50%;top:auto;}
.iosSlider_center_bottom{left:10%;right:10%;bottom: 10%;top:auto;}
.iosSlider_center_top{left:10%;right:10%;bottom: auto;top:10%;}

.iosSlider_text_con{font-size: 1.166em;line-height: 1.166em;margin-bottom:8px;}
.iosSlider_text_con h1, .iosSlider_text_con h2, .iosSlider_text_con h3, .iosSlider_text_con h4, .iosSlider_text_con h5{padding:4px 6px;display:inline-block;margin-bottom:8px;float: left;clear:both;}

.iosSlider_text.text-right .iosSlider_text_con h1, .iosSlider_text.text-right .iosSlider_text_con h2, .iosSlider_text.text-right .iosSlider_text_con h3, .iosSlider_text.text-right .iosSlider_text_con h4, .iosSlider_text.text-right .iosSlider_text_con h5, .iosSlider_text.text-right .iosSlider_text_con p{float:right;}
.iosSlider_text_con h1{font-size:400%;}
.iosSlider_text_con h2{font-size:300%;}
.iosSlider_text_con h3{font-size:200%;}
.iosSlider_text_con h4{font-size:150%;}
.iosSlider_text_con h5{font-size:100%;}
.iosSlider_text_con p{padding:2px 6px;display:inline-block;margin-bottom:4px;float:left;clear:both;}
.iosSlider_text.text-center .iosSlider_text_con h1, .iosSlider_text.text-center .iosSlider_text_con h2, .iosSlider_text.text-center .iosSlider_text_con h3, .iosSlider_text.text-center .iosSlider_text_con h4, .iosSlider_text.text-center .iosSlider_text_con h5, .iosSlider_text.text-center .iosSlider_text_con p{display:block;float:none;}

.iosSlider_prev,.iosSlider_next{position:absolute;top: 50%;margin-top:-2em;z-index: 6;display:none;opacity: 0.3;filter:alpha(opacity=30);}
.iosSlider_prev.showonhover,.iosSlider_next.showonhover{opacity: 0;filter:alpha(opacity=0);}
.iosSlider:hover .iosSlider_prev.showonhover, .iosSlider:hover .iosSlider_next.showonhover{opacity: 0.3;filter:alpha(opacity=30);}
.iosSlider_prev i,.iosSlider_next i{font-size:4em;background:#555555;color:#ffffff;display:inline-block;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.iosSlider .iosSlider_prev:hover,
.iosSlider .iosSlider_next:hover,
.iosSlider:hover .iosSlider_prev.showonhover:hover,
.iosSlider:hover .iosSlider_next.showonhover:hover{opacity: 1;filter:alpha(opacity=100);}
.iosSlider_prev{left:2%;}
.iosSlider_next{right:2%;}
.center_background .iosSlider_prev{left:50%;margin-left:-518px;}
.center_background .iosSlider_next{right:50%;margin-right:-518px;}

.iosSlider_selectors{z-index: 6;position:absolute;text-align: center; right:0; left:0; bottom: 12px;display:none;}
.iosSlider_selectors .selectoritem{background:none;width: 16px;height: 16px;line-height:16px;display:inline-block;margin: 0 6px; border:2px solid #666666;padding:3px;}
.iosSlider_selectors .selectoritem span{height:6px;width:6px;line-height:6px;font-size:0;display:none;background:#ffffff;}
.iosSlider_selectors .selectoritem.selected,
.iosSlider_selectors .selectoritem:hover{border-color:#ffffff;}
.iosSlider_selectors .selectoritem.selected span,
.iosSlider_selectors .selectoritem:hover span{display:block;}

.iosSlider_selectors.iosSlider_selectors_round .selectoritem,
.iosSlider_selectors.iosSlider_selectors_round .selectoritem span{-webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px;}
.iosSlider_selectors_square{}

.fullwidth_image_container{	position: relative;width: 100%;height: 0;padding: 0 0 39% 0;}
.fullwidth_image{height:1500px;width:100%;}
.fullwidth_image .slider{width:100%;height:100%;}
.fullwidth_image .slider > .iosSlideritem img{width:100%;height:auto;}

.containerOuter_center_background{
	left: 0;
	right: 0;
    height:500px;
	overflow: hidden;
}

.container_center_background {
	position: relative;
	width: 100%;
    height:500px;
	margin: 0 auto;
	overflow: visible;
}

.iosSlider_container_center_background {
	position: absolute;
	top: 0;
	left: 0;
    height:500px;
	width: 100%;
	margin: 0 0 0 0;
	overflow: visible;
}

.center_background {
	position: relative;
	top: 0;
	left: 0;
	overflow: visible;
	width: 100%;
    height:500px;
}

.center_background .slider {
	width: 10000px;
	height: 100%;
}

.center_background .slider .iosSlideritem {
	float: left;
	width: 900px;
	height: 100%;
}
.center_background .slider .iosSlideritem_inner {
	height:100%;
    position:relative;
    margin:0;
}


.iosSlider .css3loader{position:absolute;z-index:11;top:50%;left:50%;margin: -15px 0 0 -15px;}

.iosSlider_tb0{}
.iosSlider_tb1{padding-top:1px;padding-bottom:1px;}
.iosSlider_tb2{padding-top:2px;padding-bottom:2px;}
.iosSlider_tb3{padding-top:3px;padding-bottom:3px;}
.iosSlider_tb4{padding-top:4px;padding-bottom:4px;}
.iosSlider_tb5{padding-top:5px;padding-bottom:5px;}
.iosSlider_tb6{padding-top:6px;padding-bottom:6px;}
.iosSlider_tb7{padding-top:7px;padding-bottom:7px;}
.iosSlider_tb8{padding-top:8px;padding-bottom:8px;}
.iosSlider_tb9{padding-top:9px;padding-bottom:9px;}
.iosSlider_tb10{padding-top:10px;padding-bottom:10px;}
.iosSlider_tb11{padding-top:11px;padding-bottom:11px;}
.iosSlider_tb12{padding-top:12px;padding-bottom:12px;}
.iosSlider_tb13{padding-top:13px;padding-bottom:13px;}
.iosSlider_tb14{padding-top:14px;padding-bottom:14px;}
.iosSlider_tb15{padding-top:15px;padding-bottom:15px;}
.iosSlider_tb16{padding-top:16px;padding-bottom:16px;}
.iosSlider_tb17{padding-top:17px;padding-bottom:17px;}
.iosSlider_tb18{padding-top:18px;padding-bottom:18px;}
.iosSlider_tb19{padding-top:19px;padding-bottom:19px;}
.iosSlider_tb20{padding-top:20px;padding-bottom:20px;}
.iosSlider_tb21{padding-top:21px;padding-bottom:21px;}
.iosSlider_tb22{padding-top:22px;padding-bottom:22px;}
.iosSlider_tb23{padding-top:23px;padding-bottom:23px;}
.iosSlider_tb24{padding-top:24px;padding-bottom:24px;}
.iosSlider_tb25{padding-top:25px;padding-bottom:25px;}
.iosSlider_tb26{padding-top:26px;padding-bottom:26px;}
.iosSlider_tb27{padding-top:27px;padding-bottom:27px;}
.iosSlider_tb28{padding-top:28px;padding-bottom:28px;}
.iosSlider_tb29{padding-top:29px;padding-bottom:29px;}
.iosSlider_tb30{padding-top:30px;padding-bottom:30px;}
.iosSlider_tb31{padding-top:31px;padding-bottom:31px;}
.iosSlider_tb32{padding-top:32px;padding-bottom:32px;}
.iosSlider_tb33{padding-top:33px;padding-bottom:33px;}
.iosSlider_tb34{padding-top:34px;padding-bottom:34px;}
.iosSlider_tb35{padding-top:35px;padding-bottom:35px;}
.iosSlider_tb36{padding-top:36px;padding-bottom:36px;}
.iosSlider_tb37{padding-top:37px;padding-bottom:37px;}
.iosSlider_tb38{padding-top:38px;padding-bottom:38px;}
.iosSlider_tb39{padding-top:39px;padding-bottom:39px;}
.iosSlider_tb40{padding-top:40px;padding-bottom:40px;}

.container_multi_slide{position: relative;	overflow: visible;height: 500px;}
.containerInner_multi_slide{position: absolute;	width: 100%; height: 100%;}
.multi_slide {
	position: relative;
	top: 0;
	left: 0;
	overflow: visible;
	width: 100%;
	height: 100%;
}

.multi_slide .slider {
	width: 100%;
	height: 100%;
}

.multi_slide .slider .iosSlideritem {
	float: left;
	height: 100%;
    width: 900px;
}

.iosslider_banner_2 .iosslider_banner{margin-bottom:20px;}
.iosslider_banner_3 .iosslider_banner{margin-bottom:10px;}
.iosslider_banner_2 .iosslider_banner:last-child,
.iosslider_banner_3 .iosslider_banner:last-child{margin-bottom:0;}