
#request-options input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    height: 41px;
    padding: 0;
    width: 150px;
}
input[type="checkbox"]:checked + label {
    cursor: pointer;
    display: inline-block;
    height: 41px;
    padding: 0;
    width: 150px;
}
#request-booklet + label {
    background: url("../img/request/request-booklet-off.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 93%;
}
#request-booklet:checked + label {
    background: url("../img/request/request-booklet-on.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 93%;
}
#request-quote + label {
    background: url("../img/request/request-quote-off.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 85%;
}
#request-quote:checked + label {
    background: url("../img/request/request-quote-on.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 85%;
}
#request-phone + label {
    background: url("../img/request/request-phone-off.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 110%;
}
#request-phone:checked + label {
    background: url("../img/request/request-phone-on.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: 100%; 
}
#form-wrapper {
    overflow: auto;
    vertical-align: top;
}
#form-wrapper #form-left {
    display: inline-block;
    float: left;
    margin-top: 8px;
    width: 410px;
}
#form-wrapper #form-right {
    display: inline-block;
    float: right;
    text-align: left;
    width: 300px;
}

/*DZ Styling*/
@media screen and (max-width:960px){
   #form-wrapper #form-right{
      float: left;
    }
  } 

@media screen and (max-width:600px){
  #form-wrapper{
    max-width: 500px;
  }
}

@media screen and (max-width:400px){
  #form-wrapper{
    max-width: 300px;
  }
  #form-wrapper #form-left{
    display: block;
    width: 300px;
  }
}