/* ************************************************************************************************
                  Sub Categories Styles
************************************************************************************************ */
#subcategories {
  border-top: 1px solid #d6d4d4;
  padding: 15px 0 0px 0; }
  #subcategories p.subcategory-heading {
    font-weight: bold;
    color: #333333;
    margin: 0 0 15px 0; }
  #subcategories ul {
    margin: 0 0 0 -20px; }
    #subcategories ul li {
      float: left;
      width: 29.33%;
      text-align: center;
      padding: 20px;
      box-shadow: 0 5px 0 #cccccc;
      border-radius: 5px;
      background: #f6f6f6;
      margin: 0 2% 40px 2%;
      min-height: 260px;
    }
      #subcategories ul li .subcategory-image {
        padding: 0 0 8px 0; }
        #subcategories ul li .subcategory-image a {
          display: block;
          padding: 9px;
          background: #FFF; }
          #subcategories ul li .subcategory-image a img {
            max-width: 100%;
            vertical-align: top; }
      #subcategories ul li .subcategory-name {
        font-family: HelveticaRoundBold;
        font-size: 20px;
        font-weight: bold;
        color: #51b6f6;
        transition: all 0.3s ease; }
        #subcategories ul li .subcategory-name:hover {
          color: #f3702d; }
      #subcategories ul li .cat_desc {
        display: none; }
      #subcategories ul li:hover .subcategory-image a {
        /*border: 5px solid #333333;
        padding: 5px;*/ }


/* ************************************************************************************************
                  GLOBAL PAGE STYLES
************************************************************************************************ */

#category .col-sm-9 {
  float: none;
  width: 100%;
}

/* container */
#category .center_column .container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 20px;
}

#category .page-heading.product-listing {
  font-family: HelveticaRoundBold;
  font-size: 36px;
  line-height: 1em;
  text-align: center;
  color: #f3702d;
  text-transform: none;
  margin: 40px 0;
}

#category .page-heading.product-listing .heading-counter { display: none;}

/* ************************************************************************************************
                  TYPE OF USE CATEGORY STYLES
************************************************************************************************ */

.category-party-centers #center_column,
.category-159 #center_column,
.category-inflatable-amusement-parks #center_column,
.category-160 #center_column,
.category-inflatable-props-decorations #center_column,
.category-161 #center_column,
.category-inflatable-custom-structures #center_column,
.category-162 #center_column,
.category-inflatable-branding-solutions #center_column,
.category-163 #center_column {
  width: 100%; max-width: 100%;
}

.category-party-centers #center_column .breadcrumb,
.category-159 #center_column .breadcrumb,
.category-inflatable-amusement-parks #center_column .breadcrumb,
.category-160 #center_column .breadcrumb,
.category-inflatable-props-decorations #center_column .breadcrumb,
.category-161 #center_column .breadcrumb,
.category-inflatable-custom-structures #center_column .breadcrumb,
.category-162 #center_column .breadcrumb,
.category-inflatable-branding-solutions #center_column .breadcrumb,
.category-163 #center_column .breadcrumb {display: none;}
#category .flexslider {margin-bottom: 0px; border: none;}

.center_column .container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
}

/* bg's */
.bg-blue {background: url('../img/type-of-use/bg-blue-grid-gradient.png') top left repeat;}
.bg-orange {background: url('../img/type-of-use/bg-orange-circle-gradient.png') top left repeat;}
.bg-pink {background: url('../img/type-of-use/bg-pink-flower-gradient.png') top left repeat;}

/* containers */
.category-intro-container,
.category-examples-container,
.category-video-container,
.category-clients-container,
.category-special-projects-container,
.category-gallery-container {
  padding: 30px 0;
  margin-bottom: 1px;
  color: #FFFFFF;
  width: 100%;
}

/* globals */
.grid {clear: both;}
.one-half {width: 50%; padding: 0 2%; float: left;}
.alignright {float: right; margin-left: 30px; max-width: 570px;}
.no-bottom {margin-bottom: 0px!important;}
.clear {clear:both;}
.colored-container img {margin-bottom: 30px; max-width: 100%;}

/* typography */

.colored-container h1, .colored-container h2, .colored-container h3, .colored-container h4 {
  font-family: HelveticaRoundBold;
  text-shadow: 3px 2px rgba(51,0,0,0.4);
  margin-bottom:  30px;
  margin-top: 0px;
}

.colored-container h1 {
  font-size: 50px;
  text-align: center;
}

.colored-container h2 {
  font-size: 36px;
  text-align: center;
}

.colored-container h3 {
  font-size: 26px;
}

.colored-container h4 {
  font-size: 30px;
}

.colored-container p {
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-shadow: 1px 1px rgba(51,0,0,0.2);
  margin-bottom: 30px;
}

/* top banner slider section */
.category-slider-container {margin-top: -10px;}
  .category-slider-container ul li {list-style: none; width: 100%;}
    .category-slider-container ul li img {width: 100%;}

/* intro & examples section */
.category-intro-container h3, .category-examples-container h3 {text-align: center;}
.category-intro-container .button {display: block; width: 320px;}
.category-examples-container .one-half { width: 100%;}

.category-examples-container {padding-bottom: 0px!important;}

/* video section */
.category-video-container iframe {
  /*width: 100%; 
  max-width: 720px; */
  /*
  
  display: block;*/
}
.category-video-container .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 0px auto;
  max-width: 720px;
  max-height: 400px; 
}
.category-video-container .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 400px;
  border: 5px solid #FFFFFF;
}

/* clients section */
.category-clients-container {position: relative;}

.category-clients-container ul.slides {
  width: 100%;
  clear: both;
}

.category-clients-container .client-img img {display: block; margin: 20px auto 20px auto;}

.category-clients-container .client-thumbnails {
  display: none;
}

/*.category-clients-container .client-thumbnails li {
  margin: 20px 0;
  width: 20%;
  float: left;
  text-align: center;
}*/

.category-clients-container .client-thumbnails li img {
  margin-bottom: 0px;
}

.category-clients-container .slider {margin-bottom: 80px;}
  .category-clients-container .flexslider {width: 100%; max-width: 1170px; background: none; box-shadow: none;}
    .category-clients-container ul li {list-style: none; width: 100%;}
      .category-clients-container .flex-control-paging li a {background: #FFF; box-shadow: none;}
      .category-clients-container .flex-control-paging li a:hover, .category-clients-container .flex-control-paging li a.flex-active {background: #f3702d;}

.category-clients-container .client-thumbnails .slider {margin-bottom: 0px;}
  .category-clients-container .client-thumbnails .slider ul li {text-align: center; margin: 25px 0 15px 0;}

/* special products section */
.category-special-projects-container {
  padding-top: 30px;
}

.category-special-projects-container .client-img img {display: block; margin: 0px auto 40px auto;}
.category-special-projects-container .client-info {text-align: center;}

/* gallery section */
.category-gallery-container .flexslider {width: 100%; max-width: 960px; margin: 0px auto;}
  .category-gallery-container ul li {list-style: none; width: 100%;}
    .category-gallery-container ul li img {width: 100%; border: 5px solid #FFF; margin-bottom: 0px;}
    .category-gallery-container .flexslider .flex-prev {width: 57px; height: 67px; background: url('../img/icon-arrow-prev-white.png');}
    .category-gallery-container .flexslider .flex-next {width: 57px; height: 67px; background: url('../img/icon-arrow-next-white.png');}
    .category-gallery-container .flexslider .flexslider:hover .flex-prev,
    .category-gallery-container .flexslider .flexslider:hover .flex-prev {opacity: 1;}
    .category-gallery-container .flex-direction-nav a.flex-prev:before ,
    .category-gallery-container .flex-direction-nav a.flex-next:before {content: none;}

/* product listing */
.category-inflatable-party-centers #center_column .content_sortPagiBar,
.category-inflatable-amusement-parks #center_column .content_sortPagiBar,
.category-inflatable-props-decorations #center_column .content_sortPagiBar,
.category-inflatable-custom-structures #center_column .content_sortPagiBar,
.category-inflatable-branding-solutions #center_column .content_sortPagiBar,
.category-inflatable-party-centers #center_column .product_list,
.category-inflatable-amusement-parks #center_column .product_list,
.category-inflatable-props-decorations #center_column .product_list,
.category-inflatable-custom-structures #center_column .product_list,
.category-inflatable-branding-solutions #center_column .product_list {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
}

.category-inflatable-party-centers #center_column .content_sortPagiBar,
.category-inflatable-amusement-parks #center_column .content_sortPagiBar,
.category-inflatable-props-decorations #center_column .content_sortPagiBar,
.category-inflatable-custom-structures #center_column .content_sortPagiBar,
.category-inflatable-branding-solutions #center_column .content_sortPagiBar {padding: 0 20px;}


/* ************************************************************************************************
                  PAGE SPECIFIC
************************************************************************************************ */

.category-inflatable-branding-solutions #center_column .category-examples-container,
.category-163 #center_column .category-examples-container {
  padding: 80px 0!important;
}

/* ************************************************************************************************
                  MEDIA QUERIES
************************************************************************************************ */

@media (min-width: 479px) {
  
}

@media (min-width: 768px) {
/* typography */
.colored-container h1 {font-size: 70px;}
.colored-container h2 {font-size: 48px;}
.colored-container h3 {font-size: 36px;}
#category .page-heading.product-listing {font-size: 48px;}
/* containers */
.category-intro-container, .category-examples-container, .category-video-container, .category-clients-container, .category-special-projects-container, .category-gallery-container {padding: 50px 0;}
/* intro section */
.category-intro-container .button {display: inline-block; width: auto;}
/* examples section */
.category-examples-container .one-half { width: 50%;}
/* clients section */
.category-clients-container .client-thumbnails {
  position: absolute;
  bottom: -80px;
  background: #FFFFFF;
  width: 100%;
  max-width: 1170px;
  border-radius: 10px;
  display: block;
  box-shadow: 0 5px 0 #cccccc;
  padding: 10px;
  list-style: none;
}
.category-clients-container .client-img img {margin: 20px auto 100px auto;}
/* special products section */
.category-special-projects-container {
  padding-top: 120px;
}
}

@media (min-width: 991px) {
/* videos section */
.category-video-container .videoWrapper {
  padding-bottom: 32.25%;
}
/* clients section */
.category-clients-container .client-info {width: 40%; float: left;}
.category-clients-container .client-img {width: 60%; float: right;}
.category-clients-container .client-img img {width: 100%; margin: 0;}
/* special products section */
.category-special-projects-container .client-img {width: 65%; float: left;}
.category-special-projects-container .client-info {width: 35%; float: left; padding-top: 80px; text-align: left;}
.category-special-projects-container .client-img img {width: 100%; margin: 0;}
}

@media (min-width: 1200px) {
/* container */
#category .center_column .container {padding: 0;}
}

@media (min-width: 1600px) {
.category-slider-container ul li {max-height: 498px;}
}

