/**************************************************************
          CMS Pages Styles
***************************************************************/
#cms .rte {
  padding: 0px 20px;
}

#cms .breadcrumb {
  display: none;
}
#cms #center_column .block-cms {
  padding-bottom: 20px; }
#cms #center_column h1,
#cms #center_column h2,
#cms #center_column h3,
#cms #center_column h4,
#cms #center_column h5,
#cms #center_column h6 {
  font-family: HelveticaRoundBold;
  color: #51b6f6;
}
#cms #center_column h1 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 25px;
  color: #f3702d; }
#cms #center_column h3 {
  font-size: 16px;
  border-bottom: none;
  margin: 0;
  padding: 0 0 17px 0; }
#cms #center_column p, #cms #center_column li {
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 5px;
}
#cms #center_column ul,
#cms #center_column ol  {
  margin-left: 50px;
  /*list-style: none; */
}
#cms #center_column p {
  /*line-height: 18px;*/ }
#cms #center_column .list-1 li {
  padding: 4px 0 6px 0;
  font-weight: bold;
  color: #46a74e;
  border-top: 1px solid #d6d4d4;}
  #cms #center_column .list-1 li:first-child {
    border: none; }
  #cms #center_column .list-1 li em {
    font-size: 20px;
    line-height: 20px;
    padding-right: 15px;
    vertical-align: -2px; }
#cms #center_column img {
  margin: 4px 0 17px;
  max-width: 100%;
  height: auto; }
#cms #center_column .testimonials {
  border: 1px solid;
  border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0;
  margin: 4px 0 13px 0;
  position: relative; }
  #cms #center_column .testimonials .inner {
    border: 1px solid white;
    padding: 19px 18px 11px 18px;
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fefefe));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -o-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
    background: linear-gradient(to bottom, #fbfbfb 0%, #fefefe 100%); }
    #cms #center_column .testimonials .inner span {
      text-indent: -5000px;
      display: inline-block;
      width: 20px;
      height: 15px; }
      #cms #center_column .testimonials .inner span.before {
        background: url(../img/bl-before-bg.png) no-repeat;
        margin-right: 8px; }
      #cms #center_column .testimonials .inner span.after {
        background: url(../img/bl-after-bg.png) no-repeat;
        margin-left: 8px; }
  #cms #center_column .testimonials:after {
    content: ".";
    display: block;
    text-indent: -5000px;
    position: absolute;
    bottom: -16px;
    left: 21px;
    width: 15px;
    height: 16px;
    background: url(../img/testimon-after.gif) no-repeat; }
  #cms #center_column .testimonials + p {
    padding-left: 45px;
    margin-bottom: 18px; }
#cms #center_column p.bottom-indent {
  margin-bottom: 18px; }
#cms #center_column #admin-action-cms {
  background: none repeat 0 0 #F6F6F6;
  border: 1px solid #d2d0d0;
  padding: 10px; }
  #cms #center_column #admin-action-cms p {
    margin: 0; }
    #cms #center_column #admin-action-cms p span {
      display: block;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #333333; }
    #cms #center_column #admin-action-cms p .button {
      font: 700 17px/21px Arial, Helvetica, sans-serif;
      padding: 0;
      border: 1px solid;
      padding: 10px 14px;
      display: inline-block; }
      #cms #center_column #admin-action-cms p .button.publish_button {
        color: white;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        border-color: #0079b6 #006fa8 #012740 #006fa8;
        background: #009ad0;
        background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
        background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
        background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0); }
        #cms #center_column #admin-action-cms p .button.publish_button:hover {
          border-color: #01314e #004b74 #0079b6 #004b74;
          filter: none;
          background: #0084bf; }
      #cms #center_column #admin-action-cms p .button.lnk_view {
        color: #333333;
        text-shadow: 1px 1px white;
        border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
        background: #f7f7f7;
        background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
        background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
        background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0); }
        #cms #center_column #admin-action-cms p .button.lnk_view:hover {
          border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
          filter: none;
          background: #e7e7e7; }


/**************************************************************
          faqs Page
***************************************************************/
.cms-faq .center_column .rte h6 {padding-bottom: 0px; border-bottom: 0px; font-size: 20px; border-top: 1px solid #cccccc; padding: 15px 0 10px 0;}
.cms-faq .center_column .rte h6:hover {cursor: pointer; color: #f3702d!important;}
.cms-faq .center_column .rte p {display: none;} 
.cms-faq .center_column .rte p.show {display: block; margin-bottom: 30px;} 

/**************************************************************
          Case Studies Page
***************************************************************/
.cms-case-studies .columns-container #center_column {max-width: 100%;}
.cms-case-studies .center_column .rte { padding: 0px!important; }
.cms-case-studies .row { margin-bottom: 0px; }
.case-studies-client-list {
  width: 100%;
  max-width: 1170px;
  margin: 50px auto;
}

.case-studies-client-list ul { list-style: none; width: 720px; margin: 40px auto 20px!important; }
.case-studies-client-list ul li {display: inline-block; padding: 0px 10px;}
.case-studies-client-list ul li a { color:#f3702d; }
.cms-case-studies .SEslider {height: 0px; overflow: hidden; background: url(/themes/inflatable-depot/img/slide-bg-blue.png) no-repeat; background-size: cover; margin: 0px;}
.cms-case-studies .active {height: auto!important; overflow: auto!important;}
.cms-case-studies .SEslider .se-pager-item {
  height: 16px;
  width: 16px;
  padding-left: 0.2%;
  padding-right: 0.2%;
  border-radius: 30px;
  margin: 0 3px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s ease 0s;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.cms-case-studies .SEslider .se-pager-item a {
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 30px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin: 5px;
  padding: 0;
  text-decoration: none;
  text-indent: -999em;
  transition: all 0.15s ease 0s;
  -webkit-transition: all 0.15s ease 0s;
  position: absolute;
  left: 0;
  top: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
.cms-case-studies .SEslider .se-pager-item a.active {
  background: #58175f;
}

/**************************************************************
          Why Choose Page & About Us Page
***************************************************************/

.cms-why-choose-inflatable-depot #center_column,
.cms-about-us #center_column {
  width: 100%; max-width: 100%;
}

.cms-why-choose-inflatable-depot .rte,
.cms-about-us .rte {
  padding: 0px!important;
}

.cms-why-choose-inflatable-depot .row,
.cms-about-us .row {
  margin-bottom: 0px;
}

.cms-why-choose-inflatable-depot .center_column .container,
.cms-about-us  .center_column .container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
}

/* typography */

.cms-why-choose-inflatable-depot .colored-container h1, .cms-why-choose-inflatable-depot .colored-container h2,
.cms-about-us .colored-container h1, .cms-about-us h2 {
  font-family: HelveticaRoundBold;
  text-shadow: 3px 2px rgba(51,0,0,0.4);
  margin-bottom:  30px;
  color: #FFF!important;
}

.cms-why-choose-inflatable-depot .colored-container h1,
.cms-about-us .colored-container h1 {
  font-size: 50px!important;
  text-align: center;
  margin-bottom:50px!important;
}

.cms-why-choose-inflatable-depot .colored-container p,
.cms-about-us .colored-container p,
.cms-why-choose-inflatable-depot .colored-container ul,
.cms-about-us .colored-container ul {
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-shadow: 1px 1px rgba(51,0,0,0.2);
  margin-bottom: 30px!important;
}

.cms-about-us .two-column {
  width: 50%;
  padding-right: 40px;
  float: left;
  margin-left: 0px!important;
  margin-bottom: 20px;
}

.cms-why-choose-inflatable-depot .colored-container a,
.cms-about-us .colored-container a {
  font-weight: bold;
  color: #FFF;
}

/* bg's */
.bg-blue {background: url('../img/type-of-use/bg-blue-grid-gradient.png') top left repeat;}
.bg-orange {background: url('../img/type-of-use/bg-orange-circle-gradient.png') top left repeat;}
.bg-pink {background: url('../img/type-of-use/bg-pink-flower-gradient.png') top left repeat;}

/* containers */
.cms-why-choose-inflatable-depot .colored-container,
.cms-about-us .colored-container {
  padding: 30px 0;
  margin-bottom: 1px;
  color: #FFFFFF;
  width: 100%;
}

.cms-why-choose-inflatable-depot  .center_column .container,
.cms-about-us .center_column .container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 20px;
}

/* globals */
.cms-why-choose-inflatable-depot .alignright, .cms-about-us .alignright {float: right; margin-left: 30px!important;}
.cms-why-choose-inflatable-depot .alignleft, .cms-about-us .alignleft {float: left; margin-right: 30px!important;}
.clear {clear:both;}

/**************************************************************
          Media Queries
***************************************************************/

@media (min-width: 768px) {
  /* containers */
    .cms-why-choose-inflatable-depot .colored-container, .cms-about-us .colored-container  {padding: 80px 0;}
  }
}
