#product .breadcrumb {
  margin-bottom: 35px;
}


/* product desc */
/* primary_block ***************************************************************************** */

.primary_block {
  margin-bottom: 0px; }

.top-hr {
  background: #c4c4c4;
  height: 5px;
  margin: 2px 0 31px; }

.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif; }

.box-security .product-heading-h5 {
  margin: 3px 0 -8px; }
  @media (max-width: 1199px) {
    .box-security .product-heading-h5 {
      margin-bottom: 8px; } }

#productscategory_list .product-name,
.accessories-block .product-name {
  margin-bottom: 5px; }
  #productscategory_list .product-name a,
  .accessories-block .product-name a {
     font-family: HelveticaRoundBold;
  font-size: 20px;
  font-weight: bold;
  color: #51b6f6;
  transition: all 0.3s ease;
  text-decoration: none;
  padding-top: 20px; }
    #productscategory_list .product-name a:hover,
    .accessories-block .product-name a:hover {
      color: #f3702d; }

img {
  max-width: 100%;
  height: auto; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column{
  width: 50%;
  display: inline-block;
  float: left;
}
.pb-left-column #image-block {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background: white;
  width: 585px;
  -webkit-box-shadow: 2px 1px 5px 4px rgba(233,231,232,1);
  -moz-box-shadow: 2px 1px 5px 4px rgba(233,231,232,1);
  box-shadow: 2px 1px 5px 4px rgba(233,231,232,1); }
  @media (max-width: 767px) {
    .pb-left-column #image-block {
      width: 280px;
      margin: 0 auto; } }
  .pb-left-column #image-block img {
    background: #fbfbfb;
    width: 100%; }
  .pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    text-align: center;
    line-height: 22px;
    color: #f3702d;
    text-align: center;
    font-weight: 700; }
    .pb-left-column #image-block #view_full_size .span_link:before {
      font-family: "FontAwesome";
      color: #f3702d;
      font-size: 20px;
      line-height: 22px;
      content: "\f00e";
      font-weight: normal;
      margin: 0 4px 0 0px; }
    .pb-left-column #image-block #view_full_size .span_link:hover:after {
      color: #333333; }
  .pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none; }
  .pb-left-column #image-block .zoomPad {
    z-index: auto !important; }
  .pb-left-column #image-block .new-box,
  .pb-left-column #image-block .sale-box {
    z-index: 5002; }

/* miniatures */
.pb-left-column #views_block {
  margin-top: 10px; }
  @media (max-width: 767px) {
    .pb-left-column #views_block {
      width: 280px;
      margin: 0 auto; } }

#thumbs_list {
  overflow: hidden;
  float: left;
  width: 100%; }
  @media (min-width: 992px) and (max-width: 1199px) {
    #thumbs_list {
      width: 290px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #thumbs_list {
      width: 164px; } }
  @media (max-width: 767px) {
    #thumbs_list {
      width: 194px; } }
  #thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    /*max-height: 140px;*/
    max-width: 585px;
    min-width: 100% !important; }
  #thumbs_list li {
    float: left;
    height: 108px;
    width: 108px;
    cursor: pointer;
    margin-right: 8px;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
     }
  #thumbs_list li a{

  }
  #thumbs_list li img{
    border-radius: 5px;
  }
  
    @media (min-width: 768px) and (max-width: 991px) {
      #thumbs_list li {
        width: 76px;
        height: 76px; } }
    #thumbs_list li:first-child {
      margin: 0 9px 0 0; }
    #thumbs_list li.last {
      margin-right: 0; }
    #thumbs_list li a {
      display: block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff; }
      #thumbs_list li a:hover, #thumbs_list li a.shown {
        border-color: #dbdbdb; }
    #thumbs_list li img {
      width: 100%;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; 
      -webkit-box-shadow: 1px 1px 1px 1px rgba(232,231,231,1);
-moz-box-shadow: 1px 1px 1px 1px rgba(232,231,231,1);
box-shadow: 1px 1px 1px 1px rgba(232,231,231,1);
    }
      @media (min-width: 768px) and (max-width: 991px) {
        #thumbs_list li img {
          width: 68px;
          height: 68px; } }

span.view_scroll_spacer {
  float: left;
  width: 39px;
  padding-left: 12px;
  display: none; }
  @media (min-width: 768px) and (max-width: 991px) {
    span.view_scroll_spacer {
      padding-left: 6px;
      width: 28px; } }

#view_scroll_left,
#view_scroll_right {
  margin-top: 38px;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  display:none!important; }
  @media (min-width: 768px) and (max-width: 991px) {
    #view_scroll_left,
    #view_scroll_right {
      margin-top: 28px; } }
  #view_scroll_left:before,
  #view_scroll_right:before {
    padding-left: 2px;
    color: silver;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 22px; }
  #view_scroll_left:hover:before,
  #view_scroll_right:hover:before {
    color: #333333; }

#view_scroll_right {
  float: left; }
  #view_scroll_right:before {
    /*content: "\f138";*/ }

#view_scroll_left {
  margin-top: 0; }
  #view_scroll_left:before {
    /*content: "\f137";*/
    padding-right: 2px; }

.resetimg {
  padding: 10px 0 0; }
  .resetimg #resetImages i {
    margin-right: 6px; }

.view_scroll_spacer {
  margin-top: 38px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .view_scroll_spacer {
      margin-top: 28px; } }

/* link list */
#usefull_link_block {
  list-style-type: none; }
  #usefull_link_block li {
    margin: 0 0 8px 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      #usefull_link_block li {
        float: none !important; } }
    #usefull_link_block li:first-child {
      margin: 0 0 8px 0;
      border: none;
      padding: 0; }
    #usefull_link_block li a {
      color: #777676;
      font-weight: 700;
      position: relative;
      padding-left: 30px;
      line-height: 22px;
      display: inline-block; }
      #usefull_link_block li a:before {
        font-family: "FontAwesome";
        color: #333333;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        font-weight: normal; }
      #usefull_link_block li a:hover {
        color: #000; }
    @media (min-width: 768px) and (max-width: 991px) {
      #usefull_link_block li.print {
        margin: 8px 0 0;
        padding: 0;
        border: none; } }
    #usefull_link_block li.print a:before {
      content: "\f02f"; }
    #usefull_link_block li.sendtofriend a:before {
      content: "\f003"; }
    #usefull_link_block li#left_share_fb {
      clear: both;
      float: none; }
      #usefull_link_block li#left_share_fb a {
        padding-left: 18px; }
      #usefull_link_block li#left_share_fb a:before {
        content: "\f09a"; }
    #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
      cursor: pointer;
      font-weight: 700;
      clear: both;
      float: none;
      margin: 0 0 8px 0;
      border: none;
      padding: 0;
      position: relative; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
        font-family: "FontAwesome";
        color: #333333;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        font-weight: normal;
        content: "\f08a"; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
        color: #000; }
    #usefull_link_block li#favoriteproducts_block_extra_removed:before {
      content: "\f004"; }
  .product-image-left{
    max-width: 100px;
    position: absolute;
    top: 40px;
    left: -100px;}
  .product-image-bottom{
    max-width: 250px;
    position: absolute;
    bottom: -126px;
    left: 320px;
    z-index: -1;}
/* pb-left-column ****************************************************************************** */

/* pb-right-column */

.pb-right-column{
  width: 45%;
  margin-left: 4%;
  display: inline-block;}
.pb-right-column h1 {
    font-family: HelveticaRoundBold;
    color: #f3702d;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 16px;
    margin-bottom: 0px;
    margin-top: 10px; }
.pb-right-column #short_description_content{
  padding: 0px;
  line-height: 25px;
  font-family: HelveticaLight;}
.info-block{
  padding: 60px;
  padding-bottom: 85px;
  padding-left: 0px;
  background-image: url(../img/info-box-bg.png);
  background-position: 58% -10px;
  background-repeat: no-repeat;
  }
  .relative-icons{
    padding: 20px;
    padding-left: 0px;}
  .relative-icons img{
    min-width: 40%;
  }
/* End of right column */
.product-description{
  font-family: HelveticaLight;
  padding-top: 20px;}
.product-description p{
  line-height: 30px;
  font-size: 16px;}
.blue-prints{
  padding-bottom: 20px;
  min-height: 250px;}
.pb-center-column {
  margin-bottom: 30px;
  /* form */ }
.back-to-top{
  color: #f59260;
  text-align: right;
  }
.back-to-top a{
  color: #f59260 !important;
  text-align: right;
  }
  .product-details{
    border-top: 1px solid #e3e3e3;
    padding-top: 50px;}
  .details-box{
    }
  .safety-first .orange-subtitle{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
  }
  .blue-prints .orange-subtitle{
     border-bottom: 1px solid #cccccc;
     padding-bottom: 20px;
  }
  .details-box .pb-left-column{
    width: 66%;
  }
  .details-box .pb-right-column{
    width: 30%;
    float: right;
  }
  .pb-center-column h1 {
    font-family: HelveticaRoundBold;
    color: #f3702d;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 16px; }
  .pb-center-column p {
    margin-bottom: 10px; }
  .pb-center-column #product_reference {
    margin-bottom: 6px; }
    .pb-center-column #product_reference span {
      font-weight: 700;
      color: #333333; }
  .pb-center-column #short_description_block {
    color: #666666; }
    .pb-center-column #short_description_block .buttons_bottom_block {
      display: none; }
    .pb-center-column #short_description_block #short_description_content {
      padding: 0 0 15px;
      word-wrap: break-word; }
      .pb-center-column #short_description_block #short_description_content p {
        line-height: 18px; }
  .pb-center-column #buy_block {
    margin-top: 10px; }
    .pb-center-column #buy_block label {
      display: inline-block;
      width: 125px;
      font-weight: 700;
      font-size: 12px;
      text-align: right; }
    .pb-center-column #buy_block p.price {
      padding: 0; }
  .pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700; }

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #d6d4d4;
  border-bottom: 1px solid #d6d4d4;
  margin: 10px 0 -5px;
  position: relative; }
  #product p#loyalty b {
    color: #333333; }
  #product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0; }

#page .rte {
  padding: 0 20px 20px;
  word-wrap: break-word; }
  #page .rte p {
    margin-bottom: 0; }

#attributes fieldset {
  padding-bottom: 3px; }
  #attributes fieldset label {
    vertical-align: top;
    display: block; }
#attributes .attribute_list {
  width: 100%; }
  #attributes .attribute_list .form-control {
    max-width: 230px; }
    #attributes .attribute_list .form-control option {
      background: white;
      color: #666666; }
  #attributes .attribute_list ul {
    clear: both; }
    #attributes .attribute_list ul li {
      float: left;
      margin-right: 10px; }
  #attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px; }
  #attributes .attribute_list div.radio,
  #attributes .attribute_list div.radio span,
  #attributes .attribute_list div.radio input {
    float: none;
    display: inline-block; }
  #attributes .attribute_list #color_to_pick_list {
    list-style-type: none; }
    #attributes .attribute_list #color_to_pick_list li {
      float: left;
      margin: 0 3px 3px 0;
      padding: 1px;
      border: 1px solid #d6d4d4;
      clear: none; }
      #attributes .attribute_list #color_to_pick_list li a.color_pick {
        display: block;
        height: 22px;
        width: 22px;
        cursor: pointer; }
      #attributes .attribute_list #color_to_pick_list li.selected {
        border: 1px solid #4d4d4d; }

.product_attributes,
.box-cart-bottom {
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  padding: 19px 19px 17px; }

.box-cart-bottom {
  padding: 0; }

#short_description_content a,
.page-product-box a {
  color: #333333;
  text-decoration: underline; }
#short_description_content a.btn,
.page-product-box a.btn {
  text-decoration: none; }

.box-info-product {
  display: none;
  background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf; }
  .box-info-product p {
    margin-bottom: 7px; }
  .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -o-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 ); }
    .box-info-product .exclusive:before {
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      color: white;
      font-size: 25px;
      line-height: 47px;
      text-shadow: 0 1px #015883;
      content: "\f07a";
      z-index: 2;
      width: 51px;
      text-align: center;
      border: 1px solid #06b2e6;
      -webkit-border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -ms-border-radius: 5px 0 0 5px;
      -o-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px; }
      @media (max-width: 991px) {
        .box-info-product .exclusive:before {
          display: none; } }
    .box-info-product .exclusive.added:before {
      content: "\f00c"; }
    .box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before {
      content: "\f110";
      animation: 2s linear 0s normal none infinite spin;
      -webkit-animation: 2s linear 0s normal none infinite spin;
      -moz-animation: 2s linear 0s normal none infinite spin;
      border: none; }
    .box-info-product .exclusive:after {
      background: url(../img/border-1.gif) repeat-y 0 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51px;
      content: "";
      width: 1px;
      z-index: 2; }
      @media (max-width: 991px) {
        .box-info-product .exclusive:after {
          display: none; } }
    .box-info-product .exclusive span {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      border-top: 1px solid #06b2e6;
      border-right: 1px solid #06b2e6;
      border-left: 1px solid #06b2e6;
      border-bottom: 1px solid #06b2e6;
      text-shadow: 0 1px #015883;
      padding: 12px 36px 14px 60px;
      color: white;
      display: block !important;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 1199px) {
        .box-info-product .exclusive span {
          padding: 12px 22px 14px 55px;
          font-size: 14px; } }
      @media (max-width: 991px) {
        .box-info-product .exclusive span {
          padding: 8px 12px 10px;
          text-align: left; } }
    .box-info-product .exclusive:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
      background-image: -webkit-linear-gradient(#007ab7, #009ad0);
      background-image: -moz-linear-gradient(#007ab7, #009ad0);
      background-image: -o-linear-gradient(#007ab7, #009ad0);
      background-image: linear-gradient(#007ab7, #009ad0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
      background-position: 0 0; }

#center_column.col-sm-9 .col-md-3 .box-info-product {
  background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf; }
  #center_column.col-sm-9 .col-md-3 .box-info-product p {
    margin-bottom: 7px;
    padding: 15px 10px 0; }
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -o-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 ); }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
      font-family: "FontAwesome";
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      color: white;
      font-size: 25px;
      line-height: 47px;
      text-shadow: 0 1px #015883;
      content: "\f07a";
      z-index: 2;
      width: 51px;
      text-align: center;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
          display: none; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
      content: "\f00c"; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
      content: "\f110";
      animation: 2s linear 0s normal none infinite spin;
      -webkit-animation: 2s linear 0s normal none infinite spin;
      -moz-animation: 2s linear 0s normal none infinite spin;
      border: none; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
      background: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51px;
      content: "";
      width: 1px;
      z-index: 2; }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
          display: none; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border: none;
      border-top: 1px solid #006fa8;
      text-shadow: 0 1px #015883;
      padding: 12px 16px 14px;
      color: white;
      display: block !important;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 1199px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          font-size: 16px; } }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          padding: 8px 12px 10px;
          text-align: center; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
      background-image: -webkit-linear-gradient(#007ab7, #009ad0);
      background-image: -moz-linear-gradient(#007ab7, #009ad0);
      background-image: -o-linear-gradient(#007ab7, #009ad0);
      background-image: linear-gradient(#007ab7, #009ad0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
      background-position: 0 0; }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #d6d4d4;
  width: 100%;
  margin: 0 0 20px;
  background: white; }
  .table-data-sheet tr {
    border-top: 1px solid #d6d4d4; }
    .table-data-sheet tr.even {
      background: #fdfdfd; }
    .table-data-sheet tr td {
      padding: 10px 20px 11px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #d6d4d4;
        width: 30%;
        font-weight: 700;
        color: #333333; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #d6d4d4;
  border-right: 1px solid #d6d4d4;
  width: 50%;
  margin: 0 0 20px;
  background: white; }
  @media (max-width: 767px) {
    table.table-product-discounts {
      width: 100%; } }
  table.table-product-discounts tr th {
    background: #fbfbfb;
    color: #333333;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #d6d4d4;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #d6d4d4;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
  display: none; }
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
    text-decoration: none; }

/* quantity_wanted */
#quantity_wanted_p input {
  width: 78px;
  height: 27px;
  padding: 0 6px;
  float: left;
  border: 1px solid #d6d4d4;
  line-height: 27px; }
#quantity_wanted_p .btn {
  float: left;
  margin-left: 3px; }
#quantity_wanted_p label {
  display: block;
  margin-bottom: 7px; }

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right; }

#quantityAvailable {
  color: #333333;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700; }

#availability_value,
#last_quantities {
  color: white;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  background: #55c65e;
  border: 1px solid #36943e;
  margin-left: 5px; }

#last_quantities {
  background: #fe9126;
  border: 1px solid #e4752b;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px; }

#availability_statut,
#pQuantityAvailable {
  display: inline-block; }

#pQuantityAvailable span {
  font-weight: 700;
  color: #333333; }

#availability_statut #availability_value.warning_inline {
  background-color: #fe9126;
  border-color: #e4752b;
  text-shadow: 1px 1px #e68322;
  margin: 0; }

/* box-security */
.box-security {
  border-top: 1px solid #dfdede;
  padding: 19px 19px 6px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fbfbfb));
  background-image: -webkit-linear-gradient(#ffffff, #fbfbfb);
  background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
  background-image: -o-linear-gradient(#ffffff, #fbfbfb);
  background-image: linear-gradient(#ffffff, #fbfbfb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fbfbfb',GradientType=0 ); }

/* prices */
.content_prices {
  padding: 13px 19px; }

.discount {
  display: none; }

.our_price_display {
  font-weight: 600;
  font-size: 29px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  color: #333333; }
  @media (max-width: 991px) {
    .our_price_display {
      font-size: 26px;
      line-height: 28px; } }

#old_price {
  padding-bottom: 15px;
  font-size: 17px;
  text-decoration: line-through;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  line-height: 23px; }

#reduction_percent,
#reduction_amount {
  display: inline-block;
  margin-right: 10px;
  padding: 1px 2px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  line-height: 23px;
  color: white;
  background: #f13340;
  border: 1px solid #d02a2c; }
  #reduction_percent span,
  #reduction_amount span {
    display: block; }

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }

.buttons_bottom_block {
  clear: both; }
  .buttons_bottom_block #wishlist_button {
    font-weight: 700; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #send_friend_form {
      width: 280px; } }
  #send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid #d6d4d4; }
  #send_friend_form .product p {
    padding: 0;
    color: #333333; }
    #send_friend_form .product p .product_name {
      font-size: 12px;
      color: #000; }
  #send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #d6d4d4;
    background: #fbfbfb; }
    #send_friend_form .form_container p.intro_form {
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 13px;
      color: #333333; }
    #send_friend_form .form_container p.txt_required {
      padding-bottom: 0;
      color: #666; }
    #send_friend_form .form_container .text {
      padding-bottom: 10px; }
      #send_friend_form .form_container .text label {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 12px; }
      #send_friend_form .form_container .text input {
        padding: 0 5px;
        height: 22px;
        width: 100%;
        border: 1px solid base-border-color;
        font-size: 12px;
        color: #666; }
  #send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d4d4; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
    display: block;
    vertical-align: top; }
  .customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #d6d4d4;
    color: #777777; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

.accessories_block div ul li a {
  display: inline-block; }
.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
  font-weight: 700; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block {
  margin-bottom: 0; }
  @media (max-width: 991px) {
    #product.content_only div.primary_block {
      margin-right: 0; } }
  #product.content_only div.primary_block div.pb-left-column {
    padding: 20px 20px 5px 35px;
    width: 47%; }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-left-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-left-column span.view_scroll_spacer {
      width: 38px;
      padding-left: 10px; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list {
      width: 392px; }
  #product.content_only div.primary_block div.pb-center-column {
    padding: 20px 20px 60px 0px;
    width: 27.5%;
    margin-bottom: 0;
    min-height: 623px;
    height: 100%; }
    @media (max-width: 991px) {
      #product.content_only div.primary_block div.pb-center-column {
        min-height: 440px; } }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-center-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-center-column .product_comments_block_extra {
      padding-right: 0; }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-center-column .comments_advices li {
        display: block; }
      #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews {
        margin: 0;
        padding: 0;
        border: none; } }
    #product.content_only div.primary_block div.pb-center-column #ShareDiv {
      position: absolute;
      bottom: 8px; }
  #product.content_only div.primary_block div.pb-right-column {
    width: 25.5%;
    padding-right: 15px;
    padding-left: 0; }
    #product.content_only div.primary_block div.pb-right-column .box-info-product {
      border-top-width: 0px;
      border-right: none;
      border-bottom: none;
      min-height: 623px;
      height: 100%;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      -ms-border-radius: 0 4px 4px 0;
      -o-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
      position: relative;
      padding-bottom: 125px; }
      @media (max-width: 991px) {
        #product.content_only div.primary_block div.pb-right-column .box-info-product {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0;
          border: 1px solid #d6d4d4; } }
      #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive {
        display: block;
        width: 100%; }
        #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before, #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after {
          display: block; }
        #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
          font-size: 20px;
          text-align: center; }
          @media (max-width: 1199px) {
            #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
              padding: 12px 22px 14px 70px;
              font-size: 20px; } }
      #product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
        right: 0;
        left: 0; }
    #product.content_only div.primary_block div.pb-right-column #attributes .attribute_list .form-control {
      width: 230px; }
    #product.content_only div.primary_block div.pb-right-column .product_attributes,
    #product.content_only div.primary_block div.pb-right-column .box-cart-bottom {
      -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
      -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px; }
    #product.content_only div.primary_block div.pb-right-column .product_attributes {
      padding-top: 0; }

.addsharethisinner .stButton .stArrow {
  display: none !important; }

@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-left-column,
  #product.content_only section.primary_block div.pb-left-column {
    width: 100%;
    padding-right: 15px; }
    #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
      max-width: 470px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list li,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
      width: 90px;
      height: 90px; }
      #product.content_only div.primary_block div.pb-left-column #thumbs_list li img,
      #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
        width: 82px;
        height: 82px; }
  #product.content_only div.primary_block div.pb-center-column,
  #product.content_only section.primary_block div.pb-center-column {
    width: 50%;
    float: left;
    padding-left: 35px; }
  #product.content_only div.primary_block div.pb-right-column,
  #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left; }
    #product.content_only div.primary_block div.pb-right-column .box-info-product,
    #product.content_only section.primary_block div.pb-right-column .box-info-product {
      border-top-width: 1px;
      min-height: 1px; } }
@media (max-width: 1050px) and (max-width: 479px) {
  #product.content_only div.primary_block,
  #product.content_only section.primary_block {
    margin-left: 0; } }
  @media (max-width: 1050px) and (max-width: 479px) {
    #product.content_only div.primary_block div.pb-center-column,
    #product.content_only section.primary_block div.pb-center-column {
      width: 100%;
      float: none;
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
  @media (max-width: 1050px) and (max-width: 479px) {
    #product.content_only div.primary_block div.pb-right-column,
    #product.content_only section.primary_block div.pb-right-column {
      margin-top: 10px;
      width: 100%;
      float: none;
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #d6d4d4; }
.ie8 .box-security {
  filter: none; }

.safety-first-content{
  font-family: HelveticaLight;
}
.safety-first-content img{
  float: right;
}
.blue-prints img{
  max-width: 100%;
  background: #FFF;
  margin-bottom: 30px;
  border-radius: 5px;
}
.additional-info-box{
  position: relative;
display: block;
padding: 30px;
clear: left;
border-radius: 5px;
background: white;
width: 100%;
box-shadow: 1px 1px 1px 1px rgba(233,231,232,1);
margin-top: 100px;
}
#facts-bg{
  position: absolute;
  width: 1535px;
  max-width: 1437px;
  left: -115px;
  top: -121px;
  z-index: -1;
}
.additional-info-box p{
  font-family: HelveticaLight;
  font-weight: 600;
}
.additional-info-box .orange-subtitle{
  border-bottom: 1px solid #cccccc;
}
.additional-info-column-left{
  display: inline-block;
  width: 70%;
  float: left;
  padding-right: 10%;
}
.additional-info-column-right{
  display: inline-block;
  width: 30%;
  float: right;
}
.dimension-label{
  color: #a51f65;
}
.facts-info,
.shipping-dimensions-info{
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 16px;
}
.product-features-info ul {
  display: table;
}

.product-features-info li {
  display: table-cell;
  text-align: center;
  width: 88px;
  font-weight: bold;
  font-size: 14px;
  vertical-align: top;
  float: left;
  margin: 10px 10px 0 10px;
  min-height: 125px;
}
.product-features-info img{
  margin: 0px auto 10px auto;
}
.additional-info-info div{
  display: inline-block;
  width: 49%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.additional-info-info div img{
  margin-right: 2%;
  max-width: 46%;
}

.row-bottom{
  clear: left;
}

.big-image-box{
  /*float: left;*/
  background-image:url(../img/big-image-bg.jpg);
  background-repeat: repeat;
  padding: 50px;
  padding-top: 150px;
  margin-top: -100px;
}
.big-image-box .maintext{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.big-image-box img{
  display: block;
  margin: auto;
}
.big-image-header, .product-slides-header, .big-image-info h2, .product-slides-header h2{
  margin: auto;
  font-family: HelveticaRoundBold;
  color: #fff;
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  line-height: 60px;
  text-shadow: 3px 3px #333;
  clear: both;
  padding-bottom: 20px;
}
.virtual-tour-box{
  max-width: 1170px;
  margin: auto;
  clear: left;
  min-height: 400px;
  padding: 50px;
  min-height: 550px;
  padding-top: 150px;
}
.virtual-tour-box .big-image-header{
  color: #51b6f6;
  text-shadow: none;
  text-align: left;
}
.virtual-tour-column-left{
  max-width: 50%;
  float: left;
}
.virtual-tour-column-right{
  float: right;
  position: relative;
}
.virtual-tour-column-right img{
  position: absolute;
  right: -144px;
  max-width: 700px;
  top: -100px;
  z-index: -1;
}
.virtual-tour-text{
  font-size: 16px;
  font-family: HelveticaLight;
  line-height: 30px;
}
.virtual-tour-video iframe{
  width: 500px;
  height: 300px;
  border: 3px solid #fff;
}
.product-slides-box{
  background: url(../img/slide-bg-blue.png) repeat;
  padding: 50px;
  clear: left;
  margin: auto;
}
.product-slides-info{
  float: left;
  margin-left: 15%;
  position: absolute;
  top: 170px;
  max-width: 23%;
}
.product-slide-title{
  line-height: 30px;
  font-size: 25px !important;
} 
.product-slides-info p{
  font-family: HelveticaLight;
  font-size: 14px;
  color: #fff;
}
.product-slides-header{
  padding-bottom: 60px;
}
/*#SEslider_product_slider1{
  float: right;
  max-width: 50% !important;
  margin-top: -150px !important;
}*/
.seslider_product_slider1 li img{
  margin: auto;
  width: 50% !important;
}
.seslider_product_slider1 .se-viewport{
  height: auto !important;
}
.seslider_product_slider1 .se-default-pager{
  display: none;
}
.product-reviews{
  max-width: 1170px;
  margin: auto;
  clear: left;
  padding: 50px;
}
.review-title{
  text-align: center;
}
.product-slides-container{
  max-width: 1170px;
  margin: auto;
  clear: left;
  position: relative;
}
.product-slides-box-extra-slides{
  position: relative;
  min-height: 400px;
  overflow: hidden;
}
.product-slides-box-extra-slides img{
  width: 33.33%;
  float: left;
  max-height: 341px;
  /*position: absolute;*/
}
.set1{
  position: absolute;
  width: 100%;
  left: 0%;
}
.set2{
  position: absolute;
  width: 100%;
  left: 100%;
}
.set3{
  position: absolute;
  width: 100%;
  left: 200%;
}
.set4{
  position: absolute;
  width: 100%;
  left: 300%;
}
/*.product-slides-box-extra-slides img:nth-child(1){
  left: 0%;
}
.product-slides-box-extra-slides img:nth-child(2){
  left: 33%;
}
.product-slides-box-extra-slides img:nth-child(3){
  left: 66%;
}
.product-slides-box-extra-slides img:nth-child(4){
  left: 99%;
}*/
body.product .footer-container{
  clear: left;
  max-width: 1170px;
  margin: auto;
  padding-top: 50px;
}
.productscategory_h3{
  color: #51b6f6 !important;
  text-shadow: none;
  text-align: center;
  font-family: HelveticaRoundBold !important;
  font-size: 44px !important;
  padding-top: 50px !important;
  padding-bottom: 30px !important;
}
/* 
 * Extra Product Tabs Hidden
*/

h3[id="#extraTabLink_1"],
h3[id="#extraTabLink_2"],
h3[id="#extraTabLink_3"],
h3[id="#extraTabLink_4"],
h3[id="#extraTabLink_5"],
h3[id="#extraTabLink_6"],
h3[id="#extraTabLink_7"],
h3[id="#extraTabLink_8"],
h3[id="#extraTabLink_9"],
h3[id="#extraTabLink_10"],
h3[id="#idTab5"],
#idTab5,
#extraTab_1,
#extraTab_2,
#extraTab_3,
#extraTab_4,
#extraTab_5,
#extraTab_6,
#extraTab_7,
#extraTab_8,
#extraTab_9,
#extraTab_10{
  display: none !important;
}

.product-number{
  color: #4c2668;
  font-weight: bold;
  font-family: HelveticaRoundBold;
  font-size: 30px;
}

.seslider_product_slider1{
  margin-top: 0px;
}

.seslider_product_slider1 a.se-prev{
  background: none;
  background-image:url('../img/icon-arrow-prev-white.png');
  width: 57px;
  height: 67px;
}

.seslider_product_slider1 a.se-next{
  background: none;
  background-image:url('../img/icon-arrow-next-white.png');
  width: 57px;
  height: 67px;
}

.seslider_product_slider1 li img{
  float: right;
  margin-right: 10%;
}

#productscategory_list{
  max-width: 1170px;
  margin: auto;
  clear: left;
  padding: 50px;
}

ul.product_list.grid > li {
padding: 20px;
text-align: center;
width: 33.33%;
float: left;
}

body#product ul.product_list.grid > li .product-container h5{
  padding-top: 10px;
}

body#product .button-container{
  padding-bottom: 1px;
}

body#product .product-container .left-block{
  max-height: 360px;
} 
body#product .button-container a.lnk-view{
  margin: 0 0 15px 0;
background: #4c2668;
color: #FFFFFF;
border: none;
border-radius: 5px;
font-family: HelveticaRoundBoldCond;
width: 100%;
text-shadow: none;
text-align: center;
transition: all 0.3s ease;
display: block;
text-decoration: none;
cursor: pointer;
font-size: 24px;
text-shadow: 3px 2px rgba(51,0,0,0.4);
}
body#product .button-container a:hover.lnk-view {
  background: #f3702d;
}
body#product .button-container a.lnk-view span{
border-color: white;
padding: 10px 14px;
display: block;
}

/* Product slider text */

#product_slide_1_text{
  float: left;
  position: absolute;
  left: 0px;
  width: 269px;
}
#product_slide_2_text{
  float: left;
  position: absolute;
  left: 269px;
  width: 269px;
  display: none;
}
#product_slide_3_text{
  float: left;
  position: absolute;
  left: 548px;
  width: 269px;
  display: none;
}
#product_slide_4_text{
  float: left;
  position: absolute;
  left: 807px;
  width: 269px;
  display: none;
}

@media screen and (max-width:1200px){

#center_column{
  text-align: center;
}
.breadcrumb{
  padding-left: 20px;
}
.pb-left-column, .pb-right-column{
  width: 100%;
  margin: auto;
  clear: both;
  float: none;
  display: block;
}
#image-block{
  margin: auto;
}
.back-to-top{
  text-align: center;
  padding-bottom: 20px;
}
body#product #product_comments_block_extra .comments_note span, body#product #product_comments_block_extra .star_content, #product_comments_block_extra .comments_note span, body#product #product_comments_block_extra .star_content{
  float: none;
  text-align: center;
  margin: auto;
  padding: 0; 
  display: inline-block;
} 
body#product #product_comments_block_extra, body#product .relative-icons{
  margin: 0;
  padding: 0;
}
body#product .product-description{
  max-width: 90%;
  margin: auto;
}
body#product .star{
  top: 2px;
}
.info-block{
  background-position: 66%;
}
.relative-icons img{
  min-width: 20%;
}
.details-box .pb-left-column, .details-box .pb-right-column{
  clear: both;
  display: block;
  width: 90%;
  margin: auto;
  padding: 0;
  float: none;
}
.pb-left-column #views_block {
  margin-top: 10px; 
  width: 475px;
  float: none;
  display: block;
  margin: auto;}
.additional-info-column-left, .additional-info-column-right{
  width: 90%;
  clear: both;
  float: none;
  display: block;
  padding: 0;
  margin: auto;
}
.virtual-tour-box{
  padding-top: 50px;
}
.virtual-tour-box .big-image-header{
  text-align: center; 
}
.virtual-tour-column-left{
  text-align: center;
  padding-bottom: 20px;
}
.virtual-tour-column-left, .virtual-tour-column-right{
  width: 100%;
  max-width: 100%;
  clear: left;
  float: none;
  margin: auto;
}
.virtual-tour-column-right img{
  display: none;
}
.virtual-tour-video{
  text-align: center;
}
#facts-bg{
  display: none;
}
.seslider_product_slider1 li img{
float: none;
margin: auto;
}
#product_slide_1_text, #product_slide_2_text, #product_slide_3_text, #product_slide_4_text {
float: left;
left: 0px;
width: 100%;
max-width: 100%;
text-align: center;
margin-top: 300px;
position: relative;
}
.product-slides-box{
  height: 900px;
}
body#product .product-slides-info {
float: left;
position: absolute;
top: 270px;
margin: auto;
max-width: 100%;
}
.se-next, .se-prev{
  top:100px;
}
body#product .SEslider li img{
  min-height:427px;
  max-height: 427px;
  width: auto !important;
  top: 100px;
}
 body#product #thumbs_list_frame{
    width: 235px;
  }
  body#product #thumbs_list{
    width: 500px;
  }
  body#product .pb-left-column #views_block{
    width: 528px;
  }
 body#product #thumbs_list ul#thumbs_list_frame{
    height: 137px;
    width: 235px !important;
    min-width: none !important;
  }
   body#product #thumbs_list li img{
    height: auto;
    width: auto;
   }
   a#view_scroll_right{
    display: none !important;
   }
   .dimension-label{
    display:block;
    padding-top: 15px;
   }
   .big-image-text.maintext{
    text-align: center;
   }
}

@media screen and (max-width:768px){
 body#product #thumbs_list_frame{
    width: 235px;
  }
  body#product #thumbs_list{
    width: 225px;
  }
  body#product .pb-left-column #views_block{
    width: 228px;
  }
 body#product #thumbs_list ul#thumbs_list_frame{
    height: 137px;
    width: 235px !important;
    min-width: none !important;
  }
body#product #thumbs_list li img{
    height: auto;
    width: auto;
   }
.pb-left-column #views_block {
  margin-top: 10px; 
  width: 475px;
  float: none;
  display: block;
  margin: auto;}
  body#product .SEslider li img{
  min-height:300px;
  max-height: 300px;
  width: auto !important;
}
.product-slides-box{
  height: 800px;
}
body#product .product-slides-info{
top: 150px;
}
  .product-image-left, .product-image-bottom{
    display: none;
  }
  .virtual-tour-box{
    float: none;
    margin: auto;
  }
  .virtual-tour-column-left{
    max-width: 100%;
    padding-bottom: 30px;
  }
  .virtual-tour-column-right{
    max-width: 100%;
  }
  .virtual-tour-box .big-image-header{
    text-align: center;
  }
  .additional-info-column-left,
  .additional-info-column-right{
    width: 100%;
    clear: both;
  }
  .additional-info-column-right{
    padding-bottom: 30px;
  }
  p.orange-subtitle{
    line-height: 40px;
  }
  .product-details{
    padding: 50px;
  }
  body#product .pb-left-column,
  body#product .pb-right-column{
    width: 100%;
    clear: both;
    margin: auto;
    padding: 50px;
    padding-bottom: 0px !important;
  }
    .pb-right-column{
      padding-top: 0px;
    }
  .blue-prints{
      min-height: 0px !important;
    }
}

@media screen and (max-width: 600px){
  .virtual-tour-video iframe{
    width: 300px;
    height: 200px;
  }
  body#product #product_slide_1_text, body#product #product_slide_2_text, body#product #product_slide_3_text, body#product #product_slide_4_text{
    margin-top: 345px;
  }
  body#product .product-slides-box {
    height: 900px;
  }
  .product-slides-info img{
    max-height: 150px;
  }
}

@media screen and (max-width: 400px){
  .virtual-tour-video iframe{
    width: 200px;
    height: 100px;
  }
  body#product #product_slide_1_text, body#product #product_slide_2_text, body#product #product_slide_3_text, body#product #product_slide_4_text{
    margin-top: 345px;
  }
  body#product .product-slides-box {
    height: 850px;
  }
  .big-image-header, .product-slides-header{
    font-size: 34px;
  }
  .product-slides-box-extra-slides{
    min-height: 100px;
  }
  h3.page-product-heading{
    line-height: 50px;
  }
  .big-image-box{
    padding-top: 50px;
  }
  .product-features-info ul{
    margin: auto;
  }
  .product-features-info li{
    display: block;
    float: none;
  }
  #productscategory_list{
    padding: 0px;
  }
  body#product .pb-left-column, body#product .pb-right-column{
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-block{
    padding-left: 0;
    padding-right: 0;
  }
  .product-slides-info img{
    max-height: 120px;
  }

}
