#search_block_top {
  /*padding-top: 50px;*/ 
}
  #search_block_top #searchbox {
    float: left;
    width: 100%; }
  #search_block_top .btn.button-search {
    /*background: #333333;*/
    /*background-image: url('http://prestashop.dev/themes/inflatable-depot/img/icon-search.png'); */
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    border: none;
    color: #f3702d;
    width: 50px;
    text-align: center; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      background: transparent;
    }
  #search_block_top #search_query_top {
    display: inline;
    padding: 0 13px;
    background: #fff;
    margin-right: 1px; 
    width: 300px; }

.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
    border-radius: 5px 5px 5px 5px; } 
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

  button.button-search{
      background: transparent;
  }