#customcontent_top {}

#customcontent_top .item-1 {position: absolute;right: 104px;top: 0;}
#customcontent_top .item-1 a {width: 51px;height: 54px;display: block;border-right: 1px solid #5e5e5e;text-align: center;line-height: 58px;}
#customcontent_top .item-1 a div {display: inline-block;}
#customcontent_top .item-1 a i {font-size: 24px;color: #999;}
#customcontent_top .item-1 a:hover {background: #ff3815;}
#customcontent_top .item-1 a:hover i {color: #fff;}

#customcontent_top .item-2 {position: absolute;right: 155px;top: 0;}
#customcontent_top .item-2 a {width: 51px;height: 54px;display: block;border-right: 1px solid #5e5e5e;text-align: center;line-height: 58px;}
#customcontent_top .item-2 a div {display: inline-block;}
#customcontent_top .item-2 a i {font-size: 24px;color: #999;}
#customcontent_top .item-2 a:hover {background: #ff3815;}
#customcontent_top .item-2 a:hover i {color: #fff;}

#customcontent_top .item-3 {text-align: right;position: absolute;right: 0;top: 75px;}
#customcontent_top .item-3 h3 {margin: 0;padding: 0;font: bold 27px 'Trebuchet MS';color: #61d9dc;text-transform: uppercase;}
#customcontent_top .item-3 h3 i {margin: 0 6px 0 0;font-size: 27px;color: #525252;}
#customcontent_top .item-3 h4 {margin: -6px 0 0 0;padding: 0;font: normal 13px 'Trebuchet MS';color: #a8a8a8;}



@media only screen and (max-width:1199px) {

#customcontent_top .item-1 {display: none;}
#customcontent_top .item-2 {display: none;}
#customcontent_top .item-3 {display: none;}

}



/*Backend Styles*/
.customcontent_fieldset.deleteItem {
  background: #F2DEDE;
  border-color: #EED3D7;
}
.customcontent_fieldset {
  margin-bottom: 20px;
}
.customcontent_fieldset label {
  width: 120px;
}
.customcontent_fieldset .left-col {
  float: left;
  margin-right: 20px;
  width: 510px;
}
.customcontent_fieldset .field {
  margin-bottom: 6px;
}
.customcontent_fieldset .html {
  position: relative;
}
.customcontent_fieldset .html .displayed_flag {
  float: right;
}
.customcontent_fieldset .html .language_flags {
  position: absolute;
  top: 0;
  right: 20px;
}
.customcontent_fieldset .deleteItem {
  overflow: hidden;
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}
.customcontent_fieldset .deleteItem input {
  float: left;
  margin-right: 6px;
}
.customcontent_fieldset .deleteItem label {
  width: auto;
  float: none;
  display: inline;
}
.submit-wrapper {
  margin: 20px 0;
}
