/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 220px;
    margin-bottom: 6px;
    display: inline-block; }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left .block_content {
  overflow: hidden; }
#footer #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #footer #newsletter_block_left .form-group label {
    display: block;
    margin-bottom: 4px; }
  #footer #newsletter_block_left .form-group .form-control {
    display: inline-block;
    margin-bottom: 6px;
    height: 28px;
    line-height: 28px; }
    #footer #newsletter_block_left .form-group .form-control:focus {
      -webkit-box-shadow: black 0px 0px 0px;
      -moz-box-shadow: black 0px 0px 0px;
      box-shadow: black 0px 0px 0px; }
  #footer #newsletter_block_left .form-group button {
    vertical-align: top;
    font-size: 1em; }
  #footer #newsletter_block_left .form-group .newsletter-input {
    width: 110px; }
#footer #newsletter_block_left .warning_inline {
  display: block;
  color: #f13340;
  clear: both; }
