@import "compass";
@import "theme_variables";
/*******************************************************************
					Cart Block Styles
********************************************************************/
#blockcart_top_wrap{
	display: inline-block;
	position: relative;
}
#header .shopping_cart {
	display: inline-block;
}
.shopping_cart {
    display: inline-block;
    vertical-align: middle;
	.block_cart_expand, .block_cart_collapse {
		&:after {
			content: "\f0d7";
			font-family: $font-icon;
			display: inline-block;
			float: right;
			font-size: 18px;
			color: #686666;
			padding: 6px 0 0 0;
		}
	}
	.block_cart_collapse {
		&:after {
			content: "\f0d8";
			padding: 4px 0px 2px 0px;
		}
	}
	.icon_wrap .amount_circle {
	    left: auto;
	    right: -8px;
	    top: -8px;
	}
	.ajax_cart_left{
		float: left;
		min-width: 42px;
		position: relative;
		border: 1px solid #e5e5e5;
	}
	.ajax_cart_right{
		float: right;
		display: block;
		border: 1px solid #e5e5e5;
		border-left: none;
		padding-right: 4px;
		padding-left: 4px;
		font-weight: bold;
	}
}

.cart_block {
	text-align: left;
	dl.products{
		margin-bottom: 0;
	}
	.cart_block_list {
		.remove_link {
			display: inline-block;
		    float: right;
		    height: 12px;
		    margin: 0 0 0 4px;
		    width: 12px;
		}
		.remove_link a,
		.ajax_cart_block_remove_link {
			display: inline-block;
		    height: 12px;
		    width: 12px;
		}
	}
	.cart-images {
		border: 1px solid #f5f5f5;
	    display: block;
	    float: left;
	    margin-right: 10px
	}
	.quantity-formated {
		display: inline-block;
		min-width: 18px;
		margin-right: 2px;
		.quantity{
		}
	}
	dt {
	}
	dd {
		position: relative;
		.cart_block_customizations{
			border-top: 1px dashed $dark-background;
			li {
				padding: 10px 20px;
				
				.deleteCustomizableProduct {
					position: absolute;
					right: 10px;	
				}
			}
		}
		
	}
	.cart_block_no_products {
		margin: 0;
		padding: 10px 20px;
	}
	.cart-prices {
		border-top: 1px solid #f5f5f5;
	    color: #666666;
	    padding: 10px 0;
		.cart-prices-line {
			overflow: hidden;
			border-bottom: 1px solid #f5f5f5;
		    margin-bottom: 4px;
		    padding-bottom: 4px;
			&.last-line {
				border: none;
			}
		}
	}
	.cart-buttons {
		a {
			width: 100%;
			float: left;
			text-align: center;
			margin-bottom: 10px;
			margin-right: 10px;
			&#button_order_cart {
				margin-right: 0;
				border: none;
				@include border-radius(2px);
			}
		}
	}
}
/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header {
	.cart_block {
		position: absolute;
		top: 42px;
		right: 0;
		z-index: 100;
		display: none;
		height: auto;
		background: #fff;
		width: 300px;
		border: 1px solid #E5E5E5;
		.cart_block_list {
			.remove_link a,
			.ajax_cart_block_remove_link {
				&:hover {
				}	
			}
		}
		dt {
			border-top: 1px solid #E5E5E5;
		    padding-top: 6px;
		    padding-bottom: 6px;
		    &.first_item, &:first-child{
		    	border-top: none;
		    	padding-top: none;
		    }
			.price {
				float: right;
			}
		}
		.product-atributes {
			padding-bottom: 6px;
			a {
				color: #9c9b9b;
				&:hover {
				}
			}
		}
	}
	.block_content {
		margin-bottom: 0;	
		padding: 8px;
	}
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
	display: none
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
	float: right
}

.cart_block table.vouchers {
	clear: both;
	width: 100%;
	padding: 6px 0;
	border-top: 1px solid #f5f5f5;
	display: block;
	tr td {
		padding: 2px;
		&.quantity{
			margin-right: 5px;
			min-width: 18px
		}
		&.delete{
			padding-left: 0;
			padding-right: 0;
			text-align: right;
			width: 15px;
		}
	}
}
/*****************************************************************************
					Layer Cart Css
*****************************************************************************/

#layer_cart {
	.layer_product {
		.layer_product_info {
			> div {
				padding-bottom: 6px;
			}
			#layer_cart_product_quantity_wrap, #layer_cart_product_price_wrap{
				display: none;
			}
		}
	}
	.layer_details {
		.layer_cart_sum,
		.layer_cart_row {
			padding: 0 10px;
			margin-bottom: 4px;
		}
	}
	p {
		padding: 0px;
	}
}
/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart {
	.crossseling {
		.crossseling-content {
			border-top: 1px solid $base-border-color;
			padding: 26px 30px 40px 30px;
			position: relative;
		}
		h2 {
			font: 400 23px/26px $font-family;
			color: $base-text-color;
			margin-bottom: 25px;
		}
		#blockcart_list {
			max-width: 773px;
			width: 84%;
			margin: 0 auto;
			overflow: hidden;
			ul {
				display: block;
				li {
					float: left;
					width: 178px;
					margin: 0 0px 0 0;
					.product-image-container {
						border: 1px solid $base-border-color;
						text-align: center;
						padding: 5px;
						margin-bottom: 15px;
						img {
							width: 100%;
						}	
					}
					.product-name {
						padding-bottom: 5px;
						
						a {
							font-size: 15px;
							line-height: 20px;
						}
					}
				}
			}
			a.bx-prev,
			a.bx-next {
				display: block;
				font-family: $font-icon;
				font-size: 20px;
				line-height: 20px;
				width: 20px;
				height: 20px;
				color: $base-text-color;
				text-indent: -5000px;
				position: absolute;
				top: 45%;
				margin-top: -20px;
				&:after {
					display: block;
					text-indent: 0;
				}
				&:hover {
					color: #c0c0c0;
				}
				&.disabled {
					display: none;
				}
			}
			a.bx-prev {
				left: 5%;
				&:after {
					content: "\f137";
				}
			}
			a.bx-next {
				right: 5%;
				&:after {
					content: "\f138";
				}
			}
			.bx-controls {
				overflow: hidden;
			}
		}
	}
}