@import "compass";
@import "theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {
	.form-group {
		margin-bottom: 0;
		.form-control {
			max-width: 220px;
			margin-bottom: 6px;
			display: inline-block;
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;	
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
/* Block newsletter footer */
#footer {
	#newsletter_block_left {
		.block_content {
			overflow: hidden;
		}
		.form-group {
			margin-bottom: 0;
			label{
				display: block;
				margin-bottom: 4px;
			}
			.form-control {
				display: inline-block;
				margin-bottom: 6px;
				height: 28px;
				line-height: 28px;
				&:focus {
					@include box-shadow(black 0px 0px 0px);
				}
			}
			button{
				vertical-align: top;
				font-size: 1em;
			}
			.newsletter-input {
				width: 110px;
	  		}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			clear: both;
		}
	}
}