<!-- block seach mobile -->
{if isset($hook_mobile)}
<div class="input_search" data-role="fieldcontain">
	<form method="get" action="{$link->getPageLink('search')}" id="searchbox">
		<input type="hidden" name="controller" value="search" />
		<input type="hidden" name="orderby" value="position" />
		<input type="hidden" name="orderway" value="desc" />
		<input class="search_query" type="search" id="search_query_top" name="search_query" placeholder="{l s='Search' mod='blocksearch'}" value="{if isset($smarty.get.search_query)}{$smarty.get.search_query|htmlentities:$ENT_QUOTES:'utf-8'|stripslashes}{/if}" />
	</form>
</div>
{else}
<!-- Block search module TOP -->
<section id="search_block_top" class="header-box">
	<form method="get" action="{$link->getPageLink('search')}" id="searchbox">
{*			<label for="search_query_top">{l s='Search' mod='blocksearch'}</label>*}
			<input type="hidden" name="controller" value="search" />
			<input type="hidden" name="orderby" value="position" />
			<input type="hidden" name="orderway" value="desc" />
			<input class="search_query" type="text" id="search_query_top" name="search_query" value="{if isset($smarty.get.search_query)}{$smarty.get.search_query|htmlentities:$ENT_QUOTES:'utf-8'|stripslashes}{/if}" />
            <a href="javascript:document.getElementById('searchbox').submit();"><i class="icon-search"></i>{*<span>{l s='Search' mod='blocksearch'}</span>*}</a>
	</form>
</section>
{include file="$tpl_dir/modules/blocksearch/blocksearch-instantsearch.tpl"}
{/if}
<!-- /Block search module TOP -->
