/* block CONTACT ******************************************************************************* */
#contact_block .block_content {
	padding:0px 0 30px 0;
	margin-bottom:15px;
	background: url(images/block_contact_bg.jpg) no-repeat left bottom transparent
}
#contact_block  h5{ border-bottom:1px dotted #b2b2b2; padding-bottom:10px; color:#333; font-weight: normal; margin-bottom:10px; text-transform:uppercase;	text-shadow:0 -1px 0 #f9f9f9;}
#contact_block p {
	padding:0 5px 15px 5px;
	font-size: 12px;
	line-height: 18px;
	color:#333; font-style:italic; letter-spacing:1px;
}
#contact_block p.tel {
	margin:0 0 0 60px;
	padding-left: 26px;
	background: url(images/block_contact_pict_tel.png) no-repeat 0 0 transparent
}
#contact_block a { margin-left:60px;}
#contact_block a:hover {}
#contact_block .label {display: none}
