.header_user_info {
  float: right;
  /*border-left: 1px solid #515151;
  border-right: 1px solid #515151;*/ }
  .header_user_info a {
    color: #58175f;
    display: block;
    padding: 5px 9px 11px 8px;
    cursor: pointer;
    line-height: 18px;
    float: left; 
    padding-left: 0;
    padding-right: 0;}
    .header_user_info a:last-of-type{
      padding-right:10px;
    }
    @media (max-width: 479px) {
      .header_user_info a {
        font-size: 11px; } }
    .header_user_info a:hover, .header_user_info a.active {
      /*background: #2b2b2b;*/ }
