@import "compass";
@import "theme_variables";
.shop-phone {
	float: left;
	@media (max-width: $screen-xs-max) {
		display: none;
	}
	i {
		padding-right: 4px;
	}
}
#contact-link {
	float: right;
}
#contact_block {
	@media (max-width: $screen-xs-max) { // max 767px
		margin-bottom: 20px;
	}
	.label {
		display: none
	}
	.block_content {
		color: #888888;
	}
	p {
		margin-bottom: 4px;
	}
	p.tel {
		font: 400 17px/21px $font-family;
		color: $base-text-color;
		margin-bottom: 6px;
		i {
			font-size: 25px;
			vertical-align: -2px; 
			padding-right: 10px;
		}
	}
}
