/*
  Sliders Everywhere Css
*/

.SEslider {
  clear: both;
  position: relative;
  z-index:1;
  max-width: 100% !important;
  margin-top: -2%;
  margin-bottom: 20px;
}
 
.SEslider.withControls {
  margin-bottom:20px;
}

.SEslider ul {
  list-style:none;
}

.SEslider a, .SEslider a img {
  text-decoration:none;
  outline:none;
}

.SEslider:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
}
 
.noJs .SEslider li {
  display:none;
}

.noJs .SEslider li.primo{
  display:block;
}

.SEslider.notLoaded li.primo {
  position: relative;
}

.se-wrapper {
  position:relative;
  max-width: 100%;
}

.SEslider .se-wrapper {
  clear: both;
}

.se-wrapper a, .se-wrapper a:hover {
  text-decoration:none;
}
 
/*next prev button*/

.se-next, .se-prev {
  background:#000;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  /*border-radius: 30px;*/
  display: block;
  height: 32px;
  line-height: 0;
  margin-top: -15px;
  opacity: 0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  overflow: hidden;
  position: absolute;
  text-indent: -999em;
  top: 50%;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 32px;
  z-index: 100;
}

.se-next.disabled, .se-prev.disabled {
  display:none;
}

/*next/prev button hover state*/
.se-next:hover,
.se-prev:hover {
  text-decoration:none;
  text-shadow:0 0 3px;
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

.se-prev:after, .se-next:after {
  color: #FFFFFF;
  /*content: "\2039";*/
  display: table-cell;
  font-family: monospace;
  font-size: 44px;
  font-weight: bold;
  height: 100%;
  left: 0;
  line-height:29px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 150;
}

.se-next:after {
  /*content: "\203A";*/
}

.shop1_2 .se-next, .shop1_2 .se-prev {
  /*background: url("leftright-shop1_2.png") no-repeat scroll 0 0 transparent;*/
}

.se-next, .shop1_2 .se-next {
  display: block;
  right: 0px;
  width: 57px;
  height: 67px;
  background: url('/themes/inflatable-depot/img/icon-arrow-next-white.png');
}

.se-prev {
  display: block!important;
  left: 0px;
  width: 57px;
  height: 67px;
  background: url('/themes/inflatable-depot/img/icon-arrow-prev-white.png');
}

/*pager links*/
.se-controls {
  color: #666666;
  font-size: 11px;
  left: 0;
  text-align: center;
  margin-bottom: 50px;
  /*background:url(/themes/inflatable-depot/img/nav_control_bg.jpg) no-repeat;*/
  /*background-repeat-x: initial;*/
}

.seslider_sample1  .se-controls{
  background: url(/themes/inflatable-depot/img/nav_control_bg.jpg) no-repeat;
  background-repeat-x: initial;
  min-height: 120px;
  width: 100%;
  max-width: 1170px;
  margin: -20px auto 0 auto;
  position: relative;
  border-radius: 10px;
}

.se-controls-auto {
  display: block;
  font-size: 14px;
  left: 0;
  padding: 3px;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
}

.se-pager {
  bottom: 1%;
  left: 0;
  position: relative;
  z-index: 100;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  padding-top: 0.5%;
  max-width: 1170px;
  margin: auto;
}

.seslider_inflatable_solutions2 .se-pager{
  position:absolute;
  left:0;
  right:0;
  padding:2%;
  bottom: -5%;
}
.pager-centered .se-pager {
  bottom: 15%;
  left: 0;
  padding: 0 0 0 5%;
  position: absolute;
  z-index: 100;
}

.seslider_sample1 .se-pager-item {
  border-radius: 30px;
  min-height: 110px;
  margin: 0 3px;
  min-width: 189px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s ease 0s;
  cursor:pointer;
  display:inline-block;
  position:relative;
  -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
   -o-box-sizing: content-box;
    box-sizing: content-box;
}
.seslider_inflatable_solutions2 .se-pager-item {
  border-radius: 30px;
  margin: 0 3px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s ease 0s;
  cursor:pointer;
  display:inline-block;
  position:relative;
  -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
   -o-box-sizing: content-box;
    box-sizing: content-box;
}

.seslider_inflatable_solutions2 .se-pager-item{
  height: 16px;
  width: 16px;
  padding-left: 0.2%;
  padding-right: 0.2%;
}
.seslider_inflatable_solutions2 .se-pager-item a{
  height: 20px;
  width: 20px;
  background:#fff;
}
.seslider_inflatable_solutions2 .se-pager-item a.active{
  height: 20px;
  width: 20px;
  background:#58175f;
}
.se-pager-link.active {
  background-color:transparent;
  height: 16px;
  width: 16px;
}

.seslider_inflatable_solutions2 .se-pager-item:hover .se-pager-link {
 /* height: 16px;
  width: 16px;*/
}

.se-pager-item:hover {
  /*box-shadow:0 0 3px #fff;*/
  /*border:3px solid #fff;*/
}

.seslider_inflatable_solutions2 .se-pager a {
  border-radius: 30px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin: 5px;
  padding: 0;
  text-decoration: none;
  text-indent: -999em;
  transition: all 0.15s ease 0s;
  -webkit-transition: all 0.15s ease 0s;
  position:absolute;
  left:0;
  top:0;
    -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
   -o-box-sizing: content-box;
    box-sizing: content-box;
}

.seslider_sample1 .se-pager a {
  border-radius: 30px;
  color: #000000;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  /*min-height: 110px;*/
  height: 100%;
  /*margin: 5px;*/
  padding: 0;
  text-decoration: none;
  text-indent: -999em;
  transition: all 0.15s ease 0s;
  -webkit-transition: all 0.15s ease 0s;
  /*min-width: 145px;*/
  width: 100%;
  position:absolute;
  left:0;
  top:0;
    -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
   -o-box-sizing: content-box;
    box-sizing: content-box;
}

.shop1_2 .se-pager a {
  background:url(imgs/pallino-shop1_2.png) no-repeat 0 0;
}

.se-controls-direction {
  width: 100%;
  height: 100px;
}

#index .seslider_sample1 .se-controls-direction {
  position: absolute;
  top: -150px;
  left: 0px;
}

/*
 * End color scheme styles
 */




/*pager links hover and active states*/
.se-pager-link.active {
  background-color:transparent;
  height: 16px;
  width: 16px;
}

/*captions*/
.se-captions {
  text-align:center;
  font-size: 12px;
  padding: 7px 0;
  color: #666;
}

/*auto controls*/
.se-auto {
  text-align: center;
  padding-top: 15px;
}

.se-auto a {
  color: #666;
  font-size: 12px;
}

.SEslider li {
  position:relative;
}

.SEslider li img {
  width:100%;
  height:auto;
}

.slidetitle {
  position:absolute;
  top:5%;
  padding:5px 10px;
  color:#fff;
  background:rgba(0,0,0,0.5);
  font-weight:normal;
}

.shop1_2 .slidetitle {
  background:url(imgs/blue-trans.png);
}

.slidetitle.right {
  right:0;
}

.slidetitle.left {
  left:0;
}

.SEslider:hover .slide_description{
  /*height:auto;*/
  /*padding: 10px 2%;*/
}

.slide_description {
  bottom: 22%;
  text-align: center;
  color: #FFFFFF;
  display: block;
  height: 0;
  padding: 0 2%;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 96%;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
-ms-box-sizing: content-box;
-o-box-sizing: content-box;
box-sizing: content-box;
font-family: HelveticaLight !important;
font-size: 20px;
text-align: center;
line-height: 20px;
left: 0;
right: 0;
margin: auto;
max-width: 70%;
}

.slideHeader{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  top: 50px;
  text-align: center; 
  display: block;
  height: 0;
  padding: 0 2%;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 96%;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
-ms-box-sizing: content-box;
-o-box-sizing: content-box;
box-sizing: content-box;
font-family: HelveticaRoundBold;
color: #fff;
font-size: 54px;
font-weight: bold;
line-height: 60px;
text-shadow: 3px 3px #333;
}
.slider-text-top{
  font-size: 30px;
}
.slider-text-bottom{
  font-size: 25px;
  line-height: 30px;
  margin-top: 40px;
}
.slider_title_block.bgcolor {
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px 0;
    padding: 4px 11px 5px;
    text-align: left;
    text-transform: capitalize;
  font-size:14px;
}

#stepsBlock{
  background:url(/themes/inflatable-depot/img/slide-bg-blue.png) no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
/* altri sliders*/

.SEslider.bxslider_1 {
  left: 190px;
  position: absolute;
  top: 23px;
  width: 370px;
  height: 93px;
}

.SEslider.bxslider_2, .SEslider.bxslider_6 {
  float: left;
  width: 40%;
}

.SEslider.bxslider_2, .SEslider.bxslider_5 {
  margin: 0 1% 10px 0;
}

.SEslider.bxslider_3, .SEslider.bxslider_5 {
  width: 59%;
  float:left;
}

.SEslider.bxslider_4 {
  clear: both;
}
.se-viewport{
  /*max-height: 500px;*/
}
.SEslider li img {
  display: block;
  line-height: 120%;
  vertical-align: bottom;
  width: 100%;
/*  max-height: 600px;*/
}

/* 3d Flip Mode*/

.SEslider.mode_3Dflip ul {
  perspective:2000px;
  perspective-origin:50% 50%;
  height:100%;
}

.SEslider.mode_3Dflip li {
  -webkit-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transition:all 300ms ease-in 0s;
  transition:all 0 ease-in 0s;
}

.SEslider.mode_3Dflip li.left {
  -webkit-transform:rotateY(90deg);
  transform:rotateY(90deg);
  -webkit-transition:all 300ms ease-in 0s;
  transition:all 0 ease-in 0s;
}

.SEslider.mode_3Dflip li.old.next {
  -webkit-transform:rotateY(90deg);
  transform:rotateY(90deg);
  -webkit-transition:all 300ms ease-in 0s;
  transition:all 300ms ease-in 0s;
}

.SEslider.mode_3Dflip li.active-slide {
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
  -webkit-transition:all 300ms ease-out 300ms;
  transition:all 300ms ease-out 300ms;
}

.SEslider.mode_3Dflip li.old.prev {
  -webkit-transform:rotateY(-90deg);
  transform:rotateY(-90deg);
  -webkit-transition:all 300ms ease-in 0s;
  transition:all 300ms ease-in 0s;
}

.SEslider.notLoaded.mode_3Dflip li {
  transform: rotateY(0deg);
  -webkit-transform:rotateY(0deg);
}

.SEslider.notLoaded li {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
 
.seslider_sample1 .se-pager-item:nth-child(1) a { background:url(/themes/inflatable-depot/img/nav_1.png) center center no-repeat;}
.seslider_sample1 .se-pager-item:nth-child(1) a:hover, .seslider_sample1 .se-pager-item:nth-child(1) a.active { background:url(/themes/inflatable-depot/img/nav_1_h.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(2) a { background:url(/themes/inflatable-depot/img/nav_2.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(2) a:hover, .seslider_sample1 .se-pager-item:nth-child(2) a.active { background:url(/themes/inflatable-depot/img/nav_2_h.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(3) a { background:url(/themes/inflatable-depot/img/nav_3.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(3) a:hover, .seslider_sample1 .se-pager-item:nth-child(3) a.active { background:url(/themes/inflatable-depot/img/nav_3_h.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(4) a { background:url(/themes/inflatable-depot/img/nav_4.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(4) a:hover, .seslider_sample1 .se-pager-item:nth-child(4) a.active { background:url(/themes/inflatable-depot/img/nav_4_h.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(5) a { background:url(/themes/inflatable-depot/img/nav_5.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(5) a:hover, .seslider_sample1 .se-pager-item:nth-child(5) a.active { background:url(/themes/inflatable-depot/img/nav_5_h.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(6) a { background:url(/themes/inflatable-depot/img/nav_6.png) center center no-repeat; }
.seslider_sample1 .se-pager-item:nth-child(6) a:hover, .seslider_sample1 .se-pager-item:nth-child(6) a.active { background:url(/themes/inflatable-depot/img/nav_6_h.png) center center no-repeat; }

.seslider_sample1{
  margin-bottom: 130px;
}

.seslider_sample1, .seslider_sample1 .se-wrapper, .seslider_sample1 .se-wrapper .se-viewport{
  max-height: 600px;
}
.seslider_inflatable_solutions2 .se-controls a.se-prev{
  background:url(/themes/inflatable-depot/img/icon-arrow-prev-white.png) no-repeat;
  width: 80px;
  height: 80px;
}
.seslider_inflatable_solutions2 .se-controls a.se-next{
  background:url(/themes/inflatable-depot/img/icon-arrow-next-white.png) no-repeat;
  width: 80px;
  height: 80px;
}
.seslider_play_solutions3{
  margin-top:2%;
  /*margin-bottom:2%;*/
}
.seslider_play_solutions3 .se-viewport{
  width: 90% !important;
  margin:auto;
}
.seslider_play_solutions3 .mypager{
  display:none;
}
.seslider_play_solutions3 .se-controls a.se-prev{
  background:url(/themes/inflatable-depot/img/solutions_slider_arrowleft.png) no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 0px;
  left: -10px;
}
.seslider_play_solutions3 .se-controls a.se-next{
  background:url(/themes/inflatable-depot/img/solutions_slider_arrowright.png) no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 0px;
  right: -22px;
}
.seslider_play_solutions3 .se-viewport{
  max-height: 600px !important;
   border-bottom: 6px solid white;
   border-right: 6px solid white;
   -webkit-box-shadow: 10px 10px 5px -7px rgba(210,210,210,1);
  -moz-box-shadow: 10px 10px 5px -7px rgba(210,210,210,1);
  box-shadow: 10px 10px 5px -7px rgba(210,210,210,1);
  border-radius: 10px 10px 10px 10px;
}
span.address{
  white-space: pre;
  max-width:50%;
  display:inline-block;
}
#footerAddress img.footerIcon{
  margin-top:-9%;
}
/*Media Queries*/

@media screen and (max-width:1220px){
  .seslider_play_solutions3 .se-wrapper{
    max-width:80% !important;
    margin:auto;
  }
  .seslider_play_solutions3 .se-controls a.se-prev{
    left:-30px;
  }
  .seslider_play_solutions3 .se-controls a.se-next{
    right:-45px;
  }
}

@media screen and (max-width:767px){
  .seslider_sample1 .seslider_play_solutions3 .se-controls-direction{
    display:none;
  }
  .seslider_sample1 .seslider_play_solutions3 .se-viewport{
    width:100% !important;
  }
  .seslider_sample1 .se-pager-item{
    background: transparent !important;
    min-height: 22px!important;
    min-width: 22px !important;
  }
  .seslider_sample1 a.se-pager-link{
    background:#000 !important;
    min-height:22px !important;
    min-width:22px !important;
  }
  .seslider_sample1 a.se-pager-link.active{
    background: #693a8b !important;
  }
  .seslider_sample1 .se-controls{
    background: none !important;
    min-height:0 !important;
    left:0;
    right:0;
    position:absolute;
    bottom:0px;
  }
}
/*Customized Inflatables Slides*/
@media screen and (min-width:1350px){
  .seslider_inflatable_solutions2 .se-pager{
    bottom: -35px;
  }
  .slide_description{
    max-width: 90% !important;
  }
}

@media screen and (max-width:1169px){
  .seslider_sample1  .se-controls{
    margin: 0;
    border-radius: 0px;
  }
}
@media screen and (min-width:768px) and (max-width:1349px){
  .seslider_inflatable_solutions2 .se-pager{
    bottom: -40px;
  }
  .slide_description{
    max-width: 90% !important;
  }
  .slideHeader{
    top: 40px;
  }
}
@media screen and (min-width:1000px) and (max-width:1250px){
  .slider-text-top {
    font-size: 21px;
    /*line-height: 10px;*/
  }
  .slide_description{
    max-width: 95% !important;
  }
  .slider-text-bottom {
    font-size: 18px;
    margin-top: 10px !important;
    /*line-height: 10px;*/
  }
  .seslider_inflatable_solutions2 .se-pager{
    bottom: -43px;
  }
  .slideHeader{
    top: 30px;
  }
}
@media screen and (min-width:768px) and (max-width:999px){
  .slider-text-top {
    font-size: 17px;
    /*line-height: 10px;*/
  }
  .slide_description{
    max-width: 90% !important;
  }
  .slider-text-bottom {
    font-size: 14px;
    margin-top: 10px !important;
    /*line-height: 10px;*/
  }
  .seslider_inflatable_solutions2 .se-pager{
    bottom: -43px;
  }
  .slideHeader{
    top: 10px;
    font-size: 40px;
  }
}
@media screen and (max-width:767px){
  .slider-text-bottom {
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px !important;
  } 
  .slider-text-top{
    font-size: 14px;
  }
  .seslider_inflatable_solutions2 .se-viewport{
    overflow: visible !important;
  }
  body, html{
    overflow-x: hidden !important;
  }
  .seslider_inflatable_solutions2 .se-pager{
    bottom: -43px;
    display: none !important;
  }
  .slide_description{
    bottom: 20% !important;
  }
  .slideHeader{
    top: 10px;
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width:480px){
  .slider-text-bottom {
    font-size: 9px;
    line-height: 20px;
    margin-top: 0px !important;
  } 
  .slider-text-top{
    font-size: 10px;

  }
  .seslider_inflatable_solutions2 .se-pager{
    bottom: -20%;
  }
  .slide_description{
    max-width: 90% !important;
  }
}
/*Main Header Slides*/
.seslider_sample1 .slideHeader{
  background: url(/themes/inflatable-depot/img/slide_bg_left.png) no-repeat;
  background-position: center;
  background-position-y: -5%;
}
.seslider_sample1 .slide_description{
  display: none;
}
@media screen and (max-width:1650px){
  .seslider_sample1 .slideHeader{ 
    top: -2% !important;
  }
}
@media screen and (max-width:1500px){
  .seslider_sample1 .slideHeader{ 
    top: 8% !important;
  }
}
@media screen and (min-width:1350px){
  .seslider_sample1 .slide_description{
    max-width: 90% !important;
  }
  .seslider_sample1 .slideHeader{ 
    max-width: 631px !important;
    top: 2% !important;
    left: 148px;
    font-size: 60px !important;
    height: 100%;
    padding-top: 76px;
  }
  .seslider_sample1 .slider-text-top {
    font-size: 22px;
    margin: auto;
    margin-top:10px;
    margin-left: 150px;
    line-height: 30px;
    width: 280px;
    font-family: HelveticaLight !important;
    text-shadow: 3px 3px #bb5421;
    -webkit-font-smoothing: antialiased;
  }
  .slider-coa{
    width: 200px;
    height: 63px;
    margin-left: 350px;
    margin-top: 15px;
  }
}
@media screen and (min-width:1650px){
  .seslider_sample1 .slideHeader{ 
    top: 8% !important;
  }
}
@media screen and (min-width:768px) and (max-width:1349px){
  .seslider_sample1 .slide_description{
    max-width: 90% !important;
  }
  .seslider_sample1 .slideHeader{ 
    top: 0% !important;
    left: 1%;
    max-width: 631px !important;
    font-size: 48px !important;
    height: 100%;
    padding-top: 54px;
  }
  .seslider_sample1 .slider-text-top {
    font-size: 22px;
    margin: auto;
    margin-top:10px;
    margin-left: 166px;
    line-height: 30px;
    width: 275px;
    font-family: HelveticaLight !important;
    text-shadow: 3px 3px #bb5421;
    -webkit-font-smoothing: antialiased;
  }
  .slider-coa{
    width: 200px;
    height: 63px;
    margin-left: 350px;
    margin-top: 15px;
  }
  .seslider_sample1 .slideHeader{
    background-size: 72%;
  }
}
@media screen and (min-width:1000px) and (max-width:1250px){
  .seslider_sample1 .slider-text-top {
    /*font-size: 21px;*/
    /*line-height: 10px;*/
  }
  .seslider_sample1 .slide_description{
    max-width: 95% !important;
  }
  .seslider_sample1 .slider-text-bottom {
    font-size: 18px;
    margin-top: 10px !important;
    /*line-height: 10px;*/
  }
  .seslider_sample1 .seslider_inflatable_solutions2 .se-pager{
    bottom: -43px;
  }
  .seslider_sample1 .slideHeader{
    top: 30px;
  }
  .se-next, .shop1_2 .se-next {
    right: 0px;
  }

  .se-prev {
    left: 0px;
  }
  .se-controls-direction {
    top: -200px;
  }
}
@media screen and (min-width:768px) and (max-width:999px){
  .seslider_sample1 .slider-text-top {
    font-size: 17px;
    /*line-height: 10px;*/
  }
  .seslider_sample1 .slide_description{
    max-width: 90% !important;
  }
  .seslider_sample1 .slider-text-bottom {
    font-size: 14px;
    margin-top: 10px !important;
    /*line-height: 10px;*/
  }
  .seslider_sample1 .slideHeader{
    top: 10px;
    font-size: 40px;
  }
  .se-next, .shop1_2 .se-next {
    right: 0px;
  }

  .se-prev {
    left: 0px;
  }
  .se-controls-direction {
    top: -150px;
  }
}
.slidetitle{
  display: none;
}
@media screen and (min-width:768px) and (max-width:950px){
.seslider_sample1 .slide_description{
    max-width: 90% !important;
  }
  .seslider_sample1 .slideHeader{ 
    top: -2% !important;
    left: -9%;
    max-width: 631px !important;
    font-size: 25px !important;
    height: 100%;
    padding-top: 44px;
  }
  .seslider_sample1 .slider-text-top {
    font-size: 18px;
    margin: auto;
    margin-top:10px;
    margin-left: 166px;
    line-height: 30px;
    width: 275px;
    font-family: HelveticaLight !important;
    text-shadow: 3px 3px #bb5421;
    -webkit-font-smoothing: antialiased;
  }
  .slider-coa{
    width: 200px;
    height: auto;
    margin-left: 450px;
    margin-top: -35px;
    font-size: 18px !important;
  }
  .seslider_sample1 .slideHeader{
    background-size: 60%;
  }  
}
@media screen and (max-width:767px){
  #customized-inflatables{
    display: none;
  }
  .seslider_sample1 .slide_description{
    max-width: 90% !important;
  }
  .seslider_sample1 .slideHeader{ 
    /*top: 0% !important;*/
    left: 0%;
    max-width: none !important;
    font-size: 25px !important;
    height: 100%;
    padding-top: 10px;
    background: none;
  }
  .seslider_sample1 .slider-text-top {
    /*font-size: 10px;
    margin: auto;
    margin-top: 0px;
    line-height: 20px;
    width: 180px;
    font-family: HelveticaLight !important;
    text-shadow: 3px 3px #bb5421;
    -webkit-font-smoothing: antialiased;*/
    display: none;
  }
  .slider-coa{
    width: 200px;
    height: auto;
    margin: auto;
    margin-top: 3px;
    font-size: 18px !important;
  }
  .seslider_sample1 .slideHeader{
    /*background-size: 40%;*/
    /*padding-top: 20px;*/
  }  
  #index .seslider_sample1 .se-next, #index .seslider_sample1 .shop1_2 .se-next {
    right: 30px;
  }

  #index .seslider_sample1 .se-prev {
    left: 30px;
  }
  #index .seslider_sample1 .se-controls-direction {
    top: -150px;
  }
  #index .seslider_sample1  li {
    background: url(/themes/inflatable-depot/img/mobile-nav_control_bg.jpg) repeat-x;
    min-height: 225px;
  }
  #index .seslider_sample1  li .slidetitle {
    margin-top: 20px;
  }
  #index .seslider_sample1  li img {
    display: none;
  }
  #index .seslider_sample1 .slide_description {
    display: block;
  }
}
@media screen and (max-width:480px){
  /*#customized-inflatables{
    display: block;
  }*/
  /*.seslider_sample1{
    display: none;
  }*/
  #columns .row:nth-child(1){
    margin-bottom: 0 !important;
  }
 .seslider_sample1 .slide_description{
    display: none;
  }
  .seslider_sample1 .slideHeader{ 
    /*top: -14% !important;*/
    left: 0%;
    max-width: none !important;
    /*font-size: 15px !important;*/
    height: 100%;
    padding-top: 10px;
  }
  .seslider_sample1 .slider-text-top {
    font-size: 9px;
    margin: auto;
    margin-top: -7px;
    line-height: 20px;
    width: 150px;
    font-family: HelveticaLight !important;
    text-shadow: 3px 3px #bb5421;
    -webkit-font-smoothing: antialiased;
    background: rgba(0, 0, 0, 0.5) !important;
  }
  .slider-coa{
    width: 200px;
    height: auto;
    margin: auto;
    margin-top: 3px;
    font-size: 18px !important;
  }
  .seslider_sample1 .slideHeader{
    background-size: 30%;
    background-position-y: 25%;
  }  
  .slider-text-top {
    display: block!important;
  }
  .seslider_sample1 .slider-text-top {
    font-size: 15px;
    margin-top: 5px;
    width: 80%;
    text-shadow: none;
    background: none!important;
  }
  #index .seslider_sample1 .se-controls-direction {
    display: none;
  }
}