// Make sure the charset is set appropriately
@charset "UTF-8";

@import "compass";
@import "compass/reset";
@import "theme_variables";
@import "bootstrap";
@import "font-fontello";

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

a:hover {
	text-decoration: none;
}

body {
	min-width: 320px;
	height: 100%;
	line-height: 18px;
	font-size: 12px;
	font-family: Tahoma, sans-serif, Arial;
	color: $base-body-color;
	&.content_only {
		background: none;
	}
}

textarea {
	resize: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

h1 {
    line-height: 1.3em;
}

h2 {
    line-height: 1.2em;
}

h3 {
    line-height: 1.2em;
}

h4 {
    line-height: 1.25em;
}

h5 {
	font-size: 1.166em;
    line-height: 1.1428em;
}

h6 {
    font-size: 1em;
}
dt{
	font-weight: normal;
}
.clearBoth {
    clear: both;
}
//structure
.columns-container {}

#columns {
	position: relative;
}
.main_content_area{
	padding-top: 0;
	padding-bottom: 0;
	.columns-container {
		padding-top: 2em;
	}
	.columns-container:nth-child(2){
		padding-top: 0;
	}
}
.main_content_area_top{
	.wide_container{
		height: 1.333em;
	}
}
.main_content_area_footer{
	.wide_container{
		height: 2em;
	}
}
#index {
	.tab-content {
		margin-top: 0;
	}
}

header {
	.banner {
		.row {
			.easycontent.block, .st_banner_block.mar_b2 {
				margin-bottom: 0;
			}
		}
	}
	.nav {
		background: $dark-background;
		.row {
			margin: 0px;
		}
	}
	.row {
		position: relative;
		> .container {
			position: relative;
		}
	}
}

#top_bar{
	background: #00a161;
	color: #D8F6E6;
	a{
		color: #D8F6E6;
		&:hover {
            color: #00A161;
            background-color: #D7F5E5;
        }
	}
}
.ie8 #page_header #header_logo {
	width: 350px;
}

//title
#center_column {
	.page_product_box {
		h3 {
			@include sub-heading;
		}
	}
}

//text
p.info-title {
}

p.info-account {
	margin: -4px 0 24px 0;
}

.dark {
	color: $base-text-color;
}

.main-page-indent {
	margin-bottom: $base-page-indent;
}

.alert {
    padding: 14px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 1em;
	ul, ol {
		padding-left: 10px;
	    margin-top: 0;
	    margin-bottom: 0;
		margin-left: 27px;
		li {
			list-style-type: decimal;
			font-weight: normal;
		}
	}
	&.alert-success {
	    color: #468847;
	    background-color: #dff0d8;
	    border: 1px solid #dff0d8;
	}
	&.alert-danger {
	    color: #c02230;
	    background-color: #F5DAD3;
	    border: 1px solid #F5DAD3;
	}
	&.alert-warning{
	    color: #7c622a;
	    background-color: #FDEDA4;
	    border: 1px solid #FDEDA4;
	}
	&.alert-info{
	    color: #3a87ad;
	    background-color: #d9edf7;
	    border: 1px solid #d9edf7;
	}
}

.label {
	white-space: normal;
	display: inline-block;
	padding: 6px 10px;
}

.unvisible {
	display: none;
}

.close {
	opacity: 1;
	&:hover {
		opacity: 1;
	}
}

//buttons
input.button_mini,
input.button_small,
input.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled {
	position: relative;
	display: inline-block;
	border: none;
	font-weight: normal;
	color: black;
	cursor: pointer;
	white-space: normal;
	text-align: left;
	background: #666666;
	color: #fff;
	padding: 7px 12px 9px 12px;
	font-size: 1.166em;
}

*:first-child+html input.button_mini,
*:first-child+html input.button_small,
*:first-child+html input.button,
*:first-child+html input.button_large,
*:first-child+html input.button_mini_disabled,
*:first-child+html input.button_small_disabled,
*:first-child+html input.button_disabled,
*:first-child+html input.button_large_disabled,
*:first-child+html input.exclusive_mini,
*:first-child+html input.exclusive_small,
*:first-child+html input.exclusive,
*:first-child+html input.exclusive_large,
*:first-child+html input.exclusive_mini_disabled,
*:first-child+html input.exclusive_small_disabled,
*:first-child+html input.exclusive_disabled,
*:first-child+html input.exclusive_large_disabled {
	border: none;
}

//hover button
input.button_mini:hover,
input.button_small:hover,
input.button:hover,
input.button_large:hover,
input.exclusive_mini:hover,
input.exclusive_small:hover,
input.exclusive:hover,
input.exclusive_large:hover,
a.button_mini:hover,
a.button_small:hover,
a.button:hover,
a.button_large:hover,
a.exclusive_mini:hover,
a.exclusive_small:hover,
a.exclusive:hover,
a.exclusive_large:hover {
	text-decoration: none;
	background: #00a161;
	color: #fff;
}

//active button
input.button_mini:active,
input.button_small:active,
input.button:active,
input.button_large:active,
input.exclusive_mini:active,
input.exclusive_small:active,
input.exclusive:active,
input.exclusive_large:active,
a.button_mini:active,
a.button_small:active,
a.button:active,
a.button_large:active,
a.exclusive_mini:active,
a.exclusive_small:active,
a.exclusive:active,
a.exclusive_large:active {
	background: #00a161;
	color: #fff;
}

input.button_disabled,
input.exclusive_disabled,
span.exclusive {
	background: #999999;
	cursor: default;
}

.btn.disabled,
.btn[disabled]:hover {
	opacity: 0.3;
}
.btn-default, .btn-medium, .btn-large{
	border: none;
	background: #666666;
	color: #fff;
	line-height: 100%;
	&:hover,
	&.active{
		border: none;
		background: #00a161;
		color: #fff;
	}
	&.btn_primary{
		color: #fff;
		background-color: #00A161;
		text-transform: uppercase;
		&:hover,
		&.active{
			color: #fff;
			background: #086A43;
		}
	}
	&.disabled,
	&[disabled] {
		&,
		&:hover,
		&.active {
			background-color: #999;
		}
	}
}
.btn-default{
	padding-top: 7px;
	padding-bottom: 9px;
	font-size: 1.166em;
}
.btn-medium{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 1.333em;
}
.btn-large{
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 1.5em;
}
.button.button-small {
	font-size: 1.166em;
	color: $button-text-color;
	background: $button-small-bg;
	border: none;
	padding: 4px 8px;
	text-shadow: none;
	@include border-radius(0);
}
.button.button-medium {
	font-size: 1.333em;
	padding: 0;
	border: none;
	padding: 9px 16px;
	&:hover {
	}
}

.button.button-medium.exclusive {
	border: none;
	background: #00A161;
	&:hover {
		background: #086A43;
	}
	span {
		border-color: #fec133 #febc33 #feb233 #febc33;
		&:hover {
			filter: none;
			background: #f89609;
			border-color: #a6550c #ba6708 #db8600 #ba6708;
			span {
				border-color: #fec133;
			}
		}
	}
}

.link-button {
	font-weight: bold;
	i {
		margin-right: 5px;
		&.large {
			font-size: 26px;
			line-height: 26px;
			vertical-align: -3px;
			color: silver;
		}
	}
}

.btn.button-plus,
.btn.button-minus {
	font-size: 14px;
	line-height: 14px;
	color: $button-pm-color;
	text-shadow: 1px -1px rgba(0, 0, 0, 0.05);
	padding: 0;
	border: 1px solid;
	border-color: #dedcdc #c1bfbf #b5b4b4 #dad8d8;
	@include border-radius(0);
	span {
		display: block;
		border: 1px solid $light-border-color;
		vertical-align: middle;
		width: 25px;
		height: 25px;
		text-align: center;
		vertical-align: middle;
		padding: 4px 0 0 0;
		background: rgb(30, 87, 153);
		background: rgb(255, 255, 255);
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(251, 251, 251, 1)));
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 100%);
		background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 100%);
		background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 100%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0);
	}
	&:hover {
		color: $base-text-color;
		span {
			filter: none;
			background: #f6f6f6;
		}
	}
}

.button.exclusive-medium {
	font-size: 1.5em;
	padding: 0;
	color: $button-em-color;
	font-weight: normal;
	border: 1px solid;
	border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
	span {
		border: 1px solid;
		border-color: $light-border-color;
		display: block;
		padding: 9px 10px 11px 10px;
		background: rgb(247, 247, 247);
		background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
		background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0);
		&:hover {
			border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2;
			span {
				background: rgb(231, 231, 231);
				background: -moz-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(231, 231, 231, 1)), color-stop(0%, rgba(231, 231, 231, 1)));
				background: -webkit-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				background: -o-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				background: -ms-linear-gradient(top, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				background: linear-gradient(to bottom, rgba(231, 231, 231, 1) 0%, rgba(231, 231, 231, 1) 0%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e7e7e7',GradientType=0);
			}
		}
	}
}

.button.ajax_add_to_cart_button {
	
}
.product_list.list .button.ajax_add_to_cart_button {
	color: #fff;
	background: #00A161;
	span{
		display: block;
		padding: 6px 14px;
	}
	&:hover{
		background: #086A43;
	}
}
.button.lnk_view {
	
}
.hover_fly .ajax_add_to_cart_button,
.hover_fly .view_button,
.itemlist_action .ajax_add_to_cart_button,
.itemlist_action .view_button{
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-transform: none;
}
.hover_fly .btn-default.btn_primary{
	text-transform: none;
}
.itemlist_action .ajax_add_to_cart_button{
	i{
		height: 30px;
		line-height: 28px;
	}
}

#buy_block #wishlist_button span,
#buy_block .add_to_compare span,
#usefull_link_block #wishlist_button span,
#usefull_link_block .add_to_compare span,
.product_list.list .addToWishlist span,
.product_list.list .add_to_compare span{vertical-align: middle;display:inline-block;}

.hover_fly a.active i:before,
.itemlist_action .ajax_add_to_cart_button.active i:before,
.product_list.list .ajax_add_to_cart_button.active i:before,
.act_box_inner a.active i:before,
#create-account_form #SubmitCreate.active i:before,
#login_form #SubmitLogin.active i:before{
	content: "\e838";
}
.hover_fly a.active i,
.itemlist_action .ajax_add_to_cart_button.active i,
.product_list.list .ajax_add_to_cart_button.active i,
.act_box_inner a.active i,
#create-account_form #SubmitCreate.active i,
#login_form #SubmitLogin.active i{
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
  	display: inline-block;
}
//form
.form-control {
	padding: 2px 4px;
	height: 26px;
	line-height: 26px;
	&.grey {
		background: $base-box-bg;
	}
}

//table
table.std,
table.table_block {
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #999999;
	border-bottom: none;
	background: white;
	border-collapse: inherit;
}

table.std th,
table.table_block th {
	padding: 14px 12px;
	font-size: 12px;
	color: $light-text-color;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 0 black;
	background: #999999;
}

table.std tr.alternate_item,
table.table_block tr.alternate_item {
	background-color: #f3f3f3;
}

table.std td,
table.table_block td {
	padding: 12px;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
	vertical-align: top;
}

.table {
	margin-bottom: 2em;
	> thead {
		> tr {
			> th {
				background: $table-background;
				border-bottom-width: 1px;
				color: $base-text-color;
				vertical-align: middle;
			}
		}
	}
	td {
		a.color-myaccount {
			color: $link-color;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	tfoot {
		tr {
			background: $table-background;
		}
	}
}

//product elements
.product-name {
	a {
		&:hover {
		}
	}
}


//Labels New/Sale
.new-box,
.sale-box {
	position: absolute;
	top: -4px;
	overflow: hidden;
	height: 85px;
	width: 85px;
	text-align: center;
	z-index: 0;
}

.new-box {
	left: -4px;
}

.sale-box {
	right: -5px;
}

.new-label {
	font: 700 14px / 12px $font-family;
	color: $light-text-color;
	background: #6ad4ff;
	text-transform: uppercase;
	padding: 9px 0 7px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
	width: 130px;
	text-align: center;
	display: block;
	position: absolute;
	left: -33px;
	top: 16px;
	z-index: 1;
	@include rotate(-45deg);
	&:before {
		position: absolute;
		bottom: -3px;
		right: 5px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 4px 4px 0px 4px;
		border-color: #21a3d8 transparent transparent transparent;
		content: ".";
		text-indent: -5000px;
		@include rotate(225deg);
	}
	&:after {
		position: absolute;
		bottom: -3px;
		left: 3px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 4px 4px 0px 4px;
		border-color: #21a3d8 transparent transparent transparent;
		content: ".";
		text-indent: -5000px;
		@include rotate(135deg);
	}
}

.sale-label {
	font: 700 14px / 12px $font-family;
	color: $light-text-color;
	background: #f13340;
	text-transform: uppercase;
	padding: 9px 0 7px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
	width: 130px;
	text-align: center;
	display: block;
	position: absolute;
	right: -33px;
	top: 16px;
	z-index: 1;
	@include rotate(45deg);
	&:before {
		position: absolute;
		bottom: -3px;
		right: 4px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 4px 4px 0px 4px;
		border-color: #ad2b34 transparent transparent transparent;
		content: ".";
		text-indent: -5000px;
		@include rotate(225deg);
	}
	&:after {
		position: absolute;
		bottom: -3px;
		left: 5px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 4px 4px 0px 4px;
		border-color: #ad2b34 transparent transparent transparent;
		content: ".";
		text-indent: -5000px;
		@include rotate(135deg);
	}
}

.ie8 {
	.new-label {
		left: 0px;
		top: 0px;
		width: auto;
		padding: 5px 15px;
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}
	.sale-label {
		right: 0px;
		top: 0px;
		width: auto;
		padding: 5px 15px;
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}
	.new-box {
		top: -1px;
		left: -1px;
	}
	.sale-box {
		right: -1px;
		top: -1px;
	}
}

//BOXES
.box {
	background: $base-box-bg;
	border: 1px solid $base-border-color;
	padding: $base-box-padding;
	margin: $base-box-indent;
	p {
		margin-bottom: 0;
	}
	&.box-small {
		padding: 9px 10px 9px 20px;
		.dark {
			padding-top: 10px;
			padding-right: 20px;
			margin-bottom: 0;
			width: auto;
		}
	}
}

.page-product-box {
	padding-bottom: 10px;
}

.product-box {
	width: 178px;
	float: left;
	@include box-sizing(border-box);
	.product-image {
		border: $main_border;
		background: white;
		padding: 5px;
		display: block;
		margin-bottom: 11px;
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}

//Homepage Tabs
#home-page-tabs {
	margin-bottom: 0;
	> li {
		a {
			text-transform: uppercase;
			font-size: 1.333em;
			display: inline-block;
			padding-right: 8px;
			background: #fff;
			color: #666;
			line-height: 1.2em;
		}
		span{
			display: inline-block;
			padding-right: 8px;
			background: #fff;
			color: #666;
			font-size: 1.333em;
			line-height: 1.2em;
		}
		&:last-child span{
			display: none;
		}
	}
	> li.active a,
	>li a:hover {
		color: #00a161;
	}
}


.block {
	.list-block {
		li {
			padding: 0 0 4px;
		}
		.form-group {
			padding-top: 20px;
			border-top: 1px solid $base-border-color;
			margin-bottom: 0;
			select {
				max-width: 270px;
			}
		}
		.btn {
			margin-top: 12px;
		}
	}
	.products-block {
		.product-description {
			display: none;
			margin-bottom: 10px;
		}
		.price-percent-reduction {
		}
	}
}

.page-heading {
	span.heading-counter {
	}
	span.lighter {
	}
	&.bottom-indent {
		margin-bottom: 16px;
	}
}

h3.page-product-heading {
	@include sub-heading;
}

// BLOCK .footer_links (cms pages)
ul.footer_links {
	margin-top: 1em;
	li {
		float: left;
		&+li {
			margin-left: 10px;
		}
	}
}

// barre comparaison / tri
.content_sortPagiBar {
	.sortPagiBar {
		border-bottom: 1px solid $base-border-color;
		padding: 0 10px 1em;
		&.sortPagiBarBottom{
			border-bottom: none;
	    	border-top: 1px solid $base-border-color;
	    	margin-bottom: 0;
    		padding: 1em 10px 0;
		}
		#productsSortForm {
			float: right;
			margin-bottom: 0;
			select {
				max-width: 192px;
				float: left;
			}
			.selector {
				float: left;
			}
		}
		.nbrItemPage {
			float: right;
			margin-right: 10px;
			select {
				max-width: 59px;
				float: left;
			}
			.clearfix > span {
				padding: 3px 0 0 12px;
				display: inline-block;
				float: left;
			}
			#uniform-nb_item {
				float: left;
			}
		}
		label {
            color: #999999;
            vertical-align: middle;
            font-weight: normal;
            margin: 0;
		}
		&.instant_search {
			#productsSortForm {
				display: none;
			}
		}
	}
	.display,
	.display_m {
		float: left;
		margin-bottom: 0;
		li {
			display: inline-block;
			a {
				width: 24px;
				height: 24px;
				line-height: 24px;
				display: inline-block;
			}
			&.grid{
				a{
					background: url(../img/icons.png) no-repeat center -232px transparent;
					&:hover{
						background-color: #bbbbbb;
						background-position: center -272px;
					}
				}
			}
			&.grid.selected a{
				background-color: #bbbbbb;
				background-position: center -272px;
			}
			&.list{
				a{
					background: url(../img/icons.png) no-repeat center -312px transparent;
					&:hover{
						background-color: #bbbbbb;
						background-position: center -352px;
					}
				}
			}
			&.list.selected a{
				background-color: #bbbbbb;
				background-position: center -352px;
			}
		}
	}
}

//pagination
.top-pagination-content{
	border-bottom: 1px solid $base-border-color;
	margin: 0 0 1em;
	padding: 0 10px 1em;
}
.bottom-pagination-content{
	margin: 1em 0;
    padding: 1em 10px 0;
}
div.pagination {
	.showall {
		float: left;
		display: inline-block;
		.show_all_products {
			background-color: #FFFFFF;
		    border: 1px solid $base-border-color;
		    line-height: 20px;
		    padding: 4px 12px;
		    color: #444444;
		    font-size: 1em;
		    border-left: none;
		    &:hover{
		    	color: #00a161;
		    	background: #F6F6F6;
		    }
		}
	}
}
.top-pagination-content,
.bottom-pagination-content,
.bottom-blog-pagination,
.bottom-blog-mycomments-pagination {
	div.pagination {
		margin: 0;
		float: right;
		text-align: center;
	}
	ul.pagination {
		margin: 0;
		float: left;
		display: inline-block;
		li {
            display: inline;
            > {
                a, span {
                    float: none;
					display: inline-block;
                    padding: 4px 12px;
                    line-height: 20px;
                    text-decoration: none;
                    background-color: #fff;
                    border: 1px solid $base-border-color;
                }
                a:hover {
					background: $pagination-hover-bg;
                }
            }
			&.pagination_previous,
			&.pagination_next {
				color: $pagination-prevnext-color;
			}
        }
        .current > {
            a, span {
				background: $pagination-hover-bg;
            }
            a, span {
                color: #999;
                cursor: default;
                border-color: $base-border-color;
            }
        }
        .disabled > {
            span {
                color: #999;
                cursor: default;
                background-color: transparent;
            }
            a {
                color: #999;
                cursor: default;
                background-color: transparent;
                &:hover {
                    color: #999;
                    cursor: default;
                    background-color: transparent;
                }
            }
        }
	}
	.compare-form {
		float: right;
	}
	.product-count {
		padding: 5px 0 0 0;
		float: left;
		color: #999;
	}
}

.bottom-pagination-content {
	border-top: 1px solid $base-border-color;
}

//CART steps
ul {
    &#order_step {
        background-color: white;
    }
    &.step {
        list-style-type: none;
        margin-bottom: 2em;
        li {
            float: left;
            text-align: center;
            text-transform: uppercase;
            width: 20%;
            a, span {
                display: block;
                border: 1px solid #ccc;
                border-right-width: 0;
            }
            &:last-child {
                a, span {
                    border-right-width: 1px;
                }
            }
            a, &.step_current span, &.step_current_end span {
                padding: 8px 10px 6px;
                color: #000;
            }
            &.step_current {
                font-weight: bold;
                background: #f9f9f9;
            }
            &.step_current_end {
                font-weight: bold;
            }
            &.step_todo span {
                padding: 8px 10px 6px;
                color: #999;
            }
            &.step_done {
                font-weight: bold;
                background: #f9f9f9;
            }
        }
    }
}

// module productcomments
.rating {
	clear: both;
	display: block;
	margin: 2em;
	cursor: pointer;
}

.rating:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
}

.cancel, .star {
	overflow: hidden;
	float: left;
	cursor: pointer;
}

.cancel, .cancel a {
	background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important;
}

.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

div.star_on a {
	background-position: 0 -16px;
}

div.star_hover a,
div.star a:hover {
	background-position: 0 -32px;
}

.pack_content {
	margin: 10px 0 10px 0;
}

.confirmation {
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #e6db55;
	font-size: 13px;
	background: none repeat scroll 0 0 lightyellow;
}

#body_wrapper .rte {
	background: transparent none repeat scroll 0 0;
}

.listcomment {
	list-style-type: none;
	margin: 0 0 20px 0 !important;
}

.listcomment li {
	padding: 10px 0;
	border-bottom: 1px dotted $base-border-color;
	color: #666666;
}

.listcomment .titlecomment {
	display: block;
	font-weight: bold;
	font-size: 12px;
	color: $base-text-color;
}

.listcomment .txtcomment {
	display: block;
	padding: 5px 0;
	color: $base-text-color;
}

// FOOTER
#footer{
	.block{
		margin-bottom: 0;
    	padding-top: 0.833em;
    	padding-bottom: 0.833em;
	}
    .title_block {
        font-weight: normal;
        font-size: 1.166em;
    }
}
#footer-top {
    border-top: 1px solid #ffffff;
    background: #fafafa;
}

#footer #brands_slider {
    clear: both;
}

.footer-container {
	#footer-primary {
		.row {
			position: relative;
		}
		.footer-block {}
		#block_contact_infos {
			ul {
				li {
					padding: 0 0 6px 0;
					overflow: hidden;
					i {
						font-size: 1.333em;
						margin-right: 4px;
						vertical-align: top;
					}
				}
			}
		}
		#social_block {
			ul {
				li {
					padding-bottom: 6px;
    				padding-right: 8px;
					a {
						color: #666666;
					    display: inline-block;
					    height: 26px;
					    line-height: 26px;
					    min-width: 26px;
					    text-align: center;
						&:hover {
							color: #00a161;
						}
					}
				}
			}
		}
	}
	#footer_info {
	    background: #666666;
	    color: #ffffff;
	    a {
	        color: #ffffff;
	    }
	}
}

#reinsurance_block {
	clear: both !important;
}

// Make sure lists are correctly displayed in tinyMCE BO edition mode too

.block_hidden_only_for_screen {
	display: none;
}

// PAIMENT - PAGE ORDER

//nav bottom
.cart_navigation {
	margin: 0 0 20px;
	.button-medium {
		float: right;
	}
	.button-exclusive {
	}
}

// step 1 - cart
.cart_last_product {
	display: none;
}


/* quantity_wanted */
#quantity_wanted_p input,
.cart_quantity .cart_quantity_input {
	border: 1px solid #e5e5e5;
	width: 40px;
	height: 40px;
    line-height: 28px;
    padding: 0 4px;
    text-align: center;
}

.cart_gift_quantity .cart_quantity_input {
	height: 27px;
	line-height: 27px;
	padding: 0;
	text-align: center;
	width: 57px;
}

.table {
	tbody > tr > td {
		vertical-align: middle;
		&.cart_quantity {
			width: 100px;
		}
		&.cart_delete,
		&.price_discount_del {
			padding: 5px;
		}
	}
	tfoot > tr > td {
		vertical-align: middle;
	}
}

#cart_summary {
	thead{
		th{
			&.cart_unit,&.cart_avail,&.cart_total,&.cart_quantity,&.cart_product,&.cart_availability {
				text-align: center;
			}
		}
	}
	tbody {
		td {
			&.cart_product {
				text-align: center;
				width: 80px;
				img {
					border: 1px solid $table-border-color;
				}
			}
			&.cart_unit {
				width: 120px;
				text-align: center;
				.price {
					span {
						display: block;
						&.price-percent-reduction {
							display: inline-block;
						}
						&.old-price {
							text-decoration: line-through;
						}
					}
				}
			}
			&.cart_description {
				.color_666 {
					display: block;
					padding: 0 0 4px;
				}
			}
			&.cart_avail {
				width: 120px;
				text-align: center;
			}
			&.cart_total {
				text-align: center;
			}
		}
	}
	tfoot {
		td {
			&.text-right {
			}
			&.price {
				text-align: right;
			}
			&.total_price_container {
				span {
					font-weight: bold;
				}
			}
			&#total_price_container {
				font-weight: bold;
			}
		}
	}
}
#summary_products_quantity{
	color: #444444;
}

#cart_summary .stock-management-on {
	tbody {
		td {
			&.cart_description {
				width: 300px;
			}
		}
	}
}

.cart_discount_price{
  text-align: center;
}

.cart_discount_delete{
  text-align: center;
}

#cart_voucher {
	border: 1px solid #DDDDDD;
	text-align: center;
	width: 260px;
	float: left;
	.cart_voucher_title {
		background: none repeat scroll 0 0 #FAFAFA;
    	padding: 6px;
	}
	.title-offers {
		color: $base-text-color;
		font-weight: bold;
		margin-bottom: 6px;
	}
	fieldset {
		margin-bottom: 10px;
		#discount_name {
			display: inline-block;
			width: 170px;
			height: 30px;
		}
	}
	#display_cart_vouchers {
		span {
			font-weight: bold;
			cursor: pointer;
			color: $link-color;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}

.enable-multishipping {
	margin: -13px 0 17px;
	label {
		font-weight: normal;
	}
}

#order_carrier {
	clear: both;
	margin-top: 20px;
	border: 1px solid #999999;
	background: $light-background;
}

#order_carrier .title_block {
	padding: 0 15px;
	height: 29px;
	font-weight: bold;
	line-height: 29px;
	color: $light-text-color;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../img/bg_table_th.png) repeat-x 0 -10px #999999;
}

#order_carrier span {
	display: block;
	padding: 15px;
	font-weight: bold;
}

.multishipping_close_container {
	text-align: center;
}

table#cart_summary .gift-icon {
	color: white;
	background: #0088cc;
	line-height: 20px;
	padding: 2px 5px;
	border-radius: 5px;
}

// step 3 - address
#multishipping_mode_box {
	padding-top: 12px;
	padding-bottom: 19px;
	.title {
		font-weight: bold;
		color: $base-text-color;
		margin-bottom: 15px;
	}
	.description_off {
		display: none;
		div {
			margin-bottom: 10px;
		}
	}
	.description_off a:hover,
	.description a:hover {
		background: #f3f3f3;
		border: 1px solid #cccccc;
	}
}

#multishipping_mode_box.on .description_off {
	display: block;
}

.multishipping-cart {
	.cart_address_delivery {
		&.form-control {
			width: 198px;
		}
	}
}

#order .address_add.submit {
	margin-bottom: 20px;
}

#ordermsg {
	margin-bottom: 30px;
}

#id_address_invoice.form-control,
#id_address_delivery.form-control {
	width: 269px;
}

.addresses {
	.select label,
	.selector,
	.addresses .address_select {
		display: inline-block;
	}
	.select label{
		margin-right: 6px;
	}
	.waitimage {
		display: none;
		float: left;
		width: 24px;
		height: 24px;
		background-image: url("../../../img/loader.gif");
		background-repeat: no-repeat;
		position: relative;
		bottom: -2px;
		margin-right: 6px;
	}
	.checkbox.addressesAreEquals {
		margin: 1em 0;
	}
}

// step 4 - paiement
#order .delivery_option,
#order-opc .delivery_option {
	> div {
		display: block;
		margin-bottom: 20px;
		font-weight: normal;
		> table {
			background: $light-background;
			margin-bottom: 0;
			&.resume {
				height: 53px;
				&.delivery_option_carrier {
					margin-top: 10px;
					width: 100%;
					background: $state-info-bg;
					color: $state-info-text;
					border: 1px solid $state-info-border;
					font-weight: bold;
					td {
						padding: 8px 11px 7px 11px;
						i {
							font-size: 20px;
							margin-right: 7px;
							vertical-align: -2px;
						}
					}
				}
				td {
					&.delivery_option_radio {
						width: 54px;
						padding-left: 0;
						padding-right: 0;
						text-align: center;
					}
					&.delivery_option_logo {
						width: 97px;
						padding-left: 21px;
					}
					&.delivery_option_price {
						width: 162px;
					}
				}
			}
		}
	}
}

.order_carrier_content {
	line-height: normal;
	padding-bottom: 16px;
	.carrier_title {
		color: $base-text-color;
	}
	.checkbox {
		input {
			margin-top: 2px;
		}
	}
	.delivery_options_address {
		.carrier_title {
			margin-bottom: 17px;
		}
	}
	& + div {
		padding-bottom: 15px;
	}
}

#carrierTable {
	border: 1px solid #999999;
	border-bottom: none;
	background: $light-background;
}

#carrierTable tbody {
	border-bottom: 1px solid #999999;
}

#carrierTable th {
	padding: 0 15px;
	height: 29px;
	font-weight: bold;
	line-height: 29px;
	color: $light-text-color;
	text-transform: uppercase;
	background: url(../img/bg_table_th.png) repeat-x 0 -10px #999999;
}

#carrierTable td {
	padding: 15px;
	font-weight: bold;
	border-right: 1px solid #e9e9e9;
}

#carrierTable td.carrier_price {
	border: none;
}

p.checkbox.gift {
	margin-bottom: 10px;
}

#gift_div {
	display: none;
	margin-top: 5px;
	margin-bottom: 10px;
}

a.iframe {
	font-weight: bold;
}

//step 5 - paiement
p.payment_module {
	margin-bottom: 10px;
	a {
		display: block;
		font-size: 1.5em;
		border: 1px solid $table-border-color;
		@include border-radius(4px);
		line-height: 23px;
		padding: 33px 40px 34px 99px;
		letter-spacing: -1px;
		position: relative;
		&.bankwire {
			background: url(../img/bankwire.png) 15px 12px no-repeat $base-box-bg;
		}
		&.cheque {
			background: url(../img/cheque.png) 15px 15px no-repeat $base-box-bg;
		}
		&.cash {
			background: url(../img/cash.png) 15px 15px no-repeat $base-box-bg;
		}
		&:hover {
			background-color: #f6f6f6;
		}
	}
}

.payment_module.box {
	margin-top: 20px;
}

p.cheque-indent {
	margin-bottom: 9px;
}

.cheque-box {
	.form-group {
		margin-bottom: 0px;
		.form-control {
			width: 269px;
		}
	}
}

.order-confirmation.box {
	line-height: 29px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

//PAGE ORDER-OPC
.delivery_option_carrier td {
	width: 200px;
}

.delivery_option_carrier td + td {
	width: 280px;
}

.delivery_option_carrier td + td + td {
	width: 200px;
}

.delivery_option_carrier tr td {
	padding: 5px;
}

.delivery_option_carrier.selected {
	display: table;
}

.delivery_option_carrier.not-displayable {
	display: none;
}

//PAGES ADRESSES, IDENTITY
#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication {
	.box {
		padding-bottom: 20px;
	}
	p.required {
		color: #f13340;
		margin: 9px 0 16px 0;
	}
	p.inline-infos {
		color: red;
	}
	.form-group {
		margin-bottom: 8px;
		.form-control {
			max-width: 360px;
			&#adress_alias {
				margin-bottom: 20px;
			}
		}
	}
	.gender-line {
		margin-bottom: 4px;
		padding-top: 4px;
		> label {
			margin-right: 10px;
			margin-bottom: 0;
		}
		.radio-inline {
			label {
				font-weight: normal;
				color: #777777;
			}
		}
	}
}

#identity,
#authentication{
	#center_column {
		form.std {
			.row {
				display: inline-block;
				margin-left: 0;
				margin-right: 0;
				width: 300px;
				.col-xs-4 {
					padding-left: 0;
					padding-right: 5px;
					max-width: 94px;
					.form-control {
						max-width: 84px;
					}
				}
			}
		}
		.footer_links {
			border: none;
			padding-top: 0;
		}
	}
}
#order-opc{
	#center_column {
		form.std {
			#opc_account_form{
				.row {
					display: inline-block;
					margin-left: 0;
					margin-right: 0;
					.col-xs-4 {
						padding-left: 0;
						padding-right: 5px;
						max-width: 94px;
						.form-control {
							max-width: 84px;
						}
					}
				}
			}
		}
	}
}

#new_account_form .box {
	.date-select {
		padding-bottom: 10px;
	}
	.top-indent {
		padding-top: 10px;
	}
	.customerprivacy {
		padding-top: 15px;
	}
}

#authentication {
	fieldset.account_creation {
		margin-bottom: 20px;
	}
}

// PASSWORD
#password {
	.box {
		p {
			margin-bottom: 9px;
		}
		.form-group {
			margin-bottom: 20px;
			.form-control {
				width: 263px;
			}
		}
	}
	.footer_links {}
	padding-top: 0;
	border: none;
}

//PAGE SEARCH
#instant_search_results {
	a.close {
		font-size: 13px;
		font-weight: 600;
		opacity: 1;
		line-height: inherit;
		text-transform: none;
		font-family: $font-family;
		&:hover {
			color: $link-hover-color;
		}
	}
}

// MANUFACTURERS/SUPPLIERS
#manufacturers_list,
#suppliers_list {
	h3 {
		font-size: 1.333em;
		margin-bottom: 1em;
	}
	&.list {
		li {
			border-bottom: 1px solid #e5e5e5e;
			padding-bottom: 1em;
			margin-bottom: 1em;
			.logo{
				display: block;
				border: 1px solid #e5e5e5;
			}
			.mansup-container {
			}
			&:first-child {
				.mansup-container {
					border-top: 0;
				}
			}
			.left-side {
				text-align: center;
			}
			.middle-side {
			}
			.right-side-content {
				margin-top: 1em;
				.product-counter {
					margin-right: 4px;
				}
			}
			&.item-last{
				border-bottom: none;
				margin-bottom: 0;
			}
		}
	}
	&.grid {
		li {
			text-align: center;
			.product-container {
				padding-top: 40px;
				padding-bottom: 20px;
				border-bottom: 1px solid $base-border-color;
				.left-side {
					padding-bottom: 42px;
				}
				h3 {
					padding-bottom: 10px;
				}
				.product-counter {
					margin-bottom: 12px;
				}
			}
		}
	}
}

#manufacturer,
#supplier {
	.description_box {
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid $base-border-color;
		.hide_desc {
			display: none;
		}
	}
}

//DISCOUNT PAGE

//GUEST TRACKING
#guestTracking {
	.form-control {
		max-width: 271px;
	}
	// > 1200px
	@media (min-width: $screen-lg) {
		.form-group {
			overflow: hidden;
			i {
				padding-left: 10px;
			}
		}
		.form-control {
			float: left;
		}
		label {
			float: left;
			clear: both;
			width: 100%;
		}
	}
}

//PAGE 404
#pagenotfound {
	.pagenotfound {
		padding: 4em 0;
		text-align: center;
		label {
			font-weight: normal;
		}
		.form-control {
			max-width: 200px;
			display: inline-block;
			height: 30px;
			line-height: 30px;
		}
	}
}

//addon RerversoForm
#account-creation_form fieldset.reversoform {
	padding: 10px !important;
}

#account-creation_form fieldset.reversoform .text label {
	display: block;
	padding: 0 0 10px 0;
	width: 100%;
	text-align: left;
}

#account-creation_form fieldset.reversoform .infos-sup {
	padding: 0 !important;
	font-size: 10px;
	font-style: italic;
	text-align: right;
}

//addon customer privacy
#account-creation_form fieldset.customerprivacy label,
fieldset.customerprivacy label {
	cursor: pointer;
}

//addon referralprogram
.tab-content {
	margin-top: 20px;
}

//addons comments products
form#sendComment fieldset {
	padding: 10px;
	border: 1px solid #cccccc;
	background: #eeeeee;
}

form#sendComment h3 {
	font-size: 14px;
}

#new_comment_form p.text {
	margin-bottom: 0;
	padding-bottom: 0;
}

#sendComment p.text label,
#sendComment p.textarea label {
	display: block;
	margin: 12px 0 4px;
	font-weight: bold;
	font-size: 12px;
}

#sendComment p.text input {
	padding: 0 5px;
	height: 28px;
	width: 498px;
	border: 1px solid #cccccc;
	background: url(../img/bg_input.png) repeat-x 0 0 $light-background;
}

#sendComment p.textarea textarea {
	height: 80px;
	width: 508px;
	border: 1px solid #cccccc;
}

#sendComment p.submit {
	padding: 0;
	text-align: right;
}

#sendComment p.closeform {
	float: right;
	padding: 0;
	height: 12px;
	width: 12px;
	text-indent: -5000px;
	background: url(../img/icon/delete.gif) no-repeat 0 0;
}

.star {
	position: relative;
	top: -1px;
	float: left;
	width: 18px;
	overflow: hidden;
	cursor: pointer;
	font-size: 1.333em;
	font-weight: normal;
}

.star {
	display: block;
	a {
		display: block;
		position: absolute;
		text-indent: -5000px;
	}
}

div.star {
	&:after {
		content: "\e800";
		font-family: $font-icon;
		display: inline-block;
		color: #CCCCCC;
	}
}

div.star.star_on {
	display: block;
	&:after {
		content: "\e800";
		font-family: $font-icon;
		display: inline-block;
		color: #FF8A00;
	}
}

div.star.star_hover {
	&:after {
		color: #FF8A00;
		content: "\e800";
		font-family: $font-icon;
		display: inline-block;
	}
}

//CSS Modules
//IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.

//Block ADVERTISING
.advertising_block {
	width: 191px;
	margin-bottom: 1em;
	text-align: center;
}

//footer
.blockcategories_footer ul{
	.grower{
		display: none;
	}
	ul {
		display: none !important;
	} 
}

//Form validate
.form-group {
	&.form-error {
		input, textarea {
			background: #F5DAD3;
		}
	}
	&.form-ok {
		input, textarea {
		}
	}
	&.form-error, &.form-ok {
		.form-control {
		}
	}
}

//uniform
.radio-inline, .checkbox {
	padding-left: 0;
	.checker {
		float: left;
		span {
			top: 0px;
		}
	}
	div.radio {
		display: inline-block;
		span {
			float: left;
			top: 0px;
		}
	}
}

.fancybox-skin {
	background: $light-background !important;
	color: #666666;
}

.fancybox-skin .fancybox-close {
	width: 28px;
	height: 28px;
	background: none;
	font-size: 1.3em;
	line-height: 28px;
	color: $base-text-color;
	text-align: center;
	background: white;
	@include border-radius(50px);
	&:hover {
		color: $link-hover-color;
	}
	&:after {
		content: "\e849";
		font-family: $font-icon;
	}
}

//Homepage pre-footer
#facebook_block,
#cmsinfo_block {
	overflow: hidden;
	background: $homepage-footer-bg;
	min-height: 344px;
	padding-right: 29px;
	padding-left: 29px;
}

#facebook_block {
	h4 {
		padding: 35px 0 0 0;
		margin: 0 0 12px 0;
		font: 300 21px / 25px $font-custom;
		color: lighten($base-heading-color, 10%);
	}
	.facebook-fanbox {
		background: $light-background;
		border: 1px solid #aaaaaa;
		padding-bottom: 10px;
	}
}

#cmsinfo_block {
	> div {
		padding: 35px 10px 0 0;
	}
	> div + div {
		border-left: 1px solid $homepage-footer-border;
		min-height: 344px;
		padding-left: 29px;
	}
	em {
		float: left;
		width: 60px;
		height: 60px;
		margin: 3px 10px 0 0;
		font-size: 30px;
		color: $light-text-color;
		line-height: 60px;
		text-align: center;
		background: lighten($base-heading-color, 10%);
		@include border-radius(100px);
	}
	.type-text {
		overflow: hidden;
	}
	h3 {
		margin: 0 0 5px 0;
		font: 300 21px / 25px $font-custom;
		// max 1199px
	}
	ul {
		li {
			padding-bottom: 22px;
		}
	}
	p {
		em {
			background: none;
			@include border-radius(0);
			margin: 0;
			font-size: 13px;
			color: $text-color;
			float: none;
			height: inherit;
			line-height: inherit;
			text-align: left;
			font-style: italic;
		}
	}
}

.ie8 {
	#facebook_block,
	#cmsinfo_block {
		height: 344px;
	}
}

//temporary fix for quickview
#product.content_only {
	div.pb-left-column {
		p.resetimg {
			margin-bottom: 0px;
			padding-top: 0px;
		}
		#thumbs_list_frame {
			margin-bottom: 0px;
		}
	}
}

//Product Compare
#product_comparison {
	td.compare_extra_information {
		padding: 10px;
	}
	#social-share-compare {
		margin-bottom: 50px;
	}
}

//Social Sharing
.btn-facebook, .btn-twitter, .btn-google-plus, .btn-pinterest {
	background: transparent;
	&:hover {
		color: white;
		i {
			color: white;
		}
	}
}

.btn-facebook {
	i {
		color: #435f9f;
	}
	&:hover {
		background-color: #435f9f;
	}
}

.btn-twitter {
	i {
		color: #00aaf0;
	}
	&:hover {
		background-color: #00aaf0;
	}
}

.btn-google-plus {
	i {
		color: #e04b34;
	}
	&:hover {
		background-color: #e04b34;
	}
}

.btn-pinterest {
	i {
		color: #ce1f21;
	}
	&:hover {
		background-color: #ce1f21;
	}
}
//Structure
#footer-top .wide_container, #footer-primary .wide_container, #footer-secondary .wide_container, #header .wide_container, #top_extra .wide_container, #footer_info .wide_container {
    padding: 1.666em 0;
    background: transparent;
}

#top_extra .wide_container {
    padding: 0;
}

#footer_info .wide_container {
    padding: 1em 0;
}

#footer-primary {
    .wide_container {
        padding: 0;
    }
    .container {
        border-top: 1px solid #ffffff;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

#main_content_area .wide_container {
    padding: 1.666em 0;
}
//Global
label{font-weight: normal;}
a:focus{
	outline: thin dotted;
	-moz-outline-style: none;
}
a:active,a:hover{
	outline: 0;
}
a:focus,:focus{ 
	outline: none!important;
	text-decoration: none;
}
a {
    &.go {
        text-decoration: underline;
    }
    &.icon_wrap {
        background: #f1f1f1;
        color: #00A161;
    }
}
img.hover_effect {
    background: #ffffff;
}

.hover_effect {
    img {
        background: #ffffff;
    }
    &:hover {
        img {
            opacity: 0.6;
            filter: alpha(opacity = 60);
        }
        opacity: 0.6;
        filter: alpha(opacity = 60);
    }
}
img{
	max-width: 100%;
	height: auto;
}
ul{
	margin-bottom: 0;
}
dl{
	margin-bottom: 1em;
}
.simple_hidden, .amount_circle.simple_hidden{
	display: none;
}
.color_000, a.color_000, .color_000 a {
    color: #000;
}
.color_333, a.color_333, .color_333 a {
    color: #333;
}
.color_444, a.color_444, .color_444 a {
    color: #444;
}
.color_666, a.color_666, .color_666 a {
    color: #666;
}

.color_999, a.color_999, .color_999 a {
    color: #999;
}
.color_aaa, a.color_aaa, .color_aaa a {
    color: #aaaaaa;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
#page_wrapper, .wide_container{
	@include center-block;
}
#page_wrapper {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); 
}
.posi_rel{
	position: relative;
}
.posi_abs{
	position: absolute;
}
.float-left, .fl, .li_fl li, .f_left {
    float: left;
}
.float-right, .fr, .f_right {
    float: right;
}
//Font
.bold {
    font-weight: bold;
}

.fw_normal {
    font-weight: normal;
}

.uppercase {
    text-transform: uppercase;
}

.font_small {
    font-size: 0.916em;
}

.font_large {
    font-size: 1.166em;
}

.font_1x {
    font-size: 1.333em;
}

.font_2x {
    font-size: 1.5em;
}

.font_3x {
    font-size: 1.666em;
}

.font_4x {
    font-size: 2em;
}

//Padding
.pad_l6 {
    padding-left: 6px;
}

.pad_10 {
    padding: 10px;
}

.pad_lr4 {
    padding-left: 4px;
    padding-right: 4px;
}

.pad_tb4 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.pad_tb1 {
    padding-top: 1em;
    padding-bottom: 1em;
}
.pad_b1 {
    padding-bottom: 1em;
}

//Margin
.mar_r4 {
    margin-right: 4px;
}

.mar_b10 {
    margin-bottom: 10px;
}

.mar_b4 {
    margin-bottom: 4px;
}

.mar_b6 {
    margin-bottom: 6px;
}

.mar_t4 {
    margin-top: 4px;
}

.mar_b1 {
    margin-bottom: 1em;
}

.mar_b2 {
    margin-bottom: 2em;
}

.mar_t1 {
    margin-top: 1em;
}

.mar_r1 {
    margin-right: 1em;
}

.mar_l1 {
    margin-left: 1em;
}
.bullet li a {
    display: block;
    padding: 0px 0 2px 0;
    &:hover {
        text-decoration: none;
	    transition: background-position 100ms ease-in-out;
	    -moz-transition: background-position 100ms ease-in-out;
	    -ms-transition: background-position 100ms ease-in-out;
	    -webkit-transition: background-position 100ms ease-in-out;
	    -o-transition: background-position 100ms ease-in-out;
    }
}
//Transition
a, a.ma_level_0, .shopping_cart:hover .icon_wrap, .shopping_cart.active .icon_wrap,.dropdown_tri_inner{
    transition: color 200ms ease-in-out, background-color 300ms ease-in-out;
    -moz-transition: color 200ms ease-in-out, background-color 300ms ease-in-out;
    -ms-transition: color 200ms ease-in-out, background-color 300ms ease-in-out;
    -webkit-transition: color 200ms ease-in-out, background-color 300ms ease-in-out;
    -o-transition: color 200ms ease-in-out, background-color 300ms ease-in-out;
}
.bullet li a:hover {
    transition: background-position 100ms ease-in-out;
    -moz-transition: background-position 100ms ease-in-out;
    -ms-transition: background-position 100ms ease-in-out;
    -webkit-transition: background-position 100ms ease-in-out;
    -o-transition: background-position 100ms ease-in-out;
}

.pro_second_box {
    transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -webkit-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
}

.category_slideshow .flex-direction-nav a, .main_slideshow .flex-direction-nav a {
    transition: background-color 250ms ease-in-out, left 250ms ease-in-out, right 250ms ease-in-out;
    -moz-transition: background-color 250ms ease-in-out, left 250ms ease-in-out, right 250ms ease-in-out;
    -ms-transition: background-color 250ms ease-in-out, left 250ms ease-in-out, right 250ms ease-in-out;
    -webkit-transition: background-color 250ms ease-in-out, left 250ms ease-in-out, right 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out, left 250ms ease-in-out, right 250ms ease-in-out;
}

#center_column, #left_column, #right_column, .products_slider .slides > li {
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.hover_fly {
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    a {
        transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        &:first-child {
            transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
        }
    }
}

.itemlist_action a {
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

#to_top a i, a.rightbar_tri i, #switch_left_column i, #compare_items .remove_compare i, a.icon_wrap:hover i, .icon_wrap:hover i, a.icon_circle:hover i, .icon_circle:hover i, .ajax_cart_block_remove_link:hover i, .delete_voucher:hover i, .cart_delete a.cart_quantity_delete i, a.price_discount_delete i, .cmp_remove i, .exclusive.ajax_add_to_cart_button i, .rating_box i {
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.hovers .product_image img {
    transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
}
//Title
.title_block {
    padding-bottom: 1em;
    font-size: 1.166em;
}

.block {
    margin-bottom: 2em;
}

#left_column .block:last-child, #right_column .block:last-child {
    margin-bottom: 0;
}

.block .title_block {
    padding: 6px 0px;
    text-align: left;
    margin: 0 0 6px 0;
    a {}
}

#create-account_form .block .title_block, #login_form .block .title_block {
    padding: 1em 1.333em;
}

.s_title_block {
    font-weight: normal;
    font-size: 1em;
    padding: 0;
    height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
    display: block;
    margin-bottom: 4px;
    margin-top: 0;
}

.ajax_block_product .s_title_block, 
.block_blog .s_title_block, 
.featured_categories_list .s_title_block , 
.blog_row_list .s_title_block {
    font-size: 1.166em;
}

.s_title_block.nohidden {
    height: auto;
}

.block .title_block, .idTabs a, .product_accordion_title {
    font-size: 1.333em;
    line-height: 1.2em;
    font-weight: normal;
}

.heading, .page-heading, .page-subheading {
    font-size: 1.333em;
    line-height: 1.2em;
    font-weight: normal;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 1em;
}

a.heading, a.page-heading, a.page-subheading {
    color: #666;
    text-transform: uppercase;
}


.page-subheading, a.page-subheading {
	padding: 0 0 6px;
	border-bottom: 1px solid $base-border-color;
    font-size: 1.166em;
}

.block .title_block {
    color: #666;
    text-transform: uppercase;
    a {
        color: #666;
        text-transform: uppercase;
        &:hover{
        	color: #00A161;
        }
    }
}

.section .title_block {
    background: url(../img/title_block_bg.png) repeat-x left center;
    span, a {
        display: inline-block;
        padding-right: 8px;
        background: #fff;
    }
}
#home-page-tabs{
	background: url(../img/title_block_bg.png) repeat-x left center;
}

#brands_slider-column, 
#featured-products_block_center, 
#featured_products_sldier_block_center, 
#featured_products_sldier_block_center_column, 
#new-products_block_center, 
#new-products_block_center_column, 
#related-products_block_center, 
#related-products_block_center_column, 
#special-products_block_center, 
#special-products_block_center_column, 
#brands_slider, 
#best-sellers_block_center, 
#best-sellers_block_center_column, 
.product_categories_slider_block, 
.product_categories_slider_block_column, 
#productscategory-products_block_center, 
#crossselling-products_block_center, 
#blog_related_products, 
#accessories_block { 
	.title_block{
	    margin-bottom: 16px;
	    padding-right: 62px;
	}
	&.display_as_grid{
		.title_block{
		    margin-bottom: 0;
		    padding-right: 0;
		}
	}
} 
#pc_slider_tabs {
    margin-bottom: 16px;
    padding-right: 62px;
	&.display_as_grid{
	    margin-bottom: 0;
	    padding-right: 0;
	}
}

.block-heading{
	padding: 10px;
	font-size: 1.133em;
	color: #fff;
	text-transform: uppercase;
	background: #666666;
	margin-bottom: 10px;
	&.no_mar_b{
		margin-bottom: 0;
	}
}

//Shadow
#header #cart_block, .open .dropdown_tri, .dropdown_list, .ac_results, .rightbar_content {
    -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}

//Header
#top_bar #header_user_info a, #top_bar #header_user_info span, #stsocial_list_topbar li a, #contact-link a, .shop-phone{
    display: inline-block;
    padding: 13px 10px;
    border-left: 1px solid #3AB47B;
    border-right: 1px solid #3AB47B;
    margin-left: -1px;
    float: left;
}
#header_right{
	position: static;
}
//Dropdown
.dropdown_wrap {
    display: inline-block;
    position: relative;
    margin: 0;
}

.dropdown_tri_inner {
    display: inline-block;
    padding: 13px 18px 13px 10px;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    position: relative;
    z-index: 100;
    border-left: 1px solid #3AB47B;
    border-right: 1px solid #3AB47B;
    margin-left: -1px;
    b {
        position: absolute;
        right: 6px;
        top: 45%;
        width: 0;
        height: 0;
        border-width: 4px 4px;
        border-style: solid;
        font-size: 0;
        line-height: 0;
        border-color: #D8F6E6 transparent transparent;
        -moz-transition: -moz-transform .2s ease-in;
        -o-transition: -o-transform .2s ease-in;
        transition: transform .2s ease-in;
    }
}

#top_bar .open .dropdown_tri_inner {
    background-color: #d8f6e6;
    color: #00A161;
}

.open .dropdown_tri_inner b {
    border-color: #00A161 transparent transparent;
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.dropdown_list {
    background: #fff;
    display: none;
    position: absolute;
    margin: 0;
    left: 0;
    top: 100%;
    min-width: 120px;
    z-index: 99;
    &.dropdown_right {
        left: auto;
        right: 0;
    }
}

.open .dropdown_list {
    display: block;
    &.dropdown_right {}
}

.dropdown_list ul {
    list-style: none;
    margin: 0;
}

#top_bar .dropdown_list li a {
    display: block;
    line-height: 1.6em;
    white-space: nowrap;
    color: #666;
    padding: 3px 10px 5px;
    &:hover {
        color: #00A161;
        background: #D7F5E5;
    }
}
//Breadcrumb
#breadcrumb_wrapper {
    background: #fafafa;
    background: -webkit-linear-gradient(top, #f2f2f2, #f9f9f9 5%, #f9f9f9 95%, #f2f2f2);
    background: -moz-linear-gradient(top, #f2f2f2, #f9f9f9 5%, #f9f9f9 95%, #f2f2f2);
    background: -o-linear-gradient(top, #f2f2f2, #f9f9f9 5%, #f9f9f9 95%, #f2f2f2);
    background: linear-gradient(top, #f2f2f2, #f9f9f9 5%, #f9f9f9 95%, #f2f2f2);
    padding: 1em 0;
    &.wide_container {
        padding: 1em 0;
    }
    .container, &.wide_container .container {
        position: relative;
    }
}

.breadcrumb {
    display: inline;
    background: none;
    margin: 0;
    padding: 0;
    ul, li {
        display: inline;
    }
    .navigation-pipe {
        margin: 0 3px 0 5px;
        display: inline-block; 
    }
    color: #BBBBBB;
    a {
        color: #BBBBBB;
        &:hover{
        	color: #00a161;
        }
    }
}
#search_return a{
    color: #BBBBBB;
}

#center_column section.breadcrumb {
    display: none;
}


/* FlexSlider Necessary Styles
*********************************/

.flexslider {
    margin: 0;
    padding: 0;
    .slides {
        > li {
            display: none;
            -webkit-backface-visibility: hidden;
            position: relative;
        }
        img {
            display: block;
            &.img_nomax {
                width: 100%;
            }
        }
    }
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/*
.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;}
*/

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */

.slides:after {
    content: '\0020';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/

.flexslider {
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

/* Control Nav */

.flex-control-nav {
    position: absolute;
    bottom: 4%;
    right: 2%;
    text-align: center;
    z-index: 40;
}

.main_slideshow .flex-control-nav {
    right: 46%;
    display: none;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    float: none;
}

.flex-control-paging li a {
    width: 8px;
    height: 8px;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    background: #333;
    border: 3px solid #fff;
    &.flex-active {
        cursor: default;
        background: #fff;
        border-color: #000;
    }
}

.nav_center_bottom .flex-control-nav {
    position: inherit;
    right: auto;
    bottom: auto;
}

.sliderwrap {
    margin: 0 auto;
    .product_image {
        display: block;
    }
}

/*slider product*/

/* Direction Nav */

.flex-direction-nav {
    *height: 0;
}

.category_slideshow, .main_slideshow {
    overflow: hidden;
}

.category_slideshow, .main_slideshow {
    margin-bottom: 1em;
}

.category_slideshow .flex-direction-nav a, .main_slideshow .flex-direction-nav a {
    position: absolute;
    display: inline-block;
    color: #fff;
    text-align: center;
    top: 45%;
    z-index: 10;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
}

.category_slideshow .flex-direction-nav a img, .main_slideshow .flex-direction-nav a img {
    display: none;
    position: absolute;
    top: -1px;
    max-width: none;
    border: 1px solid #666;
}

.category_slideshow .flex-direction-nav a:hover, .main_slideshow .flex-direction-nav a:hover {
    background: #000000;
    background: rgba(0, 0, 0, 0.6);
    border-color: #666;
}

.category_slideshow .flex-direction-nav a:hover img, .main_slideshow .flex-direction-nav a:hover img {
    display: block;
}

.category_slideshow .flex-direction-nav .flex-next img, .main_slideshow .flex-direction-nav .flex-next img {
    right: 71px;
    border-right: none;
}

.category_slideshow .flex-direction-nav .flex-prev img, .main_slideshow .flex-direction-nav .flex-prev img {
    left: 71px;
    border-left: none;
}

.category_slideshow .flex-direction-nav .flex-next, .main_slideshow .flex-direction-nav .flex-next {
    right: -100px;
}

.category_slideshow .flex-direction-nav .flex-prev, .main_slideshow .flex-direction-nav .flex-prev {
    left: -100px;
}

.category_slideshow:hover .flex-direction-nav .flex-next, .main_slideshow:hover .flex-direction-nav .flex-next {
    right: 5%;
}

.category_slideshow:hover .flex-direction-nav .flex-prev, .main_slideshow:hover .flex-direction-nav .flex-prev {
    left: 5%;
}

#thumbs_list .flex-direction-nav {
    a {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 72px;
        line-height: 72px;
        overflow: hidden;
        text-align: center;
        z-index: 10;
        display: block;
        top: 0;
    }
    .flex-next {
        right: 0;
    }
    .flex-prev {
        left: 0;
    }
    .flex-disabled {
        cursor: default;
        color: #999;
    }
}

.nav_top_right {
    position: relative;
    height: 0;
    line-height: 0;
    .flex-direction-nav {
        position: absolute;
        top: -44px;
        right: 0px;
        list-style: none;
        margin: 0;
        background: #ffffff;
        padding-left: 6px;
    }
}

.nav_left_bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.column_slideshow .flex-direction-nav a {
    color: #fff;
    display: block;
    background: #cccccc;
    background: rgba(0, 0, 0, 0.2);
    &:hover {
        background: #000;
    }
}

.nav_top_right .flex-direction-nav li, .nav_left_bottom .flex-direction-nav li {
    float: left;
}

.nav_top_right .flex-direction-nav a, .nav_left_bottom .flex-direction-nav a {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    float: left;
    margin-left: 2px;
    text-decoration: none;
    color: #ffffff;
    background: #999999;
}

.nav_top_right .flex-direction-nav a:hover, .nav_left_bottom .flex-direction-nav a:hover {
    background-color: #555555;
    color: #ffffff;
}

.nav_top_right .flex-direction-nav a.flex-disabled, .nav_left_bottom .flex-direction-nav a.flex-disabled {
    cursor: default;
    color: #ffffff;
    background: #cccccc;
}

.blog_flexslider {
    position: relative;
    .flex-direction-nav {
        a {
            text-align: center;
            cursor: pointer;
            display: block;
            position: absolute;
            top: 50%;
            z-index: 10;
            width: 36px;
            height: 36px;
            line-height: 28px;
            margin-top: -18px;
            float: left;
            text-decoration: none;
            color: #ffffff;
            background: #999999;
            opacity: 0.6;
            filter: alpha(opacity = 60);
        }
        .flex-next {
            background-position: 100% 0;
            right: 0;
        }
        .flex-prev {
            left: 0;
        }
    }
    .flex-next:hover, .flex-prev:hover {
        opacity: 1;
        filter: alpha(opacity = 100);
        background: #555555;
    }
}

.flexslider_loader {
    height: 120px;
    line-height: 120px;
    text-align: center;
}

.stajax_loader {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: url(../img/loading.gif) no-repeat center center;
}
//Price
.price, #our_price_display, .sale_percentage, .sale_percentage_sticker {
	color: $price-color;
    white-space: nowrap;
}

.price_container .price {
    font-size: 1.333em;
    font-weight: bold;
    margin-right: 4px;
}

.sale_percentage {
    font-size: 1.166em;
}

#our_price_display {
    font-size: 1.333em;
}

.old_price {
    text-decoration: line-through;
    color: #999;
    margin-right: 4px;
    font-size: 1.083em;
    white-space: nowrap;
}

.price.product-price {
}

.old-price {
	color: $product-old-price-color;
	text-decoration: line-through;
    font-size: 1em;
    margin-right: 4px;
    white-space: nowrap;
}

.special-price {
	color: $product-special-price-color;
}

.price-percent-reduction {
	&.small {
	}
}

.rating_box i {
    color: #ccc;
    display: inline-block;
    &.light {
        color: #ff8a00;
    }
}

.required {
    color: #ee001c;
}

p.required_note {
    color: #999;
    sup {
        color: #D90000;
    }
}

#more_info_block p {}

.products_slider .slides > li {
    padding: 10px 10px 4px 10px;
    overflow: hidden;
}

#new-itemslider_column .slides > li, #related-itemslider_column .slides > li, #special-itemslider_column .slides > li, #featured-itemslider_column .slides > li, .product_categories-itemslider_column .slides > li {
    padding: 0;
}

#brands-itemslider .slides > li {
    padding: 0px 12px;
    position: inherit;
}

#brands-itemslider-column .slides > li a {
    margin-bottom: 10px;
    display: block;
    text-align: center;
    &:last-child {
        margin-bottom: 4px;
    }
    img {
        display: inline;
    }
}

#featured-itemslider .hovers, #new-itemslider .hovers, #related-itemslider .hovers, #special-itemslider .hovers, #productscategory-itemslider .hovers, #crossselling-itemslider .hovers, #blog_related-itemslider .hovers, #bestsellers-itemslider .hovers, .flexslider.product_categories-itemslider .hovers, #accessories-itemslider .hovers {
    width: inherit;
}

#product_list .hovers {
    width: 100%;
}

#featured-itemslider .sliderwrap, #new-itemslider .sliderwrap, #related-itemslider .sliderwrap, #special-itemslider .sliderwrap, #productscategory-itemslider .sliderwrap, #crossselling-itemslider .sliderwrap, #blog_related-itemslider .sliderwrap, #bestsellers-itemslider .sliderwrap, #accessories-itemslider .sliderwrap, .flexslider.product_categories-itemslider .sliderwrap {
    position: relative;
}

//Module: Brand slider
#brands-itemslider-column .slides img, #brands-itemslider .slides img {
    border: 1px solid #e5e5e5;
}

.product_image {
    display: block;
    position: relative;
}
//Sticker
span {
    &.on_sale, &.new {
        position: absolute;
        top: 25px;
        display: inline-block;
        font-size: 0.833em;
        height: 0;
        width: 0;
        line-height: 0;
        text-align: center;
        z-index: 5;
    }
    &.on_sale i, &.new i {
        color: #fff;
        left: 7px;
        position: absolute;
        text-transform: uppercase;
        font-style: normal;
        white-space: nowrap;
    }
    &.on_sale {
        i {
            left: -33px;
        }
        border: 10px solid #ff8a00;
        color: #ff8a00;
        border-left-width: 40px;
        border-right-color: transparent;
        left: 0;
    }
    &.new {
        border: 10px solid #00A161;
        color: #00A161;
        border-right-width: 40px;
        border-left-color: transparent;
        right: 0;
    }
}

.sale_percentage_sticker {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 6px;
    padding: 6px 0;
    height: 48px;
    line-height: 14px;
    width: 48px;
    font-size: 0.916em;
    text-align: center;
    border: 4px solid #00A161;
    color: #00A161;
    background: #fff;
    overflow: hidden;
    z-index: 4;
}

//Hover fly
.pro_first_box {
    position: relative;
    overflow: hidden;
}
.hover_fly {
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    a {
        transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        &:first-child {
            transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
        }
    }
    .price {
	    color: #D8F6E6;
	}
}

.hover_fly {
    position: absolute;
    bottom: -35px;
    width: 100%;
    left: 0;
    background: #BBBBBB;
    z-index: 6;
    &.hover_fly_static {
        position: relative;
        bottom: 0;
    }
    a {
        font-size: 1em;
        color: #fff;
        display: inline-block;
        width: 15%;
        height: 35px;
        line-height: 34px;
        position: relative;
        background: url(../img/split_f5.gif) repeat-y left top #bbbbbb;
        float: right;
        text-align: center;
        white-space: nowrap;
        border-top: 1px solid #fafafa !important;
        div{
        	overflow: hidden;
        }
        &:first-child {
            background-image: none;
            width: 55%;
            text-align: center;
            background-color: #00A161;
            color: #FFF;
            float: left;
            left: 0;
            span {
                display: inline-block;
            }
        }
        span {
            display: none;
            left: 2.2em;
            white-space: nowrap;
            font-size: 1em;
            vertical-align: top;
        }
        i{
        	height: 34px;
        	line-height: 32px;
        	&.icon-0x{
        		font-size: 1.666em;
        	}
        }
        &:hover {
            width: 55% !important;
            background-color: #00a161 !important;
            color: white !important;
            span {
                display: inline-block !important;
            }
        }
    }
    &:hover a:first-child {
        width: 15%;
        background-color: #BBBBBB;
        text-align: center;
        span {
            display: none;
        }
    }
    &.fly_3 {
        a {
            width: 20%;
            &:first-child {
                width: 60%;
            }
            &:hover {
                width: 60% !important;
            }
        }
        &:hover a:first-child {
            width: 20%;
        }
    }
    &.fly_2 {
        a {
            width: 30%;
            &:first-child {
                width: 70%;
            }
            &:hover {
                width: 70% !important;
            }
        }
        &:hover a:first-child {
            width: 30%;
        }
    }
    &.fly_1 {
        a {
            width: 100%;
            &:first-child {
                width: 100%;
                position: relative !important;
            }
            &:hover {
                width: 100% !important;
            }
        }
        &:hover a:first-child {
            width: 100%;
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .hover_fly {
        a {
            &:first-child {
                position: absolute;
                width: 57%;
            }
            &:hover {
                width: 57% !important;
            }
        }
        &.fly_3 a {
            &:first-child {
                position: absolute;
                width: 62%;
            }
            &:hover {
                width: 62% !important;
            }
        }
        &.fly_2 a {
            &:first-child {
                position: absolute;
                width: 74%;
            }
            &:hover {
                width: 74% !important;
            }
        }
    }
}

noindex:-o-prefocus, .hover_fly a:first-child{position:absolute;width:57%;}
noindex:-o-prefocus, .hover_fly a:hover{width: 55%!important;}

noindex:-o-prefocus, .hover_fly.fly_3 a:first-child{position:absolute;width:62%;}
noindex:-o-prefocus, .hover_fly.fly_3 a:hover{width: 60%!important;}

noindex:-o-prefocus, .hover_fly.fly_2 a:first-child{position:absolute;width:74%;}
noindex:-o-prefocus, .hover_fly.fly_2 a:hover{width: 70%!important;}

.products_slider .ajax_block_product:hover .hover_fly, .product_list.grid .ajax_block_product:hover .hover_fly {
    bottom: 0;
}

.products_slider .ajax_block_product:hover .pro_second_box, .product_list.grid .ajax_block_product:hover .pro_second_box {
    background: #fafafa;
}


.pro_list_attributes p {
    margin-bottom: 5px;
}

.grid_view #product_list .pro_list_attributes p {
    text-align: center;
}

.itemlist_action a {
    font-size: 1em;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: relative;
    overflow: hidden;
    background: #00A161;
    text-align: left;
    &:hover {
        width: 104px;
    }
    span {
        position: absolute;
        left: 30px;
        top: 0;
    }
}

.pro_second_box {
    padding: 6px;
    position: relative;
    .s_title_block, .price_container, .rating_box {
        text-align: center;
        margin-bottom: 6px;
    }
}
//Alerts
.warning, .success, .error, .message {
    padding: 14px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: block;
    @include border-radius(2px);
   ul{
   	margin-bottom: 0;
   }
}

.warning {
    color: #7c622a;
    background-color: #FDEDA4;
    border: 1px solid #FDEDA4;
}

.success {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #dff0d8;
}

.error {
    color: #c02230;
    background-color: #F5DAD3;
    border: 1px solid #F5DAD3;
    ol{
    	list-style: decimal;
    	margin-bottom: 0;
    }
}

.message {
    color: #3a87ad;
    background-color: #d9edf7;
    border: 1px solid #d9edf7;
}

.error {
    ol {
        margin-left: 20px;
    }
    p.lnk {
        margin: 0.833em 0 0;
        padding: 0;
    }
}
//Rightbar
#rightbar {
    position: fixed;
    _position: absolute;
    z-index: 110;
    right: 0px;
    bottom: 40%;
    background: #f1f1f1;
    border: 1px solid #E5E5E5;
    border-left: none;
}

#switch_left_column_wrap {
    float: left;
}

#switch_right_column_wrap {
    float: right;
}

.rightbar_wrap, #to_top_wrap, #switch_left_column_wrap, #switch_right_column_wrap {
    position: relative;
    z-index: 120;
}

.rightbar_wrap a.icon_wrap, #to_top_wrap a.icon_wrap, #switch_left_column_wrap a.icon_wrap, #switch_right_column_wrap a.icon_wrap {
    padding: 6px;
    width: 50px;
    height: 50px;
    border-left: 1px solid #E5E5E5;
}

#switch_left_column_wrap {
    padding-left: 0;
}

.rightbar_content {
    display: none;
    position: absolute;
    top: 0;
    right: 48px;
    background: #fff;
    border: 1px solid #e5e5e5;
    min-height: 32px;
}
//Opener
.opener, .grower {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 10px 17px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    background: url(../img/opener.png) center center no-repeat #FAFAFA;
    &:hover{
    	background: url(../img/opener-w.png) center center no-repeat #666666;
    }
}

.active > .opener, .open > .opener, .grower.OPEN {
	background: url(../img/opener-active.png) center center no-repeat #FAFAFA;
}

.active > .opener:hover, .open > .opener:hover, .grower.OPEN:hover {
	background: url(../img/opener-active-w.png) center center no-repeat #666666;
}
//Icon_wrap
.icon_wrap, .shopping_cart .ajax_cart_right {
    background: #f1f1f1;
    color: #00A161;
}

a.icon_wrap.active, .icon_wrap.active, a.icon_wrap:hover, .icon_wrap:hover, 
#searchbox_inner.active #submit_searchbox.icon_wrap, .shopping_cart:hover .icon_wrap,
.shopping_cart.active .icon_wrap,.myaccount-link-list a:hover .icon_wrap{
    background: #00A161;
    color: #fff;
}

.shopping_cart.icon_wrap:hover,
.shopping_cart.icon_wrap.active,
#submit_searchbox:hover,
#searchbox_inner.active #search_query_top,
#searchbox_inner.active #submit_searchbox.icon_wrap,
.shopping_cart:hover .icon_wrap,.shopping_cart.active .icon_wrap {
    border-color: #00A161;
}

.shopping_cart.icon_wrap {
    &:hover b, &.active b {
        border-left-color: #00A161;
    }
}

a.icon_wrap.disabled, .icon_wrap.disabled {
    color: #cccccc;
}

a.icon_wrap.disabled:hover, .icon_wrap.disabled:hover {
    background: inherit;
    color: #cccccc;
}

a.icon_wrap, .icon_wrap, a.icon_circle, .icon_circle, .shopping_cart .ajax_cart_right {
    display: inline-block;
    height: 42px;
    line-height: 36px;
    min-width: 42px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
}

a.icon_circle, .icon_circle {
    @include border-radius(500px);
}

a.icon_wrap i.icon-0x, .icon_wrap i.icon-0x {
    display: block;
    text-align: center;
    height: 22px;
    line-height: 22px;
}

.icon_text {
    display: block;
    height: 14px;
    line-height: 14px;
    font-size: 0.8333em;
    overflow: hidden;
}
#rightbar-shopping_cart, .shopping_cart, #rightbar-product_compare {
    position: relative;
}

#rightbar-shopping_cart, #rightbar-product_compare {
    z-index: 122;
}

.amount_circle {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    background: #666;
    color: #fff;
    height: 16px;
    line-height: 14px;
    width: 16px;
    font-size: 0.916em;
    @include border-radius(8px);
    &.dozens {
        width: auto;
        padding: 0 8px;
        line-height: 14px;
    }
    &.hidden {
        display: none;
    }
}

//SelectBox
.selectBox-dropdown {
    min-width: 40px;
    position: relative;
    border: solid 1px #e5e5e5;
    line-height: 25px;
    height: 25px;
    text-decoration: none;
    text-align: left;
    outline: 0;
    vertical-align: middle;
    background: #fff;
    display: inline-block;
    cursor: default;
    &:hover,&.selectBox-active{
    	border-color: #999;
    }
    .selectBox-label {
        padding: 0 6px;
        line-height: 22px;
        height: 23px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
    }
    .selectBox-arrow {
        position: absolute;
        top: 0;
        right: 0;
        width: 23px;
        line-height: 22px;
        height: 23px;
        background: url(../img/jquery.selectBox-arrow.gif) 50% center no-repeat;
        cursor: pointer;
    }
}

.selectBox-dropdown-menu {
    position: absolute;
    z-index: 200;
    max-height: 200px;
    min-height: 1em;
    border: solid 1px #cecece;
    background: #ffffff;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.selectBox-inline {
    min-width: 150px;
    outline: 0;
    border: solid 1px #BBB;
    background: #ffffff;
    display: inline-block;
    @include border-radius(4px);
    overflow: auto;
    &:focus {
        border-color: #cecece;
    }
}

.selectBox-options {
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
    LI {
        list-style: none;
        display: block;
        cursor: default;
        padding: 0;
        margin: 0;
        A {
            list-style: none;
            display: block;
            cursor: default;
            padding: 0;
            margin: 0;
            line-height: 2em;
            padding: 0 .5em;
            white-space: nowrap;
            overflow: hidden;
            background: 6px center no-repeat;
        }
        &.selectBox-hover A {
            background-color: #f0f0f0;
        }
        &.selectBox-disabled A {
            color: #888;
            background-color: transparent;
        }
        &.selectBox-selected A {
            background-color: #f0f0f0;
        }
    }
    .selectBox-optgroup {
        color: #666;
        background: #EEE;
        font-weight: bold;
        line-height: 1.5;
        padding: 0 .3em;
        white-space: nowrap;
    }
}

.selectBox.selectBox-disabled {
    color: #888888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    opacity: .5;
    filter: alpha(opacity = 50);
    border-color: #666666;
}

.selectBox-inline.selectBox-disabled {
    color: #888888 !important;
    .selectBox-options A {
        background-color: transparent !important;
    }
}

//Categories tree
.categories_tree_block li {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    .grower {
        &.OPEN, &.CLOSE {
            padding: 6px 13px;
            top: 4px;
            &:after{
		    	left: 9px;
		    }
        }
    }
    &.last {
        border: none;
    }
    a {
        display: block;
        padding: 10px 35px 10px 5px;
    }
    ul {
        margin-left: 20px;
        .grower {
            &.OPEN, &.CLOSE {
                background-color: transparent;
                top: 0px;
            }
            &.OPEN:hover, &.CLOSE:hover {
                background-color: #666666;
            }
        }
        li {
            border: none;
            a {
                padding-left: 0;
                background: none;
                padding: 6px 27px 6px 5px;
            }
        }
    }
}
//

.products_slider .ajax_block_product:hover, .product_list.grid .ajax_block_product:hover {
    .pro_first_box, .pro_second_box {
        -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    }
}


.product_list.list .ajax_block_product:hover {
    -webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}


//IdTabs
.product_accordion {
    padding: 0 1.3em;
}
.common_tabs{
	margin-bottom: 0;
	a {
	    display: block;
	    padding: 0.833em 1.666em;
	    text-decoration: none;
	    color: #666;
	    background: #e5e5e5;
	    &:hover {
	        color: #333;
	    }
	    &.selected {
	        background: #FAFAFA;
	        color: #333;
    	}
    }
}

.product_accordion_title, .idTabs a {
    font-size: 1.166em;
}

.product_accordion_title {
    padding: 10px 0;
}

#more_info_sheets, #referral_program_sheets {
    padding: 1em 0;
    background: #FAFAFA;
}

#more_info_sheets .product_desc {
    margin-top: 5px;
    .product_image {
        float: left;
    }
    .block_description {
        float: left;
        margin-left: 10px;
    }
    .clear_product_desc {
        clear: both;
        height: 0;
        line-height: 0;
    }
}


.rte ul {
	list-style-type: disc;
}

.rte ol {
	list-style-type: decimal;
}


ul.square,
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#more_info_sheets ul,
#more_info_sheets ol,
#more_info_sheets dl,
.menu_custom_content ul,
.menu_custom_content ol,
.menu_custom_content dl,
.blog_content ul,
.blog_content ol,
.blog_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl,
.rte ul,
.rte ol,
.rte dl{
    margin-left: 1.5em;
    margin-bottom: 1em;
}

#short_description_content em,
#more_info_sheets em,
.menu_custom_content em,
.rte em,
.blog_content em{
    font-style: italic;
}

#short_description_content h1.heading,
#more_info_sheets h1.heading,
.menu_custom_content h1.heading,
.blog_content h1.heading,
.rte h1.heading,
#tinymce h1.heading{
    font-size: 2em;
    line-height: 1.25em;
    margin-bottom: 16px;
}
#short_description_content h2.heading,
#more_info_sheets h2.heading,
.menu_custom_content h2.heading,
.blog_content h2.heading,
.rte h2.heading,
#tinymce h2.heading{
    font-size: 1.6666em;
    line-height: 1.2em;
    margin-bottom: 14px;
}
#short_description_content h3.heading,
#more_info_sheets h3.heading,
.menu_custom_content h3.heading,
.blog_content h3.heading,
.rte h3.heading,
#tinymce h3.heading{
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 12px;
}

#short_description_content em, #more_info_sheets em .menu_custom_content em, .blog_content em, .rte em {
    font-style: italic;
}

ul.square, #short_description_content ul, #more_info_sheets ul, .menu_custom_content ul, #tinymce ul, .blog_content ul , .rte ul {
    list-style: square;
}

ul.desc, #short_description_content ul.desc, #more_info_sheets ul.desc, .menu_custom_content ul.desc, #tinymce ul.desc, .blog_content ul.desc, .rte ul.desc {
    list-style: disc;
}

ol.decimal, #short_description_content ol, #more_info_sheets ol, .menu_custom_content ol, #tinymce ol, .blog_content ol , .rte ol {
    list-style: decimal;
}

#short_description_content hr, #more_info_sheets hr, .menu_custom_content hr, .blog_content hr, #tinymce hr, .rte hr {
    clear: both;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    margin: 12px 0 12px;
}

.bullet li a {
    display: block;
    padding: 0px 0 2px 0;
    &:hover {
        text-decoration: none;
    }
}
//Module: steasycontent
.easycontent em {
    font-style: italic;
}

//
.pro_column_list li, .pro_column_box {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid $base-border-color;
}

.pro_column_list li:last-child, .pro_column_box:last-child {
    border: none;
}

.pro_column_left {
    width: 56px;
    float: left;
}

.pro_column_right {
    margin-left: 66px;
}

.itemlist_left {
    width: 100px;
    float: left;
}

.itemlist_right {
    margin-left: 110px;
    .s_title_block {
        height: 2.666em;
        line-height: 1.333em;
        margin-bottom: 10px;
    }
    .price_container span {
        display: inline-block;
    }
}

.small_list_left {
    width: 100px;
    float: left;
}

.small_list_right {
    margin-left: 110px;
}

.pro_itemlist li {
	padding-top: 2em;
	padding-bottom: 1em;
}
//
.quantity_input_wrap,.cart_quantity_button {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-right: 20px;
}

.product_quantity_up, .product_quantity_down, .cart_quantity_up, .cart_quantity_down {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-left:0;
    text-align: center;
    position: absolute;
    right: 0; 
}

.product_quantity_up, .cart_quantity_up {
	border-bottom: 0;
	top: 0;
}

.product_quantity_down, .cart_quantity_down {
	bottom: 0;
}

.product_quantity_up:hover, .product_quantity_down:hover, .cart_quantity_up:hover, .cart_quantity_down:hover {
    text-decoration: none;
    background-color: #666666;
    color: #fff;
}
//Form
#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form{
	.form-group, .form-stru{
		> label{
			display: inline-block;
		    padding: 6px 15px;
		    text-align: right;
		    width: 260px;
		    color: #333;
		    vertical-align: top;
		    sup{
		    	color: #ee001c;
		    }
		}
	}
	.form-group .form-control{
		display: inline-block;
	}
	#uniform-newsletter, #uniform-optin, #uniform-invoice_address{
		 margin-left: 264px;
	}
	.submit, .submit2{
		padding-left: 264px;
	}
	span.form_info, p.inline-infos, span.inline-infos{
		color: #999999;
	    display: block;
	    margin: 0 0 5px 265px;
	}
	div.selector{
		display: inline-block;
	}
}

#center_column.col-md-9{
	#address,
	#account-creation_form,
	#new_account_form,
	#opc_account_form{
		.form-group, .form-stru{
			> label{
			    width: 200px;
			}
		}
		#uniform-newsletter, #uniform-optin, #uniform-invoice_address{
			 margin-left: 204px;
		}
		.submit, .submit2{
			padding-left: 204px;
		}
		span.form_info, p.inline-infos, span.inline-infos{
		    margin: 0 0 5px 205px;
		}
	}
	#address,
	#account-creation_form,
	#new_account_form,
	#opc_account_form {
		.form-group {
			.form-control {
				max-width: 250px;
			}
		}
	}

}
#identity{
	#center_column.col-md-9{
		.form-group, .form-stru{
			> label{
			    width: 200px;
			}
		}
		#uniform-newsletter, #uniform-optin, #uniform-invoice_address, .submit, .submit2{
			padding-left: 204px;
		}
		span.form_info, p.inline-infos, span.inline-infos{
		    margin: 0 0 5px 205px;
		}
	}
}
#identity,
#authentication{
	#center_column.col-md-9{
		.form-group {
			.form-control {
				max-width: 250px;
			}
		}		
	}
}

#login_form, #create-account_form{
	.form-group{
		width: 254px;
	}
}
//Shopping cart
table#cart_summary_total{
  float: right;
  width: 320px; 
}
//Logo center
.logo_center {
    #logo_wrapper {
        text-align: center;
    }
    #header_right {
        #search_query_top {
            display: none;
            position: absolute;
            top: 0;
            right: 100%;
        }
        #searchbox_inner {
            &:hover #search_query_top, &.active #search_query_top {
                display: inline-block;
            }
        }
    }
    #header_left, #logo_wrapper, #header_right {
        height: 86px;
        display: table;
    }
    #header_logo_inner, #header_left_inner, #header_right_inner {
        display: table-cell;
        vertical-align: middle;
    }
    #header_logo {
        display: inline-block;
        max-width: 460px;
    }
    #shopping_cart .ajax_cart_left,#shopping_cart .ajax_cart_right,#submit_searchbox{
    	border-color: transparent;
    }
}
//
.st_banner_block .st_banner_image{
	img{
		height: auto;
    	max-width: 100%;
	}
}
.box-cart-bottom #wishlist_button i,
.box-cart-bottom .add_to_compare i,
.product_list.list .act_box_inner .addToWishlist i,
.product_list.list .act_box_inner .add_to_compare i,
.product_list.list .act_box_inner .quick-view i{
	vertical-align: middle;
	font-size: 1.5em;
}
.sm_lable{
	display: inline-block;
	color: #fff;
    background: #b5b5b5;
    padding: 0 4px;
    @include border-radius(2px);
}
.layer_box{
	text-align: left;
	background-color: $light-background;
	position: absolute;
	display: none;
	z-index: 230;
	width: 380px;
	margin-left: -190px;
	left: 50%;
	@include border-radius(4px);
	.layer_inner_box{
		padding: 12px 18px;
	}
	.layer_product{
		position: relative;
		.product-image-container {
			max-width: 58px;
			border: 1px solid #f5f5f5;
			float: left;
		}
		.layer_product_info {
			margin-left: 68px;
			.product-name {
				display: block;
				padding-bottom: 6px;
				font-size: 1.166em;
			}
		}
	}
	.layer_details {
		margin-top: 10px;
	}
	.button-container {
		margin-top: 10px;
	}
	.cross {
		position: absolute;
		right: -36px;
		top: -28px;
		cursor: pointer;
		width: 28px;
		height: 28px;
		background: none;
		font-size: 1.3em;
		line-height: 28px;
		color: $base-text-color;
		text-align: center;
		background: white;
		@include border-radius(50px);
		&:after {
			content: "\e849";
			font-family: $font-icon;
		}
	}
	.continue {
		cursor: pointer;
	}
}
.layer_overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 220;
	@include opacity(.20);
}

* html .layer_overlay {
	position: absolute;
	left: 0;
	margin-left: -160px;
	@include opacity(.20)
}
//Module: blockmyaccount
.myaccount-column .list-block li .icon_wrap{
	display: none;
}

//
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
	font-family: "fontello" !important;
	content: '\e854' !important;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
	font-family: "fontello" !important;
	content: '\e84b' !important;
}
.footable .footable-sortable {
	.footable-sort-indicator:after {
		font-family: "fontello" !important;
		content: '\e84c' !important;
	}
	&.footable-sorted .footable-sort-indicator:after{
		content: '\e852' !important;
	}
	&.footable-sorted-desc .footable-sort-indicator:after{
		content: '\e853' !important;
	}
}

#create-account_form {
	.form-group {
		label{
		    font-weight: bold;
		}
	}
}

#login_form {
	.form-group {
		margin: 0 0 6px 0;
		label{
		    font-weight: bold;
		}
	}
	.lost_password {
		margin: 1em 0;
		display: block;
		color: #666;
	}
}
//Module: Facebook likebox
#fb-root {
    display: none;
}

.fb_like_box_warp .fb_iframe_widget {
    width: 100% !important;
    span {
        width: 100% !important;
        iframe[style] {
            width: 100% !important;
        }
    }
}

.fb_edge_widget_with_comment {
    margin-right: 16px;
}
// jquery.fitvids.js

.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.zoomPad{
	z-index: 60 !important;
	float: none !important;
}
.product_img_link, .product_image{
  position: relative;
  display: block;
  img.front-image, img.back-image{
  	display: block;
	width: 100%;
	height: auto;
    transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    -o-transition: all 600ms ease;
  }
  img.front-image{
  	position: relative;
  }
  img.back-image{
  	position: absolute;
  }
}

#right_column #newsletter_block_left.col-sm-3, #left_column #newsletter_block_left.col-sm-3{
	width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.zoomPreload{
	overflow: hidden;
	background-position: center center !important;
	text-indent: -5000px;
}
.font_icon_1{
	height: 60px;
	width: 60px;
	line-height: 60px;
	-webkit-box-shadow: 0 0 0 2px #333333 inset;
	-moz-box-shadow: 0 0 0 2px #333333 inset;
	box-shadow: 0 0 0 2px #333333 inset;
	@include border-radius(100px);
	text-align: center;
	margin-top: 6px;
	position: relative;
	overflow: hidden;
	em{
		display: inline-block;
		height: 54px;
		line-height: 54px;
		width: 1em;
		position: relative;
		z-index: 2;
	}
	&:before {
		display: block;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0;
		width: 100%;
		background-color: #333333;
	    transition: height 0.3s ease-out;
	    -moz-transition: height 0.3s ease-out;
	    -ms-transition: height 0.3s ease-out;
	    -webkit-transition: height 0.3s ease-out;
	    -o-transition: height 0.3s ease-out;
		z-index: 1;
	}
}
.wrap_font_icon_1:hover{
	.font_icon_1{
		&:before{
			height: 100%;
		}
		em{
			color: #ffffff;
		}
	}
}
.wrap_font_icon_2{
	display: block;
	em{
		top: 0;
		position: relative;
		transition: top 150ms linear;
		-moz-transition: top 150ms linear;
		-ms-transition: top 150ms linear;
		-webkit-transition: top 150ms linear;
		-o-transition: top 150ms linear;
	}
	span{
		display: block;
		margin-bottom: 4px;
		font-weight: block;
		font-size: 1.38em;
	}
}
.wrap_font_icon_2:hover em{
   top: -10px;
}
/*custom block*/
.contact_item_large{
	font-size: 1.333em;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	display: inline-block;
	padding: 1em 30px 0 0;
}
.contact_item_large i,.contact_item_large em{
	vertical-align: middle;
	margin-right: 4px;
	display: inline-block;
}
.row.st_banner_block{
	margin-left: -10px;
	margin-right: -10px;
}
.st_banner_block .st_banner_image{
	padding-left: 10px;
	padding-right: 10px;
}
#version_switching .col-xs-12{
	text-align: left;
}
#top_bar{
	.header_user_info {
		float: right;
	}
	#header_user_info{
		.sing_up, .my_account_link{
			display: none;
		}
	}
}