@import "compass";
@import "theme_variables";

/*******************************************************
Product list Styles
********************************************************/

ul.product_list {
	position: relative;
	.availability {
		span {
			&.available-now {
			}
			&.out-of-stock{
			}
		}
	}
	.product_discount_flags{
		display: none;
	}
	.color-list-container {
		margin-bottom: 6px;
		ul {
			li {
				display: inline-block;
				border: 1px solid $base-border-color;
				a {
					display: block;
					width: 23px;
					height: 23px;
					margin: 1px;
				}	
			}
		}
	}
	.product-image-container {
		text-align: center;
		img {
			margin: 0 auto;
		}	
		.quick-view {
			font: 700 13px/16px $font-family;
			color: #777676;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -21px 0 0 -53px;
			padding: 13px 0 0;
			background: rgba(255,255,255,0.82);
			width: 107px;
			height: 43px;
			text-align: center;
			@include box-shadow(rgba(black, 0.16) 0 2px 8px);
			@media (min-width: $screen-lg) { // min 1200px
				display: none;
			}
			@media (max-width: $screen-xs-max) { // max 767px
				display: none;
			}
		}
	}
	.comments_note {
		text-align: left;
		overflow: hidden;
		.star_content {
			float: left;
		}
		.nb-comments {
			overflow: hidden;
			font-style: italic;
		}
	}
	.functional-buttons {
		div {
			a, label {
				font-weight: bold;
				color: #777676;
				cursor: pointer;
				&:hover { 
					color: #000;
				}	
			}
			&.wishlist { 
				border-right: 1px solid $base-border-color;
				a:before {
					display: inline-block;
					font-family: $font-icon;
					content: "\f08a";
					margin-right: 3px;
					padding: 0 3px;
				}
				a.checked:before {
					content: "\f004";  
				}
				@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
					border-right: 0;
					a:before {
						display:none;
					}
				}
				@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
					border-right: 0;
					a:before {
						display:none;
					}
				}
			}
			&.compare {
				a {
					&:before {
						content: "\f067";
						display: inline-block;
						font-family: $font-icon;
						margin-right: 3px;
						@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
							display: none;
						}
	
						@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
							display: none;
						}
					}
					&.checked {
						&:before {
							content: "\f068";
						}
					}	
				}
			}
		}
	}
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/
.product_list_wrap{
	overflow: hidden;
}
ul.product_list.grid {
	padding-left: 15px;
	padding-right: 15px;
	> li {
		padding-left: 10px;
		padding-right: 10px;
		border-top: 1px solid #e5e5e5;
		text-align: center;
		.product-desc {
			display: none;	
			&.display_sd{
				display: block;
			}
		}
		.act_box{
			display: none;
		}
		.product-container {
			padding:2em 0;
			position: relative;
			.product-image-container {
				border: 1px solid $base-listing-border-color;
				padding: 9px;
				margin-bottom: 13px;
				position: relative;
				@media (max-width: $screen-xs-max) { // max 767px
					max-width: 290px;
					margin-left: auto;
					margin-right: auto;	
				}
				.content_price {
					position: absolute;
					left: 0;
					bottom: -1px;
					width: 100%;
					background: url(../img/price-container-bg.png);
					padding: 9px 0;
					display: none;
					span {
						color: $light-text-color;
						&.old-price {
							color: #b1b0b0;
						}
					}
				}
			}
			.comments_note {
				@media (min-width: $screen-lg) { // min 1200px
					display: none;
				}
				.star_content {
					margin: 0 3px 12px 59px;
				}
			}
			.content_price {
				padding-bottom: 9px; 
				line-height: 21px;
			}
			.old-price, 
			.price, 
			.price-percent-reduction {
				display: inline-block;
			}
			.product-flags {
				display: none;
			}
			.old-price {
				margin-right: 5px;
			}
			.button-container {
				margin-bottom: 14px;
				@media (min-width: $screen-lg) { // min 1200px
					display: none;
				}
				.ajax_add_to_cart_button, 
				span.button,
				.lnk_view { 
					margin: 0 6px 10px 6px;
				}	
			}
			.functional-buttons {
				background: url(../img/functional-bt-shadow.png) repeat-x;
				padding: 11px 0 5px;
				@media (min-width: $screen-lg) { // min 1200px
					display: none;
				}
				div {
					width: 50%;
					float: left;
					padding: 3px 0 4px 0;
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.hovered {
				.product-container {
					@include box-shadow(rgba(black, 0.17) 0 0 13px);
					position: relative;
					z-index: 10;
					.content_price {
						display: none;
					}
					.product-image-container {
						.content_price {
							display: block;	
						}
						.quick-view {
							display: block;
						}
					}
					.functional-buttons, 
					.button-container, 
					.comments_note {
						display: block;
					}
				}
			}
		}
	}
}
#blockpack {
	ul {
		>li {
		}
	}
}

/*******************************************************
Product list(List) Styles 
********************************************************/
ul.product_list.list {
	> li {
		clear: both;
		padding-top: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid #f5f5f5;
		&:last-child{
			border-bottom: none;
		}
		.hover_fly{
			display: none;
		}
		.pro_first_box{
			float: left;
			width: 250px;
		}
		.pro_second_box{
			margin-left: 270px;
			.s_title_block, .price_container, .rating_box, .product_stock_info, .product_online_only{
				text-align: left;
			}			
		}
		.s_title_block{
			font-size: 1.333em;
			margin-bottom: 1em;
		}
		.act_box{
			.ajax_add_to_cart_button, .view_button{
				padding-top: 0;
				padding-bottom: 0;
				height: 40px;
				line-height: 40px;
				@include border-radius(2px);
			}
			.ajax_add_to_cart_button i, .view_button i{
				font-size: 1.5em;
			}
			.ajax_add_to_cart_button span, .view_button span{
				display: inline-block;
				vertical-align: top;
			}
		}
		.act_box_inner a{
			display: inline-block;
			padding-top: 1em;
			white-space: nowrap;
		}
		.product-image-container {
			position: relative;
			border: 1px solid $base-listing-border-color;
			padding: 9px;
			@media (max-width: $screen-xs - 1) { // max 479px
				max-width: 290px;
				margin: 0 auto;
			}
			.content_price {
				display: none !important;	
			}
		}
		.product-flags {
			color: $base-text-color;
			margin: -5px 0 10px 0;
			.discount {
				color: #f13340;	
			}
		}
		h5 {
			padding-bottom: 8px;
		}
		.product-desc {
			margin-bottom: 1em;
		}
		.center-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}	
			.comments_note {
				margin-bottom: 12px;	
			}
		}
		.right-block {
			.right-block-content {
				@media (min-width: $screen-md) { // min 991px
					margin: 0;
					border-left: 1px solid $base-border-color;
					padding-left: 15px;
					padding-bottom: 16px;
				}

				@media (max-width: $screen-sm-max) { // max 991px
					padding-top: 20px;
				}

				@media (max-width: $screen-xs - 1) { // max 479px
					padding-top: 5px;	
				}
				.content_price {
					padding-bottom: 10px;
					@media (max-width: $screen-sm-max) { // max 991px
						padding-top: 13px;
						padding-bottom: 0;	
					}

					@media (max-width: $screen-xs - 1) { // max 479px
						padding-top: 0;
						width: 100%;
					}
					span{
						display: inline-block;
						margin-top: -4px;
						margin-bottom: 14px;
						&.old-price {
							margin-right: 8px;
						}
					}
				}
				.button-container {
					overflow: hidden;
					padding-bottom: 20px;
					@media (max-width: $screen-xs - 1) { // max 479px
						width: 100%;
					}
					.btn {
						margin-bottom: 10px;
						@media (min-width: $screen-md) { // min 991px
						float: left;
						clear: both;	
						}
					}
				}
				.functional-buttons {
					@media (min-width: $screen-md) { // min 991px
						overflow: hidden;
					}
					@media (max-width: $screen-sm-max) { // max 991px
						clear: both;
						> div {
							float: left;
							padding-top: 0 !important;
							padding-right: 20px;
						}
					}
					@media (max-width: $screen-xs - 1) { // max 479px
						float: none;
						display: inline-block;
						a, label {
							i, &:before {
								display: none !important;
							}
						}
					}
					a {
						cursor: pointer;
					}
					.wishlist {
						border:none;		
					}
					.compare {
						padding-top: 10px;
						a {
							&:before {
								margin-right:10px;	
							}
						}
					}
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&:hover {
				.product-image-container {	
					.quick-view {
						display: block;
					}
				}
			}
		}
		@media (max-width: $screen-xs - 1) {	// max 479px
			text-align: center;	
		}
	}
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/

#index {
	ul.product_list.tab-pane {
		> li {
			.availability {
				display: none;
			}
		}
	}
}
/***** IE code *****/

.ie8 {
	.quick-view	 {
		background: #fff;
		border: 1px solid $base-border-color;	
	}
}