@import "bootstrap_lib/variables";
@import "bootstrap_lib/mixins";
// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.
//
// Note that `.col-md-12` doesn't get floated on purpose—there's no need since
// it's full-width.

.container {
  max-width: $container-desktop;
}
#page_wrapper, .wide_container{
	max-width: $screen-desktop;
}


.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left;
}
.col-xs-1  { width: percentage((1 / $grid-columns)); }
.col-xs-2  { width: percentage((2 / $grid-columns)); }
.col-xs-3  { width: percentage((3 / $grid-columns)); }
.col-xs-4  { width: percentage((4 / $grid-columns)); }
.col-xs-5  { width: percentage((5 / $grid-columns)); }
.col-xs-6  { width: percentage((6 / $grid-columns)); }
.col-xs-7  { width: percentage((7 / $grid-columns)); }
.col-xs-8  { width: percentage((8 / $grid-columns)); }
.col-xs-9  { width: percentage((9 / $grid-columns)); }
.col-xs-10 { width: percentage((10/ $grid-columns)); }
.col-xs-11 { width: percentage((11/ $grid-columns)); }
.col-xs-12 { width: 100%; }

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11 {
  float: left;
}

.col-sm-1  { width: percentage((1 / $grid-columns)); }
.col-sm-2  { width: percentage((2 / $grid-columns)); }
.col-sm-3  { width: percentage((3 / $grid-columns)); }
.col-sm-4  { width: percentage((4 / $grid-columns)); }
.col-sm-5  { width: percentage((5 / $grid-columns)); }
.col-sm-6  { width: percentage((6 / $grid-columns)); }
.col-sm-7  { width: percentage((7 / $grid-columns)); }
.col-sm-8  { width: percentage((8 / $grid-columns)); }
.col-sm-9  { width: percentage((9 / $grid-columns)); }
.col-sm-10 { width: percentage((10/ $grid-columns)); }
.col-sm-11 { width: percentage((11/ $grid-columns)); }
.col-sm-12 { width: 100%; }

// Push and pull columns for source order changes
.col-sm-push-1  { left: percentage((1 / $grid-columns)); }
.col-sm-push-2  { left: percentage((2 / $grid-columns)); }
.col-sm-push-3  { left: percentage((3 / $grid-columns)); }
.col-sm-push-4  { left: percentage((4 / $grid-columns)); }
.col-sm-push-5  { left: percentage((5 / $grid-columns)); }
.col-sm-push-6  { left: percentage((6 / $grid-columns)); }
.col-sm-push-7  { left: percentage((7 / $grid-columns)); }
.col-sm-push-8  { left: percentage((8 / $grid-columns)); }
.col-sm-push-9  { left: percentage((9 / $grid-columns)); }
.col-sm-push-10 { left: percentage((10/ $grid-columns)); }
.col-sm-push-11 { left: percentage((11/ $grid-columns)); }

.col-sm-pull-1  { right: percentage((1 / $grid-columns)); }
.col-sm-pull-2  { right: percentage((2 / $grid-columns)); }
.col-sm-pull-3  { right: percentage((3 / $grid-columns)); }
.col-sm-pull-4  { right: percentage((4 / $grid-columns)); }
.col-sm-pull-5  { right: percentage((5 / $grid-columns)); }
.col-sm-pull-6  { right: percentage((6 / $grid-columns)); }
.col-sm-pull-7  { right: percentage((7 / $grid-columns)); }
.col-sm-pull-8  { right: percentage((8 / $grid-columns)); }
.col-sm-pull-9  { right: percentage((9 / $grid-columns)); }
.col-sm-pull-10 { right: percentage((10/ $grid-columns)); }
.col-sm-pull-11 { right: percentage((11/ $grid-columns)); }

// Offsets
.col-sm-offset-1  { margin-left: percentage((1 / $grid-columns)); }
.col-sm-offset-2  { margin-left: percentage((2 / $grid-columns)); }
.col-sm-offset-3  { margin-left: percentage((3 / $grid-columns)); }
.col-sm-offset-4  { margin-left: percentage((4 / $grid-columns)); }
.col-sm-offset-5  { margin-left: percentage((5 / $grid-columns)); }
.col-sm-offset-6  { margin-left: percentage((6 / $grid-columns)); }
.col-sm-offset-7  { margin-left: percentage((7 / $grid-columns)); }
.col-sm-offset-8  { margin-left: percentage((8 / $grid-columns)); }
.col-sm-offset-9  { margin-left: percentage((9 / $grid-columns)); }
.col-sm-offset-10 { margin-left: percentage((10/ $grid-columns)); }
.col-sm-offset-11 { margin-left: percentage((11/ $grid-columns)); }



.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
  float: left;
}
.col-md-1  { width: percentage((1 / $grid-columns)); }
.col-md-2  { width: percentage((2 / $grid-columns)); }
.col-md-3  { width: percentage((3 / $grid-columns)); }
.col-md-4  { width: percentage((4 / $grid-columns)); }
.col-md-5  { width: percentage((5 / $grid-columns)); }
.col-md-6  { width: percentage((6 / $grid-columns)); }
.col-md-7  { width: percentage((7 / $grid-columns)); }
.col-md-8  { width: percentage((8 / $grid-columns)); }
.col-md-9  { width: percentage((9 / $grid-columns)); }
.col-md-10 { width: percentage((10/ $grid-columns)); }
.col-md-11 { width: percentage((11/ $grid-columns)); }
.col-md-12 { width: 100%; }

// Push and pull columns for source order changes
.col-md-push-0  { left: auto; }
.col-md-push-1  { left: percentage((1 / $grid-columns)); }
.col-md-push-2  { left: percentage((2 / $grid-columns)); }
.col-md-push-3  { left: percentage((3 / $grid-columns)); }
.col-md-push-4  { left: percentage((4 / $grid-columns)); }
.col-md-push-5  { left: percentage((5 / $grid-columns)); }
.col-md-push-6  { left: percentage((6 / $grid-columns)); }
.col-md-push-7  { left: percentage((7 / $grid-columns)); }
.col-md-push-8  { left: percentage((8 / $grid-columns)); }
.col-md-push-9  { left: percentage((9 / $grid-columns)); }
.col-md-push-10 { left: percentage((10/ $grid-columns)); }
.col-md-push-11 { left: percentage((11/ $grid-columns)); }

.col-md-pull-0  { right: auto; }
.col-md-pull-1  { right: percentage((1 / $grid-columns)); }
.col-md-pull-2  { right: percentage((2 / $grid-columns)); }
.col-md-pull-3  { right: percentage((3 / $grid-columns)); }
.col-md-pull-4  { right: percentage((4 / $grid-columns)); }
.col-md-pull-5  { right: percentage((5 / $grid-columns)); }
.col-md-pull-6  { right: percentage((6 / $grid-columns)); }
.col-md-pull-7  { right: percentage((7 / $grid-columns)); }
.col-md-pull-8  { right: percentage((8 / $grid-columns)); }
.col-md-pull-9  { right: percentage((9 / $grid-columns)); }
.col-md-pull-10 { right: percentage((10/ $grid-columns)); }
.col-md-pull-11 { right: percentage((11/ $grid-columns)); }

// Offsets
.col-md-offset-0  { margin-left: 0; }
.col-md-offset-1  { margin-left: percentage((1 / $grid-columns)); }
.col-md-offset-2  { margin-left: percentage((2 / $grid-columns)); }
.col-md-offset-3  { margin-left: percentage((3 / $grid-columns)); }
.col-md-offset-4  { margin-left: percentage((4 / $grid-columns)); }
.col-md-offset-5  { margin-left: percentage((5 / $grid-columns)); }
.col-md-offset-6  { margin-left: percentage((6 / $grid-columns)); }
.col-md-offset-7  { margin-left: percentage((7 / $grid-columns)); }
.col-md-offset-8  { margin-left: percentage((8 / $grid-columns)); }
.col-md-offset-9  { margin-left: percentage((9 / $grid-columns)); }
.col-md-offset-10 { margin-left: percentage((10/ $grid-columns)); }
.col-md-offset-11 { margin-left: percentage((11/ $grid-columns)); }

.px-col-md-2{ width: floor($container-desktop / 6); }
.px-col-md-4{ width: floor($container-desktop / 3); }
.px-col-md-6{ width: floor($container-desktop / 2); }
.px-col-md-8{ width: floor($container-desktop / 1.5); }
.px-col-md-10{ width: floor($container-desktop / 1.2); }
.px-col-md-12{ width: floor($container-desktop / 1); }

  @include responsive-visibility('.visible-md.visible-xs');

  @include responsive-visibility('.visible-md.visible-sm');

  @include responsive-visibility('.visible-md');

  @include responsive-visibility('.visible-md.visible-lg');


  @include responsive-invisibility('.hidden-md.hidden-xs');

  @include responsive-invisibility('.hidden-md.hidden-sm');

  @include responsive-invisibility('.hidden-md');

  @include responsive-invisibility('.hidden-md.hidden-lg');

//
#footer {
  #newsletter_block_left {
    .newsletter-input {
      width: 150px !important;
    }
  }
}
ul.product_list.grid {
  > li {
    &.first-in-line {
      clear: left;
    }
    &.first-line {
      border-top: none;
    }
  }
}
.subcate_grid_view, .featured_categories_list, #featured_itemlist{
  > li.first-item-of-line{
    clear: left;
  }
}