@import "bootstrap_lib/variables";
@import "bootstrap_lib/mixins";
// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
//
// Note that `.col-sm-12` doesn't get floated on purpose—there's no need since
// it's full-width.

@media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {   
  #footer {
    #newsletter_block_left {
      .newsletter-input {
        width: 150px !important;
      }
    }
  }
  ul.product_list.grid {
    > li {
      &.first-in-line {
        clear: left;
      }
      &.first-line {
        border-top: none;
      }
    }
  }
  .subcate_grid_view, .featured_categories_list, #featured_itemlist{
    > li.first-item-of-line{
      clear: left;
    }
  }
}

@media (max-width: $screen-md-max) {
  #homepage-slider .homeslider-description{
    padding: 20px;
    font-size: 0.8em;
  }
}