@import "compass";
@import "theme_variables";
#submit_searchbox{
	margin: 0;
	display: inline-block;
	text-align: center;
	border: 1px solid #e5e5e5; 
	vertical-align: middle;
}
#search_block_top {
	display: inline-block;
	margin-right: 4px;
	#searchbox_inner{
		position: relative;
	}
		.active{
			#search_query_top{
				background: #ffffff;
			}
		} 
	.btn.button-search {
		background: $dark-background;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		color: $light-text-color;
		width: 50px;
		text-align: center;
		padding: 10px 0 11px 0;
		&:hover {
			color: #6f6f6f
		}
	}
	#search_query_top {
		padding: 6px;
		width: 264px;
		display: inline-block;
		height: 42px;
		line-height: 42px;
		background: $base-box-bg;
		border: 1px solid #e5e5e5;
		border-right-width: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

.ac_results {
	background: none repeat scroll 0 0 #FFFFFF;
    border: $main_border;
    overflow: hidden;
    padding: 0;
    z-index: 70;
	li {
		border-bottom: 1px solid #f5f5f5;
		cursor: pointer;
		padding: 4px 5px;
		&.ac_odd, &.ac_even {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;	
			color: #333;
		}
		&:last-child{
			border: 0;
		}
		img{
			display: inline-block;
			border: 1px solid #f5f5f5;
			color: #666666;
		}
	}
}	
.ac_product_name{
    color: #666666;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    width: 230px;
}
#ac_search_more{
	padding: 5px 0;
	text-align: center;
}

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}