/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 * readers do not read off random characters that represent icons */

.icon-envelope-alt:before { content: '\e834'; } 
.icon-phone{ content: '\37'; }
.icon-map-marker:before { content: '\e845'; } 
.icon-refresh:before { content: '\e832'; } 

.icon-spin3:before { content: '\e832'; } 
.icon-fire:before { content: '\e85e'; } 
.icon-crown:before { content: '\e857'; } 
.icon-search-1:before { content: '\e80b'; } 
.icon-mail-2:before { content: '\e84d'; } 
.icon-mail-alt:before { content: '\e834'; } 
.icon-heart-2:before { content: '\e805'; } 
.icon-user:before { content: '\e850'; } 
.icon-video-1:before { content: '\e830'; } 
.icon-videocam-1:before { content: '\e82f'; } 
.icon-picture-2:before { content: '\e82e'; } 
.icon-ok:before { content: '\e807'; } 
.icon-ok-circle:before { content: '\2714'; } 
.icon-cancel-1:before { content: '\e806'; } 
.icon-cancel-circled:before { content: '\e842'; } 
.icon-plus-1:before { content: '\e81b'; } 
.icon-plus-squared:before { content: '\e84b'; } 
.icon-minus-1:before { content: '\e81d'; } 
.icon-minus-squared:before { content: '\e854'; } 
.icon-lock:before { content: '\e84f'; } 
.icon-lock-open:before { content: '\e844'; } 
.icon-tag-2:before { content: '\e839'; } 
.icon-flag:before { content: '\e85f'; } 
.icon-pencil:before { content: '\e84e'; } 
.icon-edit:before { content: '\270d'; } 
.icon-print:before { content: '\e716'; } 
.icon-chat-1:before { content: '\e81a'; } 
.icon-location:before { content: '\e845'; } 
.icon-trash:before { content: '\e729'; } 
.icon-doc-text-inv:before { content: '\e82a'; } 
.icon-rss-1:before { content: '\e812'; } 
.icon-phone:before { content: '\e847'; } 
.icon-phone-squared:before { content: '\e833'; } 
.icon-menu:before { content: '\e861'; } 
.icon-cog:before { content: '\2699'; } 
.icon-basket-1:before { content: '\e846'; } 
.icon-down-dir-2:before { content: '\e817'; } 
.icon-up-dir:before { content: '\e816'; } 
.icon-left-dir-1:before { content: '\e815'; } 
.icon-right-dir-2:before { content: '\e814'; } 
.icon-down-open-1:before { content: '\e802'; } 
.icon-left-open-1:before { content: '\e801'; } 
.icon-right-open-1:before { content: '\e803'; } 
.icon-up-open-1:before { content: '\e804'; } 
.icon-angle-left:before { content: '\f104'; } 
.icon-angle-right:before { content: '\f105'; } 
.icon-angle-up:before { content: '\f106'; } 
.icon-angle-down:before { content: '\f107'; } 
.icon-angle-double-left:before { content: '\e823'; } 
.icon-angle-double-right:before { content: '\e822'; } 
.icon-up:before { content: '\2191'; } 
.icon-exchange-1:before { content: '\e808'; } 
.icon-leaf:before { content: '\e85b'; } 
.icon-ajust:before { content: '\e81e'; } 
.icon-tint:before { content: '\e85a'; } 
.icon-check:before { content: '\2611'; } 
.icon-check-empty:before { content: '\f096'; } 
.icon-rocket:before { content: '\e859'; } 
.icon-truck:before { content: '\e828'; } 
.icon-sort:before { content: '\e84c'; } 
.icon-sort-down:before { content: '\e852'; } 
.icon-sort-up:before { content: '\e853'; } 
.icon-note-beamed:before { content: '\e827'; } 
.icon-heart:before { content: '\2665'; } 
.icon-star-1:before { content: '\e800'; } 
.icon-star-empty-1:before { content: '\e851'; } 
.icon-user-1:before { content: '\e81f'; } 
.icon-users:before { content: '\e83a'; } 
.icon-video:before { content: '\e82c'; } 
.icon-picture-1:before { content: '\e82d'; } 
.icon-camera-2:before { content: '\e824'; } 
.icon-plus-2:before { content: '\e813'; } 
.icon-minus:before { content: '\e856'; } 
.icon-spin5:before { content: '\e838'; } 
.icon-info-circled:before { content: '\e705'; } 
.icon-home-1:before { content: '\e80a'; } 
.icon-link:before { content: '\e820'; } 
.icon-eye:before { content: '\e70a'; } 
.icon-tag:before { content: '\e836'; } 
.icon-flag-1:before { content: '\e860'; } 
.icon-reply:before { content: '\e712'; } 
.icon-export:before { content: '\e715'; } 
.icon-vcard:before { content: '\e722'; } 
.icon-tools:before { content: '\e819'; } 
.icon-bag:before { content: '\e83c'; } 
.icon-trophy:before { content: '\e829'; } 
.icon-monitor:before { content: '\e843'; } 
.icon-mobile:before { content: '\e840'; } 
.icon-flight:before { content: '\e825'; } 
.icon-credit-card:before { content: '\e826'; } 
.icon-instagram:before { content: '\e83b'; } 
.icon-home:before { content: '\2302'; } 
.icon-left-open-2:before { content: '\e80d'; } 
.icon-right-open-2:before { content: '\e80c'; } 
.icon-globe-alt:before { content: '\e858'; } 
.icon-mail-1:before { content: '\e835'; } 
.icon-cancel:before { content: '\e849'; } 
.icon-plus:before { content: '\e848'; } 
.icon-minus-2:before { content: '\e84a'; } 
.icon-left:before { content: '\2190'; } 
.icon-right:before { content: '\2192'; } 
.icon-umbrella:before { content: '\e85c'; } 
.icon-mail:before { content: '\e831'; } 
.icon-ok-1:before { content: '\e80f'; } 
.icon-cancel-2:before { content: '\e80e'; } 
.icon-eye-2:before { content: '\e818'; } 
.icon-tag-1:before { content: '\e837'; } 
.icon-thumbs-up-1:before { content: '\e810'; } 
.icon-thumbs-down-1:before { content: '\e811'; } 
.icon-basket:before { content: '\e73d'; } 
.icon-heart-1:before { content: '\e809'; } 
.icon-heart-broken:before { content: '\f028'; } 
.icon-clock:before { content: '\e821'; } 
.icon-fast-food:before { content: '\e85d'; } 
.icon-paypal:before { content: '\24'; } 
.icon-gplus:before { content: '\2b'; } 
.icon-pinterest:before { content: '\31'; } 
.icon-call:before { content: '\37'; } 
.icon-digg:before { content: '\3b'; } 
.icon-blogger:before { content: '\e83f'; } 
.icon-evernote:before { content: '\45'; } 
.icon-flickr:before { content: '\46'; } 
.icon-google:before { content: '\47'; } 
.icon-linkedin:before { content: '\e83d'; } 
.icon-vk:before { content: '\e841'; } 
.icon-rss:before { content: '\52'; } 
.icon-skype:before { content: '\53'; } 
.icon-twitter:before { content: '\54'; } 
.icon-youtube:before { content: '\55'; } 
.icon-vimeo:before { content: '\56'; } 
.icon-amazon:before { content: '\61'; } 
.icon-ebay:before { content: '\65'; } 
.icon-facebook:before { content: '\66'; } 
.icon-tumblr:before { content: '\e83e'; } 
.icon-wordpress:before { content: '\77'; } 
.icon-drupal:before { content: '\e4'; } 
.icon-video-chat:before { content: '\e82b'; } 
.icon-th-large:before { content: '\e023'; } 
.icon-th:before { content: '\e024'; } 
.icon-th-list:before { content: '\e855'; } 
.icon-down-open-2:before { content: '\e0a4'; } 
.icon-left-open-3:before { content: '\e0cd'; } 
.icon-right-open-3:before { content: '\e0cc'; } 
.icon-up-open-2:before { content: '\e0cb'; } 
.icon-qrcode:before { content: '\e057'; } 
.icon-adjust:before { content: '\e81c'; } 
.icon-help-circled:before { content: '\e704'; } 