/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?46453979');
  src: url('../font/fontello.eot?46453979#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?46453979') format('woff'),
       url('../font/fontello.ttf?46453979') format('truetype'),
       url('../font/fontello.svg?46453979#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
